Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/ActInspection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ActInspection:5.4.0" version="5.4.0.0" xmlns:ain="urn:customs.ru:Information:CustomsDocuments:ActInspection:5.4.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.4.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Акт таможенного досмотра (осмотра).</xs:documentation>
   </xs:annotation>
   <xs:element name="ActInspection" type="ain:ActInspectionType"/>
   <xs:complexType name="ActInspectionType">
      <xs:annotation>
         <xs:documentation>Акт таможенного досмотра (осмотра)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="SendDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата направления</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ActNumber" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер акта таможенного досмотра (осмотра)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ActType" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Типа акта: "0" - таможенный досмотр, "1" - таможенный осмотр</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="BeginInspectionTime" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время начала таможенного досмотра (осмотра)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="BeginInspectionDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата начала таможенного досмотра (осмотра)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="EndInspectionTime" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время окончания таможенного досмотра (осмотра)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="EndInspectionDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата окончания таможенного досмотра (осмотра)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SecExempDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата получения второго экземпляра</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SecExempTime" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время получения второго экземпляра</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="NumberOfPlaces" type="clt_ru:Count5Type">
                  <xs:annotation>
                     <xs:documentation>Число мест в партии товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BruttoWeightDocs" type="clt_ru:QuantityBasisType">
                  <xs:annotation>
                     <xs:documentation>Вес брутто товаров по документам</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="NewCustomsModeCode" type="cltESAD_cu:CustomsModeCodeType">
                  <xs:annotation>
                     <xs:documentation>Код нового таможенного режима - для случая проведения досмотра при изменении режима на иной без перемещения товаров через таможенную границу РФ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="CustomsMark" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Служебные отметки </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ActKind" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак досмотра: 1 - досмотре всех товаров, заявленных в ДТ, 2 - досмотр части товаров, заявленных в ДТ, 3 - досмотр товаров, заявленных в нескольких ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ShortFormSign" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак составления АТДО в сокращенной форме</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="EndComposeDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата завершения составления АТДО</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="EndComposeTime" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время завершения составления АТДО</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="InspectionParticipant" type="ain:InspectionParticipantType">
                  <xs:annotation>
                     <xs:documentation>Лицо, присутствующее при досмотре (осмотре)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Consignee" type="ain:ConsigneeType">
                  <xs:annotation>
                     <xs:documentation>Получатель товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Transporter" type="ain:TransporterType">
                  <xs:annotation>
                     <xs:documentation>Перевозчик</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="AccDocs" type="ain:AccDocsType">
                  <xs:annotation>
                     <xs:documentation>Документы, по которым перевозятся товары (ДТ, книжка МДП, транспортные (перевозочные) документы, коммерческие документы, таможенные документы)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="InspectionResults" type="ain:InspectionResultsType">
                  <xs:annotation>
                     <xs:documentation>Результаты таможенного досмотра (осмотра)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TextAct" type="ain:TextActType">
                  <xs:annotation>
                     <xs:documentation>Текст Акта</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Seize" type="ain:SeizeType">
                  <xs:annotation>
                     <xs:documentation>Изъятие</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="AMTInspResults" type="ain:AMTInspResultsType">
                  <xs:annotation>
                     <xs:documentation>Результаты досмотра седельного тягача (товарная позиция 8701 по ТН ВЭД ТС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="BusInspResults" type="ain:BusInspResultsType">
                  <xs:annotation>
                     <xs:documentation>Результаты досмотра автобуса</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="TrailerInspResults" type="ain:TrailerInspResultsType">
                  <xs:annotation>
                     <xs:documentation>Результаты досмотра прицепа, полуприцепа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="TruckInspResults" type="ain:TruckInspResultsType">
                  <xs:annotation>
                     <xs:documentation>Результаты досмотра грузового автомобиля</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="MotoInspResults" type="ain:MotoInspResultsType">
                  <xs:annotation>
                     <xs:documentation>Результаты досмотра мотоцикла (мопеда)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Customs" type="cat_ru:CustomsType">
                  <xs:annotation>
                     <xs:documentation>Таможенный орган</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Consignor" type="ain:ConsignorType">
                  <xs:annotation>
                     <xs:documentation>Отправитель товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="InspectionPlace" type="ain:InspectionPlaceType">
                  <xs:annotation>
                     <xs:documentation>Место проведения таможенного досмотра (осмотра)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="InstructionNumber" type="ain:InspInstructionType">
                  <xs:annotation>
                     <xs:documentation>Сведения о поручении на досмотр</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="ATDCustomsPerson" type="catESAD_ru:ATDCustomPersonType">
                  <xs:annotation>
                     <xs:documentation>Должностное лицо  ТО, присутствовавшее при досмотре</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="AutoInspResults" type="ain:CarInformationType">
                  <xs:annotation>
                     <xs:documentation>Результаты досмотра автомобиля (товарная позиция 8702, 8703 по ТН ВЭД ТС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="InspTransport" type="ain:InspTransportType">
                  <xs:annotation>
                     <xs:documentation>Сведения о транспортных  средствах</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="UseTMCC" type="ain:UseTMCCType">
                  <xs:annotation>
                     <xs:documentation>Применяемые технические средства таможенного контроля</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006033E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AMTDopDeviceType">
      <xs:annotation>
         <xs:documentation>Дополнительное оборудование в тягаче</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CabCowl" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Надкабинный обтекатель: "0" - нет, "1" - нерегулируемый по высоте, "2" - регулируемый по высоте</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ABS" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Антиблокировочная система: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Conditioner" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Кондиционер: "0" - нет, "1" - кондиционер, "2" - климат контроль</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Signalization" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Сигнализация: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="VideotapeRecorder" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Видеомагнитофон: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AudioSystem" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Аудиосистема: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TV" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Телевизор: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Telefon" type="clt_ru:Quantity2Type">
            <xs:annotation>
               <xs:documentation>Количество телефонов: "0" - если нет</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Fax" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Факс: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Fridge" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Холодильник: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Microvawe" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Печь СВЧ: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NavigationSystem" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Навигационная система: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PressRegulationSystem" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Система автоматического регулирования давления в шинах: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AMTInspResultsType">
      <xs:annotation>
         <xs:documentation>Результаты досмотра седельного тягача (товарная позиция 8701 по ТН ВЭД ТС)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="ain:CommonParametersType">
            <xs:sequence>
               <xs:element name="ArriveMode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Транспортное средство (транспортные средства) прибыло (и) в качестве товара: "1" - на транспортном средстве, "2" - в контейнере(ах), "3" - своим ходом</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="HighCeiling" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Наличие высокого потолка: "0" - нет, "1" - есть</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Podveska" type="ain:PodveskaType">
                  <xs:annotation>
                     <xs:documentation>Тип подвески</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TruckParameters" type="ain:TruckParametersType">
                  <xs:annotation>
                     <xs:documentation>Параметры, присущие тягачам и грузовикам</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AMTDopDevice" type="ain:AMTDopDeviceType">
                  <xs:annotation>
                     <xs:documentation>Дополнительное оборудование в тягаче</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Damages" type="ain:DamagesType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AccDocsType">
      <xs:annotation>
         <xs:documentation>Документы, по которым перевозятся товары (ДТ, книжка МДП, транспортные (перевозочные) документы, коммерческие документы, таможенные документы)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType">
                  <xs:annotation>
                     <xs:documentation>Код вида документа. Заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BusDopDeviceType">
      <xs:annotation>
         <xs:documentation>Дополнительное оборудование в автобусе</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ABS" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Антиблокировочная система: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Conditioner" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Кондиционер: "0" - нет, "1" - кондиционер, "2" - климат контроль</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="VideotapeRecorder" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Видеомагнитофон: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AudioSystem" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Аудиосистема: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TV" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Телевизор: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Telefon" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
               <xs:documentation>Количество телефонов: "0" - если нет</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Fax" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Факс: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BioCloset" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Биотуалет: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Fridge" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Холодильник: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Microvawe" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Печь СВЧ: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NavigationSystem" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Навигационная система: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BusInspResultsType">
      <xs:annotation>
         <xs:documentation>Результаты досмотра автобуса (товарная позиция 8702 по ТН ВЭД ТС)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="ain:CommonParametersType">
            <xs:sequence>
               <xs:element name="ArriveMode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Транспортное средство (транспортные средства) прибыло (и) в качестве товара: "1" - на транспортном средстве, "2" - в контейнере(ах), "3" - своим ходом</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SeatPlaceNumber" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Число мест для сидения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="StandPlaceNumber" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Число мест для стояния</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PassPlaceNumber" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Общее число мест, включая водителя</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Lengthm" type="cltESAD_ru:LengthQuantityType">
                  <xs:annotation>
                     <xs:documentation>Длина, м</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Widthm" type="cltESAD_ru:LengthQuantityType">
                  <xs:annotation>
                     <xs:documentation>Ширина (без зеркал заднего вида), м</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Heightm" type="cltESAD_ru:LengthQuantityType">
                  <xs:annotation>
                     <xs:documentation>Высота (без климатической установки или топливных баков для газового топлива), м</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SolarBatPresence" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Наличие солнечных двухсекционных батарей: "0" - нет, "1" - да</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="LuggBoxNumber" type="clt_ru:Count2Type">
                  <xs:annotation>
                     <xs:documentation>Количество багажных (грузовых) отсеков</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="LuggBoxVolume" type="clt_ru:QuantityBasisType">
                  <xs:annotation>
                     <xs:documentation>Общий объем багажных (грузовых) отсеков в кубических метрах</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="NumberOfStore" type="clt_ru:Count2Type">
                  <xs:annotation>
                     <xs:documentation>Этажность</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SeatKind" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип кресел: "1" - мягкие, "2" - жесткие, "3" - с откидной спинкой</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="WindowKind" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип остекления салона: "0" - без остекления, "1" - одинарные стекла, "2" - двойной стеклопакет, "3" - тройной стеклопакет</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PassDoorNumber" type="clt_ru:Count2Type">
                  <xs:annotation>
                     <xs:documentation>Количество дверей для пассажиров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DriverCabDividingWall" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Перегородка, отделяющая место водителя</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Podveska" type="ain:PodveskaType">
                  <xs:annotation>
                     <xs:documentation>Тип подвески</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BusDopDevice" type="ain:BusDopDeviceType">
                  <xs:annotation>
                     <xs:documentation>Дополнительное оборудование в автобусе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Damages" type="ain:DamagesType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CarInformationType">
      <xs:annotation>
         <xs:documentation>Результаты досмотра автомобиля (товарная позиция 8702, 8703 по ТН ВЭД ТС)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_ru:AutoInspResultsType">
            <xs:sequence>
               <xs:element name="ArriveMode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Транспортное средство (транспортные средства) прибыло (и) в качестве товара: "1" - на транспортном средстве, "2" - в контейнере(ах), "3" - своим ходом</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CargoPlaceType">
      <xs:annotation>
         <xs:documentation>Характеристика грузового места</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CargoPlaceKind" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Тип грузового места: "1" - платформа, "2" - бортовая платформа с тентом, "3" - самосвал - односторонняя разгрузка, "4" - самосвал - двухсторонняя разгрузка, "5" - самосвал - трехсторонняя разгрузка, "6" - цистерна, "7" - термо-цистерна, "8" - крытый фургон, "9" - изотермический фургон, "10" - рефрижераторный фургон, "11" - пассажирский кунг, "12" - грузопассажирский фургон вагонной компоновки, "13" - другое</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Lengthm" type="cltESAD_ru:LengthQuantityType">
            <xs:annotation>
               <xs:documentation>Длина грузовой площадки платформы, м</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Widthm" type="cltESAD_ru:LengthQuantityType">
            <xs:annotation>
               <xs:documentation>Ширина грузовой площадки платформы, м</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Heightm" type="cltESAD_ru:LengthQuantityType">
            <xs:annotation>
               <xs:documentation>Высота грузового отсека фургона, м</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CommonParametersType">
      <xs:annotation>
         <xs:documentation>Общие параметры</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Model" type="clt_ru:TransportNameType">
            <xs:annotation>
               <xs:documentation>Марка, модель (полностью)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="VINID" type="clt_ru:VINIDType">
            <xs:annotation>
               <xs:documentation>Идентификационный номер (VIN) транспортного средства</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="EngineModel" type="cltESAD_ru:EngineModelType">
            <xs:annotation>
               <xs:documentation>Модель двигателя</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="EngineNumber" type="clt_ru:EngineIDType">
            <xs:annotation>
               <xs:documentation>Номер двигателя</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CapstanNumber" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Число осей</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="WheelSize" type="clt_ru:Text10Type">
            <xs:annotation>
               <xs:documentation>Размерность колес (указанная на боковине покрышки)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NumberOfPhoto" type="clt_ru:Count2Type">
            <xs:annotation>
               <xs:documentation>Количество прилагаемых фотографий</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsigneeType">
      <xs:annotation>
         <xs:documentation>Получатель товаров</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DestinCountry" type="clt_ru:CountryNameType">
                  <xs:annotation>
                     <xs:documentation>Страна назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PhysicalPersonIdCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность - в случае, если получатель является физическим лицом</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ConsignorType">
      <xs:annotation>
         <xs:documentation>Отправитель товаров</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DepartCountry" type="clt_ru:CountryNameType">
                  <xs:annotation>
                     <xs:documentation>Страна отправления</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PhysicalPersonIdCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность - в случае, если отправитель является физическим лицом</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ContainerType">
      <xs:annotation>
         <xs:documentation>Сведения о контейнерах.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ContainerQuantity" type="clt_ru:Quantity8Type">
            <xs:annotation>
               <xs:documentation>Количество контейнеров. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="ContainerIdentificator" type="clt_ru:ContainerIdentityType">
            <xs:annotation>
               <xs:documentation>Номер (идентификатор) контейнера.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DamagesType">
      <xs:annotation>
         <xs:documentation>Видимые повреждения</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="VisDamage" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Видимые повреждения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FactWeightType">
      <xs:annotation>
         <xs:documentation>Фактический вес товаров</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Netto" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес товара неттто, кг</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Brutto" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес товара брутто, кг</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FWMethod" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Способ определения фактического веса товаров: "0" - фактическое взвешивание,  "1" - определение среднего веса одного места взвешиванием нескольких мест, "2" - расчетный метод, "3" - прочее.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="WFMetodsComments" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание "прочего" метода определения фактического веса товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="WeighPlacesNumber" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Количество взвешенных мест</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="PlaceWeight" type="clt_ru:WeighQuantityType">
            <xs:annotation>
               <xs:documentation>Вес одного места</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="IdentifyMeanType">
      <xs:annotation>
         <xs:documentation>Средство идентификации</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="IdentMeanState" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Статус средства идентификации 1 - средство идентификации до начала проведения таможенного досмотра 2 - средство идентификации после проведения таможенного досмотра (наложенные)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IdentNumber" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Номер наложенного средства идентификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IdentBreakFlag" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак нарушения средств идентификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IdentKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Вид средств идентификации: 1 - пломба, 2 - печать, 3 - иное</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IdentDesc" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечание по средству идентификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RecordNumber" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер записи в таблице БД</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InspGoodsType">
      <xs:annotation>
         <xs:documentation>АТД - сведения о товарe</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:GoodsBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="CountryCode" type="clt_ru:CountryA2CodeType">
                  <xs:annotation>
                     <xs:documentation>Двузначный буквенный альфа-2 код страны изготовления (производства) товара по общероссийскому классификатору стран мира (согласно маркировке)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CountryName" type="clt_ru:CountryNameType">
                  <xs:annotation>
                     <xs:documentation>Краткое наименование страны изготовления (производства) товара по общероссийскому классификатору стран мира (согласно маркировке)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CountrySrcFlag" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Код источника информации о стране изготовления: 1 - маркировка на товаре 2- маркировка на упаковке  3 -сведения из документов 4- другие источники</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="16" minOccurs="0" name="CountrySrcDesc" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание источника информации о стране изготовления. Заполняется  при CountrySrcFlag =  4- другие источники</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DocBruttoWeight" type="clt_ru:QuantityBasisType">
                  <xs:annotation>
                     <xs:documentation>Вес брутто товаров по документам (кг.)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GoodsDamageFlag" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак повреждения товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="16" minOccurs="0" name="DamageDesc" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание повреждения товаров и упаковки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GoodsViolationFlag" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак выявленных несоответствий относительно имеющихся у инспектора документов: 1 - по весу нетто; 2 -по количеству товаров, в единицах измерения, отличных от кг; 3 - по описанию; 4 - по иным признакам</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="16" minOccurs="0" name="GoodsViolationDesc" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание иных  признаков несоответствия. Заполняется при GoodsViolationFlag = 4 - по иным признакам</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GoodsTestFlag" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак взятия проб и образцов: 0 - пробы и образцы товара не отбирались; 1- пробы и образцы товара отбирались</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GoodsNumericDT" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Номер товара по ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType">
                  <xs:annotation>
                     <xs:documentation>Количество товаров в  единице измерения, отличной от кг</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="CargoInfo" type="ain:InspPackageType">
                  <xs:annotation>
                     <xs:documentation>Сведения о виде груза</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PlaceInfo" type="ain:InspPackageType">
                  <xs:annotation>
                     <xs:documentation>Сведения о таре (потребительской / индивидуальной)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PalleteInfo" type="ain:InspPackageType">
                  <xs:annotation>
                     <xs:documentation>Сведения о поддонах / палетах</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PackageInfo" type="ain:InspPackageType">
                  <xs:annotation>
                     <xs:documentation>Cведения об упаковкe</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InspInstructionType">
      <xs:annotation>
         <xs:documentation>Сведения о поручении на досмотр</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Time" type="clt_ru:TimeCustType">
            <xs:annotation>
               <xs:documentation>Время выдачи поручения на досмотр</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного органа, зарегистрировавшего ПТД</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата регистрации ПТД</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PTDNumber" type="clt_ru:Code6Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер ПТД   по журналу регистрации</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InspPackageType">
      <xs:annotation>
         <xs:documentation>АТД - сведения об упаковках</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:PackingInformationType">
            <xs:sequence>
               <xs:element maxOccurs="16" minOccurs="0" name="PackageDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание упаковки и расфасовки товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PackDestructFlag" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак наличия повреждений товаров и упаковки 0 - повреждений нет 1 - повреждения есть</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="16" minOccurs="0" name="PackDestructDesc" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание повреждений упаковки</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InspTransportMeanType">
      <xs:annotation>
         <xs:documentation>Описание транспортного средства</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUTransportMeansType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="TransportMeans" type="cat_ru:TransportMeansBaseType">
                  <xs:annotation>
                     <xs:documentation>Транспортные  средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InspTransportType">
      <xs:annotation>
         <xs:documentation>Сведения о транспортных  средствах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ArriveMode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Транспортное средство (транспортные средства) прибыло (и) в качестве товара: "1" - на транспортном средстве, "2" - в контейнере(ах), "3" - своим ходом</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InspTransportMean" type="ain:InspTransportMeanType">
            <xs:annotation>
               <xs:documentation>Описание транспортного средства</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ContainerInfo" type="ain:ContainerType">
            <xs:annotation>
               <xs:documentation>Сведения о контейнерах.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InspectionParticipantType">
      <xs:annotation>
         <xs:documentation>Лицо, присутствующее при досмотре (осмотре)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:PersonBaseType">
            <xs:sequence>
               <xs:element name="Status" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Статус или должность лица, присутствующего при досмотре (осмотре): 3 - декларант (иное лицо, уполномоченное в отношении товаров, либо представитель); 4 - понятой; 5 - эксперт; 6 - оператор почтовой связи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Reason" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Причина проведения таможенного досмотра в отсутствие декларанта или иного лица, обладающего полномочиями в отношении товаров (их представителей)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Job" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Место работы</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AddresseeMPO" type="clt_ru:Code13Type">
                  <xs:annotation>
                     <xs:documentation>Номер МПО, с которым направлен второй АТД(О), в адрес лица, обладающего полномочиями в отношении товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ATDReceiveCopy" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак, подтверждающий факт получения второго экземпляра АТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ParticipantDocs" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AuthoritesDocs" type="cat_ru:AuthoritesDocumentType">
                  <xs:annotation>
                     <xs:documentation>Документ, подтверждающий полномочия</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InspectionPlaceType">
      <xs:annotation>
         <xs:documentation>Описание места проведения досмотра. </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CustomsType">
            <xs:sequence>
               <xs:element name="InformationTypeCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Тип информации: 11- СВХ;  21- ТС; 25 - Свободный склад; 31- Склад получателя; 41 - Склад хранения собственных товаров (для РК); 52 - Транспортное средство (для РК); 60 - Помещение (площадки) УЭО; 72 - ЗТК (для РБ); 91 - Адрес места хранения  (для РБ); 99 - Иное место ВХ, 80- ОЭЗ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="InspPlaceName" type="clt_ru:PlaceNameType">
                  <xs:annotation>
                     <xs:documentation>Наименование места досмотра, СВХ, ж/д станции</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="InspPlaceDesc" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание места проведения досмотра. Иная информация о месте досмотра</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="InspAddress" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес места досмотра (заполняется, в случае досмотра вне СВХ)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="WarehousePlace" type="ain:WarehousePlaceType">
                  <xs:annotation>
                     <xs:documentation>Сведения об СВХ/ЗТК</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InspectionResultsType">
      <xs:annotation>
         <xs:documentation>Результаты таможенного досмотра (осмотра)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ApplicMarks" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Прилагаемые к акту марки, этикетки т.д.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AKParts" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Статьи Административного кодекса, под которые подпадают обнаруженные признаки административных правонарушений</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NewIdentMarks" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание наложенных средств идентификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NumberOfNewIdentMarks" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Число наложенных средств идентификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ViolationSign" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак выявления нарушения таможенного законодательства при пересылке товаров в МПО в адрес физического лица</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Radiation" type="ain:RadiationType">
            <xs:annotation>
               <xs:documentation>Измерение уровня радиации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FactWeight" type="ain:FactWeightType">
            <xs:annotation>
               <xs:documentation>Фактический вес товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="IdentifyMean" type="ain:IdentifyMeanType">
            <xs:annotation>
               <xs:documentation>Средство идентификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="InspGoods" type="ain:InspGoodsType">
            <xs:annotation>
               <xs:documentation>Сведения о товарe</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MPO" type="ain:MPOType">
            <xs:annotation>
               <xs:documentation>Сведения о предъявленном МПО</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MPOType">
      <xs:annotation>
         <xs:documentation>Сведения о предъявленном МПО</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MPO_Number" type="clt_ru:Code13Type">
            <xs:annotation>
               <xs:documentation>Номер МПО</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MPO_Name" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Наименование МПО: 1 - почтовая карточка; 2 - письмо; 3 - бандероль; 4 - мелкий пакет; 5 - секограмма; 6 - посылка; 7 - мешок «М»; 8 - отправление EMS; 9 - аэрограмма</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MPO_DamageFlag" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак повреждения МПО</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="16" minOccurs="0" name="DamageDesc" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание повреждения МПО</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MotoInspResultsType">
      <xs:annotation>
         <xs:documentation>Результаты досмотра мотоцикла (мопеда) (товарная позиция 8711 по ТН ВЭД ТС)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_ru:AutoMotoParametersType">
            <xs:sequence>
               <xs:element name="ArriveMode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Транспортное средство (транспортные средства) прибыло (и) в качестве товара: "1" - на транспортном средстве, "2" - в контейнере(ах), "3" - своим ходом</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="MotoKind" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип мотоцикла. "0" - мотоцикл, "1" - мопед, "2" - скутер</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="EngineKind" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип двигателя: "1" - двухтактный, "2" -четырехтактный, "3" - прочее</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Frame" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Рама (материал): "1" - сталь, "2" - титан, "3" - алюминий, "4" - прочее</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="FrontBrake" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Передние тормоза: "1" - дисковые, "2" - барабанные, "3" - прочее</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RearBrake" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Задние тормоза: "1" - дисковые, "2" - барабанные, "3" - прочее</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ElDriveGlass" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Электропривод лобового стекла: "0" - нет, "1" - есть</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ElHeatingHandle" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Электроподогрев ручек: "0" - нет, "1" - есть</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Optic" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Оптика</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="AdjustDevice" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Наличие регулировки подвески: "0" - нет, "1" - есть</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PodveskaType">
      <xs:annotation>
         <xs:documentation>Подвеска колес</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="FrontSuspension" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Тип передней подвески оси: "1" - рессорная, "2" - пневматическая, "3" - торсионная</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="RearSuspension" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Тип задней подвески оси: "1" - рессорная, "2" - пневматическая, "3" - торсионная</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RadiationType">
      <xs:annotation>
         <xs:documentation>Измерение уровня радиации</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RadValue" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Уровень радиационного фона в микрорентгенах</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DeviceName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование прибора, которым проводились измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DeviceNumber" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Номер прибора, которым проводились измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DeviceCertificate" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Свидетельство о поверке используемого оборудования</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SeizeType">
      <xs:annotation>
         <xs:documentation>Изъятие</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Presence" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>"0" - изъятие не производилось, "1" - произведено взятие проб и образцов по акту</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SeizeAct" type="cat_ru:DocumentBaseType">
            <xs:annotation>
               <xs:documentation>Акт взятие проб и образцов</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TextActType">
      <xs:annotation>
         <xs:documentation>Текст Акта</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="Paragraph" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Абзац текста</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TrailerInspResultsType">
      <xs:annotation>
         <xs:documentation>Результаты досмотра прицепа, полуприцепа (товарная позиция 8716 по ТН ВЭД ТС)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="ain:CommonParametersType">
            <xs:sequence>
               <xs:element name="ArriveMode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Транспортное средство (транспортные средства) прибыло (и) в качестве товара: "1" - на транспортном средстве, "2" - в контейнере(ах), "3" - своим ходом</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Skatnost" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Колеса задних осей: "1" - односкатные, "2" - двускатные</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Podveska" type="ain:PodveskaType">
                  <xs:annotation>
                     <xs:documentation>Тип подвески</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CargoPlace" type="ain:CargoPlaceType">
                  <xs:annotation>
                     <xs:documentation>Характеристика грузового места</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Damages" type="ain:DamagesType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TransporterType">
      <xs:annotation>
         <xs:documentation>Перевозчик</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="DriverDocs" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Паспортные данные физического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TruckDopDeviceType">
      <xs:annotation>
         <xs:documentation>Дополнительное оборудование в грузовом автомобиле</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CabCowl" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Надкабинный обтекатель: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Winch" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Лебедка: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Manipulator" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Манипулятор для погрузочно-разгрузочных операций: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Stage" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Подъемно-откидная рампа для погрузочно-разгрузочных операций: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ABS" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Антиблокировочная система: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Conditioner" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Кондиционер: "0" - нет, "1" - кондиционер, "2" - климат контроль</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AudioSystem" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Аудиосистема: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Telefon" type="clt_ru:Quantity2Type">
            <xs:annotation>
               <xs:documentation>Количество телефонов: "0" - если нет</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Fridge" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Холодильник: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Microvawe" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Печь СВЧ: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NavigationSystem" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Навигационная система: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PressRegulationSystem" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Система автоматического регулирования давления в шинах: "0" - нет, "1" - есть</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TruckInspResultsType">
      <xs:annotation>
         <xs:documentation>Результаты досмотра грузового автомобиля (товарная позиция 8704 по ТН ВЭД ТС)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="ain:CommonParametersType">
            <xs:sequence>
               <xs:element name="ArriveMode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Транспортное средство (транспортные средства) прибыло (и) в качестве товара: "1" - на транспортном средстве, "2" - в контейнере(ах), "3" - своим ходом</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DuoCabPresence" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Наличие сдвоенной кабины: "0" - нет, "1" - да</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TruckParameters" type="ain:TruckParametersType">
                  <xs:annotation>
                     <xs:documentation>Параметры, присущие тягачам и грузовикам</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CargoPlace" type="ain:CargoPlaceType">
                  <xs:annotation>
                     <xs:documentation>Характеристика грузового места</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TruckDopDevice" type="ain:TruckDopDeviceType">
                  <xs:annotation>
                     <xs:documentation>Дополнительное оборудование в грузовом автомобиле</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Podveska" type="ain:PodveskaType">
                  <xs:annotation>
                     <xs:documentation>Подвеска колес</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Damages" type="ain:DamagesType"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TruckParametersType">
      <xs:annotation>
         <xs:documentation>Параметры, присущие тягачам и грузовикам</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DriveCapstanNumber" type="clt_ru:Quantity2Type">
            <xs:annotation>
               <xs:documentation>Число ведущих осей</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Compositing" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Компоновка: "1" - кабина за двигателем (капотная), "2" - кабина над двигателем (бескапотная)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SleepPlaceNumber" type="clt_ru:Quantity2Type">
            <xs:annotation>
               <xs:documentation>Количество спальных мест ("0" - в случае отсутствия спальных мест)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Skatnost" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Колеса задних осей: "1" - односкатные, "2" - двускатные</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UseTMCCType">
      <xs:annotation>
         <xs:documentation>Применяемые технические средства таможенного контроля</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TSTKCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код применяемых ТСТК</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Comments" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="WarehousePlaceType">
      <xs:annotation>
         <xs:documentation>Место погрузки/разгрузки. Сведения о лицензии/ свидетельстве склада.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DocumentModeCode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип документа:1-Лицензия 2-Свидетельство</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
