Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/ActInspectionIn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ainin="urn:customs.ru:Information:CustomsDocuments:ActInspectionIn:5.4.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ActInspectionIn:5.4.0" elementFormDefault="qualified" version="5.4.0.0">
	<xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.4.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Акт таможенного досмотра (внутренний формат)</xs:documentation>
	</xs:annotation>
	<xs:element name="ActInspectionIn" type="ainin:ActInspectionInType"/>
	<xs:complexType name="ActInspectionInType">
		<xs:annotation>
			<xs:documentation>Акт таможенного досмотра (внутренний формат)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="BeginInspectionTime" type="clt_ru:TimeCustType">
						<xs:annotation>
							<xs:documentation>Время начала таможенного досмотра (осмотра)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BeginInspectionDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата начала таможенного досмотра (осмотра)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndInspectionTime" type="clt_ru:TimeCustType">
						<xs:annotation>
							<xs:documentation>Время окончания таможенного досмотра (осмотра)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndInspectionDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата окончания таможенного досмотра (осмотра)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ActType" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Признак досмотра: 1 - досмотре всех товаров, заявленных в ДТ, 2 - досмотр части товаров, заявленных в ДТ, 3 - досмотр товаров, заявленных в нескольких ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ATDGlobalID" type="clt_ru:DocumentIDType">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор акта таможенного досмотра</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ATDKind" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак досмотра: 0 - досмотр; 1 - осмотр</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ModificationDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата модификации </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ModificationTime" type="clt_ru:TimeCustType">
						<xs:annotation>
							<xs:documentation>Время модификации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TechMarkCode" type="clt_ru:Code3Type">
						<xs:annotation>
							<xs:documentation>Код  проставленной технологической отметки. Код технологической операции заполняется:  001- ошибочно переданный АТД ; 002 - АТД, содержащий ошибку в регистрационном номере; 000 - в прочие случаи.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsMark" type="ainin:FreeText4000" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Служебные отметки </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ShortFormSign" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Признак составления АТДО в сокращенной форме: 1 - да; 0 - нет</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndComposeDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата завершения составления АТДО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndComposeTime" type="clt_ru:TimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время завершения составления АТДО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ATDRegNumber" type="cat_ru:GTDID6Type">
						<xs:annotation>
							<xs:documentation>Регистрационный номер акта таможенного досмотра</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InstructionNumber" type="ainin:InspInstructionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения  о поручении на досмотр</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspectionPlace" type="ainin:InspectionPlaceType">
						<xs:annotation>
							<xs:documentation>Описание места проведения досмотра. Иная информация о месте досмотра</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspPerson" type="ainin:InspPersonType">
						<xs:annotation>
							<xs:documentation>Присутствующие лица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspTransport" type="ainin:InspTransportType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о транспортных  средствах</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspectionInfo" type="ainin:InspectionInfoType">
						<xs:annotation>
							<xs:documentation>Информация о проведенном досмотре</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ATDTechOperation" type="ainin:TechOperationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Информация о технологической операции</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006036E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ContainerType">
		<xs:annotation>
			<xs:documentation>Сведения о контейнерах.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContainerQuantity" type="clt_ru:Quantity8Type">
				<xs:annotation>
					<xs:documentation>Количество контейнеров. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContainerIdentificator" type="clt_ru:ContainerIdentityType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Номер (идентификатор) контейнера.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FactWeightInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об общем фактическом весе товаров</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WeightNettoFact" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фактический вес товара нетто, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightBruttoFact" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Фактический вес товара брутто, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightMethodKind" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Способ определения фактического веса товаров: "1" - фактическое взвешивание,  "2" - определение среднего веса одного места взвешиванием нескольких мест, "3" - расчетный метод, "4" - прочее.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightMetodDesc" type="ainin:FreeText4000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Примечание к способу взвешивания: количество взвешенных мест, способов расчетов, описание прочего способа взвешивания.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentifyMeanType">
		<xs:annotation>
			<xs:documentation>Cредство идентификации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentMeanState" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Статус средства идентификации 1 - средство идентификации до начала проведения таможенного досмотра 2 - средство идентификации после проведения таможенного досмотра (наложенные)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentNumber" type="clt_ru:Text50Type">
				<xs:annotation>
					<xs:documentation>Номер наложенного средства идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentBreakFlag" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак нарушения средств идентификации ("0" - не нарушено, "1" - нарушено)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentKind" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Вид средств идентификации: 1 - пломба, 2 - печать, 3 - иное</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentDesc" type="ainin:FreeText4000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Примечание по средству идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordNumber" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер записи в таблице БД</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentityMeansInfoType">
		<xs:annotation>
			<xs:documentation>Средства идентификации</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IdentBeforeNum" type="clt_ru:Quantity4Type">
				<xs:annotation>
					<xs:documentation>Кол-во средств идентификации до начала проведения досмотра (0 - без средств идентификации)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentCrashFlag" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак нарушения средств идентификации ("0" - не нарушены, "1" - нарушены)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentEndNum" type="clt_ru:Quantity4Type">
				<xs:annotation>
					<xs:documentation>Кол-во наложенных средств идентификации после проведения таможенного досмотра (0 - без средств идентификации)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentMeansDesc" type="ainin:FreeText4000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общие примечания по средствам идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentifyMean" type="ainin:IdentifyMeanType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Cредство идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InspGTDType">
		<xs:annotation>
			<xs:documentation>Номер ДТ в которой заявлены сведения о досматриваемых  товарах</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GTDIDType">
				<xs:sequence>
					<xs:element name="RecordNumber" type="clt_ru:Count5Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер записи в таблице БД</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InspGoodsType">
		<xs:annotation>
			<xs:documentation>АТД - сведения о товарe</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:GoodsBaseType">
				<xs:sequence>
					<xs:element name="CountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Двузначный буквенный альфа-2 код страны изготовления (производства) товара по общероссийскому классификатору стран мира (согласно маркировке)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CountryName" type="clt_ru:CountryNameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Краткое наименование страны изготовления (производства) товара по общероссийскому классификатору стран мира (согласно маркировке)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CountrySrcFlag" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Код источника информации о стране изготовления: 1 - маркировка на товаре 2- маркировка на упаковке  3 -сведения из документов 4- другие источники</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CountrySrcDesc" type="ainin:FreeText4000" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описание источника информации о стране изготовления. Заполняется  при CountrySrcFlag =  4- другие источники</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocBruttoWeight" type="clt_ru:QuantityBasisType">
						<xs:annotation>
							<xs:documentation>Вес брутто товаров по документам (кг.)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsDamageFlag" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Признак повреждения товара 0 -  повреждения отсутствуют; 1 - товар поврежден</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DamageDesc" type="ainin:FreeText4000" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описание повреждения товаров и упаковки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsViolationFlag" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак выявленных несоответствий относительно имеющихся у инспектора документов: 1 - по весу нетто; 2 -по количеству товаров, в единицах измерения, отличных от кг; 3 - по описанию; 4 - по иным признакам</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsViolationDesc" type="ainin:FreeText4000" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описание иных  признаков несоответствия. Заполняется при GoodsViolationFlag = 4 - по иным признакам</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsTestFlag" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Признак взятия проб и образцов: 0 - пробы и образцы товара не отбирались; 1- пробы и образцы товара отбирались</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RecordNumber" type="clt_ru:Count5Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер записи в таблице БД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsNumericDT" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер товара по ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PackageInfo" type="ainin:InspPackageType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>АТД - сведения об упаковках</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество товаров в  единице измерения, отличной от кг</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CargoInfo" type="ainin:InspPackageType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о виде груза</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlaceInfo" type="ainin:InspPackageType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о таре (потребительской / индивидуальной)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PalleteInfo" type="ainin:InspPackageType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о поддонах / палетах</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InspInstructionType">
		<xs:annotation>
			<xs:documentation>Сведения о поручении на досмотр</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Time" type="clt_ru:TimeCustType">
				<xs:annotation>
					<xs:documentation>Время выдачи поручения на досмотр</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа, зарегистрировавшего ПТД.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegistrationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата регистрации ПТД.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PTDNumber" type="clt_ru:Code6Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер ПТД   по журналу регистрации.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InspPackageType">
		<xs:annotation>
			<xs:documentation>АТД - сведения об упаковках</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:PackingInformationType">
				<xs:sequence>
					<xs:element name="PackageDescription" type="ainin:FreeText4000" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описание упаковки и расфасовки товара</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PackDestructFlag" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Признак наличия повреждений товаров и упаковки 0 - повреждений нет 1 - повреждения есть</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PackDestructDesc" type="ainin:FreeText4000" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Описание повреждений упаковки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RecordNumber" type="clt_ru:Count5Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер записи в таблице БД</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InspPersonType">
		<xs:annotation>
			<xs:documentation>Присутствующие лица</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonFlag" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак присутствия заинтересованных лиц при проведении досмотра</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ATDCustomPerson" type="catESAD_ru:ATDCustomPersonType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Должностное лицо  ТО, присутствовавшее при досмотре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionParticipant" type="ainin:InspectionParticipantType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Лицо, присутствующее при досмотре (осмотре)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InspRadiationInfoType">
		<xs:annotation>
			<xs:documentation>Измерение уровня радиационного излучения</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RadValue" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Уровень радиационного фона </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RadDeviceName" type="clt_ru:FreeText250Type">
				<xs:annotation>
					<xs:documentation>Наименование прибора, которым проводились измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeviceCertificate" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Свидетельство о поверке используемого оборудования</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InspTestActType">
		<xs:annotation>
			<xs:documentation>АТД - взятие проб и образцов</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="SeizureDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата взятия проб и образцов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SeizureActDesc" type="ainin:FreeText4000" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Примечание к акту взятия проб и образцов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RecordNumber" type="clt_ru:Count5Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер записи в таблице БД</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InspTransportMeanType">
		<xs:annotation>
			<xs:documentation>Описание транспортного средства</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUTransportMeansType">
				<xs:sequence>
					<xs:element name="TransportMeans" type="cat_ru:TransportMeansBaseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Транспортные средства</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InspTransportType">
		<xs:annotation>
			<xs:documentation>Сведения о транспортных  средствах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ArriveMode" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Транспортное средство (транспортные средства) прибыло (и) в качестве товара: "1" - на транспортном средстве, "2" - в контейнере(ах), "3" - своим ходом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspTransportMean" type="ainin:InspTransportMeanType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание транспортного средства</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Container" type="ainin:ContainerType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о контейнерах.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InspectionDocumentType">
		<xs:annotation>
			<xs:documentation>АТД - документ по которому проведен таможенный досмотр</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида документа. Заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustWaybillNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный номер накладной</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RecordNumber" type="clt_ru:Count5Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер записи в таблице БД</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InspectionInfoType">
		<xs:annotation>
			<xs:documentation>Информация о проведенном досмотре</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InspItemNum" type="clt_ru:Quantity8Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество мест товара (партий товара), предъявленных к таможенному досмотру (по документам)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossWeightDocs" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Общий вес брутто товаров по документам (кг.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ViolationSign" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак нарушения таможенного законодательства при пересылке товаров в МПО в адрес физического лица: 0 - не выявлено; 1 - выявлено</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspGTDNum" type="ainin:InspGTDType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Номер ДТ в которой заявлены сведения о досматриваемых  товарах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FactWeightInfo" type="ainin:FactWeightInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения об общем фактическом весе товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspRadiationInfo" type="ainin:InspRadiationInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Измерение уровня радиационного излучения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentityMeansInfo" type="ainin:IdentityMeansInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Средства идентификации</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionResult" type="ainin:InspectionResultType">
				<xs:annotation>
					<xs:documentation>Результаты таможенного досмотра</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspectionDocument" type="ainin:InspectionDocumentType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>АТД - документ по которому проведен таможенный досмотр</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspGoods" type="ainin:InspGoodsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товаре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UseTMCC" type="ainin:UseTMCCType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Применяемые технические средства таможенного контроля</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MPO" type="ainin:MPOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о предъявленном МПО</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InspectionParticipantType">
		<xs:annotation>
			<xs:documentation>Лицо, присутствующее при досмотре (осмотре)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ainin:PersonInfType">
				<xs:sequence>
					<xs:element name="Status" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Статус или должность лица, присутствующего при досмотре (осмотре): 3 - декларант (иное лицо, уполномоченное в отношении товаров, либо представитель); 4 - понятой; 5 - эксперт; 6 - оператор почтовой связи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ATDRecriveDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата получения второго экземпляра на руки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ATDReceiveTime" type="clt_ru:TimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время получения второго экземпляра</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RecordNumber" type="clt_ru:Count5Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер записи в таблице БД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Reason" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Причина проведения таможенного досмотра в отсутствие декларанта или иного лица, обладающего полномочиями в отношении товаров (транспортных средств), либо их представителей</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Job" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Место работы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ATDReceiveCopy" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Признак, подтверждающий факт получения второго экземпляра АТД  представителем декларанта или лица, уполномоченного в отношении товаров 0 - не получено 1 - получено</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AddresseeMPO" type="clt_ru:Code13Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер МПО, с которым направлен второй АТД(О), в адрес лица, обладающего полномочиями в отношении товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IdentityCard" type="cat_ru:IdentityCardType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Документ, удостоверяющий личность</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Address" type="cat_ru:AddressType">
						<xs:annotation>
							<xs:documentation>Адрес местожительства понятого</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AuthoritesDocument" type="cat_ru:AuthoritesDocumentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Документ, подтверждающий полномочия. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InspectionPlaceType">
		<xs:annotation>
			<xs:documentation>Описание места проведения досмотра. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CustomsType">
				<xs:sequence>
					<xs:element name="InformationTypeCode" type="clt_ru:Code2Type">
						<xs:annotation>
							<xs:documentation>Тип информации: 11- СВХ;  21- ТС; 25 - Свободный склад; 31- Склад получателя; 41 - Склад хранения собственных товаров (для РК); 52 - Транспортное средство (для РК); 60 - Помещение (площадки) УЭО; 72 - ЗТК (для РБ); 91 - Адрес места хранения  (для РБ); 99 - Иное место ВХ, 80 - ОЭЗ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspPlaceName" type="clt_ru:PlaceNameType">
						<xs:annotation>
							<xs:documentation>Наименование места досмотра, СВХ, ж/д станции</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspPlaceDesc" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание места проведения досмотра. Иная информация о месте досмотра</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="InspAddress" type="cat_ru:AddressType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Адрес места досмотра (заполняется, в случае досмотра вне СВХ)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WarehousePlace" type="ainin:WarehousePlaceType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об СВХ/ЗТК</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InspectionResultType">
		<xs:annotation>
			<xs:documentation>Результаты таможенного досмотра</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SeizureFlag" type="clt_ru:LetterIndicatorType">
				<xs:annotation>
					<xs:documentation>Признак взятия проб и образцов 0 - пробы и образцы не отбирались 1 - пробы и образцы отбирались</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ViolationFlag" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак наличия административного правонарушения, отнесенного к компетенции таможенного органа: "0" - нет признаков административного правонарушения; "1" - есть признаки административного правонарушения.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ATDAdditions" type="ainin:FreeText4000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Описание приложений к Акту досмотра</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LawDecision" type="ainin:LawDecisionType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Статьи КОАП по которым выявлены признаки АП. Общая описательная часть акта досмотра, относящаяся ко всем товарам</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InspTestAct" type="ainin:InspTestActType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Акт взятия проб и образцов</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LawDecisionType">
		<xs:annotation>
			<xs:documentation>Статьи КОАП по которым выявлены признаки АП.  Общая описательная часть акта досмотра, относящаяся ко всем товарам</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ArticleNumber" type="clt_ru:Text4Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер статьи КоАП РФ, предусматривающей ответственность за совершение административного правонарушения (для значения PriznInfo = "false")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArticlePartNumber" type="clt_ru:Text4Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер части статьи КоАП РФ  (для значения PriznInfo = "false")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionDesc" type="ainin:FreeText4000" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Примечание по принятым решениям (PriznInfo = "true"). Общая описательная часть акта досмотра, относящаяся ко всем товарам (PriznInfo = "false")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordNumber" type="clt_ru:Count5Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер записи</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriznInfo" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак информации: false - примечания по принятым решениям; true - общая описательная часть акта досмотра, относящаяся ко всем товарам</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MPOType">
		<xs:annotation>
			<xs:documentation>Сведения о предъявленном МПО</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MPO_Number" type="clt_ru:Code13Type">
				<xs:annotation>
					<xs:documentation>Номер МПО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MPO_Name" type="clt_ru:Numeric1Type">
				<xs:annotation>
					<xs:documentation>Наименование МПО: 1 - почтовая карточка; 2 - письмо; 3 - бандероль; 4 - мелкий пакет; 5 - секограмма; 6 - посылка; 7 - мешок «М»; 8 - отправление EMS; 9 - аэрограмма</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MPO_DamageFlag" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Признак повреждения МПО: 0 -  повреждения отсутствуют; 1 - повреждено</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DamageDesc" type="clt_ru:FreeText250Type" minOccurs="0" maxOccurs="16">
				<xs:annotation>
					<xs:documentation>Описание повреждения МПО</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OperationInfoType">
		<xs:annotation>
			<xs:documentation>Информация об операции (заполняется при TechMarkCode = 001 и 002)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CustomsPersonType">
				<xs:sequence>
					<xs:element name="OperationDocCode" type="clt_ru:CodeVariable2Type">
						<xs:annotation>
							<xs:documentation>Тип документа </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OperationDocNum" type="clt_ru:DocumentNumberType">
						<xs:annotation>
							<xs:documentation>Номер документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OperationDocDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonInfType">
		<xs:annotation>
			<xs:documentation>Сведения о лицах, принимающих  участие в досмотре</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:PersonBaseType">
				<xs:sequence>
					<xs:element name="SignatureFlag" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Признак, подтверждающий факт подписи АТД: 0 - не подписано 1 - подписано</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TechOperationType">
		<xs:annotation>
			<xs:documentation>Информация о технологической операции</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TechOperationDate" type="clt_ru:DateCustType">
				<xs:annotation>
					<xs:documentation>Дата внесения информации о технологической операции</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ATDOperationInfo" type="ainin:OperationInfoType">
				<xs:annotation>
					<xs:documentation>Информация об операции (номер документа, должностное лицо ТО)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModifiedATDNum" type="cat_ru:GTDID6Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Исправленное значение номера АТД</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UseTMCCType">
		<xs:annotation>
			<xs:documentation>Применяемые технические средства таможенного контроля</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TSTKCode" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Код применяемых ТСТК</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Комментарии</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarehousePlaceType">
		<xs:annotation>
			<xs:documentation>Место погрузки/разгрузки. Сведения о лицензии/ свидетельстве склада.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentModeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип документа:1-Лицензия 2-Свидетельство</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные простые прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="FreeText4000">
		<xs:annotation>
			<xs:documentation>Текстовая строка. До 4000 символов. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
