Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/ATDCloseControl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ATDCloseControl:5.4.0" version="5.4.0.0" xmlns:apzk="urn:customs.ru:Information:CustomsDocuments:ATDCloseControl:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Протокол завершения контроля  АТД</xs:documentation>
   </xs:annotation>
   <xs:element name="ATDCloseControl" type="apzk:ATDCloseControlType"/>
   <xs:complexType name="ATDCloseControlType">
      <xs:annotation>
         <xs:documentation>Протокол завершения контроля  АТД</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="CheckDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата проведения проверки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CheckTime" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время проведения проверки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="EndCheckDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата, на которую выполнена проверка. Указывается, если отлична от даты составления документа или даты проверки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DBVersion" type="clt_ru:Text10Type">
                  <xs:annotation>
                     <xs:documentation>Версия структуры внутреннего формата электронной копии АТД </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ErrorCount" type="clt_ru:Quantity5Type">
                  <xs:annotation>
                     <xs:documentation>Общее количество ошибок ПЗК</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ReasonCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Код причины повторной передачи электронной копии ДТ после ее возврата с вышестоящего уровня системы</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Explanation" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Объяснение инспектора о несвоевременности или неполноте представления информации по результатам ФЛК</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ExplanationDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата внесения объяснения инспектором о несвоевременности или неполноте представления информации по результатам ФЛК</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ATDGlobalID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор акта таможенного досмотра</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Document" type="apzk:DocumentType">
                  <xs:annotation>
                     <xs:documentation>Проверенный электронный таможенный документ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PSCheck" type="apzk:PSCheckType">
                  <xs:annotation>
                     <xs:documentation>программное средство, выполнившее проверку</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PZKErrors" type="apzk:PZKErrorsType">
                  <xs:annotation>
                     <xs:documentation>Ошибки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ATDRegNumder" type="cat_ru:GTDID6Type">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер АТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006037E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="ATDinTableType">
      <xs:annotation>
         <xs:documentation>Информация в таблице внутреннего формата электронной копии АТД </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="TableName" type="cltESAD_ru:TableNameType">
            <xs:annotation>
               <xs:documentation>Имя таблицы внутреннего формата электронной копии АТД </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AttributeName" type="cltESAD_ru:TableNameType">
            <xs:annotation>
               <xs:documentation>Наименование атрибута таблицы</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RecordNumber" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Номер записи, соответствующий значению поля NUMREC в таблице</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CheckNormativeDocumentType">
      <xs:annotation>
         <xs:documentation>Нормативный документ, в соответствии с которым выполняется контроль</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apzk:NormativeDocumentType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BeginDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата начала действия документа для данного контроля</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="EndDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата окончания действия документа для данного контроля</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CloseReasonType">
      <xs:annotation>
         <xs:documentation>Причины закрытия</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ReasonCode" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>Код причины закрытия в соответствии со Справочником причин закрытия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InspectorNotice" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечания инспектора</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="LNP" type="clt_ru:LNPIDType">
            <xs:annotation>
               <xs:documentation>ЛНП инспектора, закрывшего ПЗК</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CloseDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата закрытия ошибки по ПЗК</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CheckNormativeDocument" type="apzk:NormativeDocumentType">
            <xs:annotation>
               <xs:documentation>Нормативный документ, в соответствии с которым выполняется закрытие</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DocumentType">
      <xs:annotation>
         <xs:documentation>Проверенный электронный таможенный документ</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Kind" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Способ указания проверяемого документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EDCode" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Код типа электронного таможенного документа (2 -АТД)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="EDRef" type="cltESAD_ru:EDocumentRefType">
            <xs:annotation>
               <xs:documentation>Ссылка на документ: GUID | валовый номер | таможенный номер</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ErrorType">
      <xs:annotation>
         <xs:documentation>Описание ошибки.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ErrorCode" type="cltESAD_ru:PZKErrorCodeType">
            <xs:annotation>
               <xs:documentation>Код ошибки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ErrorLevel" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Уровень ошибки (3-критическая ошибка, 2-ошибка, 1-рекомендация)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ErrorText" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Текст сообщения об ошибке</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ErrorDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание ошибки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TrueValue" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Правильное значение</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NormativeDocumentType">
      <xs:annotation>
         <xs:documentation>Нормативный документ</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="DocumentType" type="cltESAD_ru:NormativeDocCodeType">
            <xs:annotation>
               <xs:documentation>Ссылка на тип нормативного документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="OrganizationName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Орган, принявший нормативный документ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата принятия нормативного документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DocumentNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер нормативного документа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PSCheckType">
      <xs:annotation>
         <xs:documentation>программное средство, выполнившее проверку</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PSID" type="cltESAD_ru:PSIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор ПС, выполнившего проверку</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PSVersion" type="clt_ru:Text10Type">
            <xs:annotation>
               <xs:documentation>Версия ПС, выполнившего проверку</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PZKErrorsType">
      <xs:annotation>
         <xs:documentation>Ошибки</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ATDGoodsNumber" type="clt_ru:Quantity5Type">
            <xs:annotation>
               <xs:documentation>Номер товара по АТД</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ATDinTable" type="apzk:ATDinTableType">
            <xs:annotation>
               <xs:documentation>Информация в таблице внутреннего формата электронной копии АТД (формат DBF)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Error" type="apzk:ErrorType">
            <xs:annotation>
               <xs:documentation>Описание ошибки.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CheckNormativeDocument" type="apzk:CheckNormativeDocumentType">
            <xs:annotation>
               <xs:documentation>Нормативный документ, в соответствии с которым выполняется контроль</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="CloseReason" type="apzk:CloseReasonType">
            <xs:annotation>
               <xs:documentation>Причины закрытия</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
