Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/CommissionInspection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:CommissionInspection:5.4.0" version="5.4.0.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:insp="urn:customs.ru:Information:CustomsDocuments:CommissionInspection:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.4.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Поручение на досмотр</xs:documentation>
   </xs:annotation>
   <xs:element name="CommissionInspection" type="insp:CommissionInspectionType"/>
   <xs:complexType name="CommissionInspectionType">
      <xs:annotation>
         <xs:documentation>Поручение на досмотр</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="DateInspection" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Срок до которого провести таможенный досмотр (дата)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TimeInspection" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Срок до которого провести таможенный досмотр (время)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DateCompile" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата составления и подписания поручения.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TimeDeliveryInspection" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время выдачи поручения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TimeReceiptAct" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время получения акта</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DateReceiptAct" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата получения акта</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BasisExamination" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Основание для проведения досмотра</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ObjectType" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип объекта: 1-товар; 2-транспортное средство</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CommissionInspectionID" type="cat_ru:GTDID6Type">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер поручения на досмотр</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Customs" type="cat_ru:CustomsType">
                  <xs:annotation>
                     <xs:documentation>Код и наименование таможенного органа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="CustomsPerson" type="cat_ru:CustomsPersonType">
                  <xs:annotation>
                     <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="InfoTransport" type="insp:TransportMeanType">
                  <xs:annotation>
                     <xs:documentation>Сведения о транспорте</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PersonInspection" type="insp:PersonInspectionType">
                  <xs:annotation>
                     <xs:documentation>Лицо,обладающего полномочиями в отношении товаров и (или) транспортных средств.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="AimInspection" type="insp:AimInspectionType">
                  <xs:annotation>
                     <xs:documentation>Цель досмотра</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="VolumeInspection" type="insp:VolumeInspectionType">
                  <xs:annotation>
                     <xs:documentation>Объем досмотра</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DegreeInspection" type="insp:DegreeInspectionType">
                  <xs:annotation>
                     <xs:documentation>Степень досмотра</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="IdentityMeans" type="insp:IdentityMeansType">
                  <xs:annotation>
                     <xs:documentation>Средства идентификации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GoodsLocation" type="insp:GoodsLocationType">
                  <xs:annotation>
                     <xs:documentation>Местонахождение товаров.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="Document" type="insp:DocumentType">
                  <xs:annotation>
                     <xs:documentation>Cведения о транспортных (перевозочных) документах, коммерческих документах, книжке международной дорожной перевозки (МДП), таможенных документах.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Destination" type="insp:DestinationType">
                  <xs:annotation>
                     <xs:documentation>Место назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="InfoGoods" type="insp:InfoGoodsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о товаре</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsChief" type="cat_ru:CustomsPersonType">
                  <xs:annotation>
                     <xs:documentation>Начальник таможенного органа/заместитель начальника таможенного органа (первый заместитель)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsPresonDecision" type="cat_ru:CustomsPersonType">
                  <xs:annotation>
                     <xs:documentation>Должностное лицо, принявшее решение о проведении досмотра.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="ApplicationTSTK" type="insp:ApplicationTSTKType">
                  <xs:annotation>
                     <xs:documentation>Применение ТСТК</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006031E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AimInspectionType">
      <xs:annotation>
         <xs:documentation>Цель досмотра</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="IdentifierGood" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Идентификация товаров. Если значение "true" - да; "false" - нет</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ChooseControl" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Выборочная проверка.Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Others" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Прочее.Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OtherComments" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Прочее(указать)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ApplicationTSTKType">
      <xs:annotation>
         <xs:documentation>Применение ТСТК</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TSTKCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код применяемых ТСТК</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Comments" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Комментарии</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CIWarehousePlaceType">
      <xs:annotation>
         <xs:documentation>Место погрузки/разгрузки. Сведения о лицензии/ свидетельстве склада.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_ru:WarehousePlaceType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DocumentModeCode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип документа:1-Лицензия 2-Свидетельство</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DegreeInspectionType">
      <xs:annotation>
         <xs:documentation>Степень досмотра</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Weighing" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Взвешивание (полное/выборочное/без взвешивания).Если значение поля: 1 - полное; 2 - выборочное; 3 - без взвешивания.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ConvertingFreightPlace" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Пересчет грузовых мест.Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ChooseOpening" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Выборочным вскрытием.Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="OpeningAllFreightPlace" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Вскрытием всех грузовых мест. Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ConvertingQuantityObjects" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Пересчет количества предметов в грузовых местах. Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Choose" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Выборочно.Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="All" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Всех.Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MeasurementDeterminationBehaviourGoods" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Измерение и определение характеристик товаров (с частичной разборкой/с полной разборкой).Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="WithoutThievingSampling" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Без взятия проб и образцов.Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="WithThievingSampling" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>С взятием проб и образцов. Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Others" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Прочее.Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OtherComments" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Прочее(указать)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DestinationType">
      <xs:annotation>
         <xs:documentation>Место назначения</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ImportExport" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Если значение поля "true" - "ввоз - населенный пункт",  "false" - "вывоз - стана назначения"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NameCountry" type="clt_ru:CountryNameType">
            <xs:annotation>
               <xs:documentation>Название населенного пункта/страны назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DocumentType">
      <xs:annotation>
         <xs:documentation>Cведения о транспортных (перевозочных) документах, коммерческих документах, книжке международной дорожной перевозки (МДП), таможенных документах</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType">
                  <xs:annotation>
                     <xs:documentation>Код вида представляемого документа. Заполняется в соответствии с классификатором видов документов,</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GoodsLocationType">
      <xs:annotation>
         <xs:documentation>Местонахождение товаров.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="WarehousePlace" type="insp:CIWarehousePlaceType">
            <xs:annotation>
               <xs:documentation>Место погрузки/разгрузки. Сведения о лицензии/ свидетельстве склада.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsLocationPlace" type="catESAD_ru:GoodsLocationPlaceType">
            <xs:annotation>
               <xs:documentation>Сведения о местонахождении товара. (склад получателя, иное место).</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="IdentityMeansType">
      <xs:annotation>
         <xs:documentation>Средства идентификации</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Kind" type="clt_ru:Text40Type">
            <xs:annotation>
               <xs:documentation>Вид средств идентификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Quantity" type="clt_ru:Quantity4Type">
            <xs:annotation>
               <xs:documentation>Кол-во средств идентификации, которые требуется наложить</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InfoGoodsType">
      <xs:annotation>
         <xs:documentation>Сведения о товаре</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="NameDepartureCountry" type="clt_ru:CountryNameType">
            <xs:annotation>
               <xs:documentation>Страна отправления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Quantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Количество мест </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес товаров, нетто  (кг)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес товаров, брутто (кг)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PersonInspectionType">
      <xs:annotation>
         <xs:documentation>Лицо,обладающего полномочиями в отношении товаров и (или) транспортных средств.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="IdentityCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TransportMeanType">
      <xs:annotation>
         <xs:documentation>Сведения о транспорте</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUTransportMeansType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="TransportMeans" type="cat_ru:TransportMeansBaseType">
                  <xs:annotation>
                     <xs:documentation>Транспортное средство</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="VolumeInspectionType">
      <xs:annotation>
         <xs:documentation>Объем досмотра</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Percent10" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Percent50" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Percent100" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Если значение поля: "true" - да; "false" - нет.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
