Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/CommonAggregateTypesCust.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:CommonAggregateTypes:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Общие сложные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AddressType">
      <xs:annotation>
         <xs:documentation>Адрес организации / физического лица</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="PostalCode" type="clt_ru:PostalCodeType">
            <xs:annotation>
               <xs:documentation>Почтовый индекс</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Буквенный код страны в соответствии с классификатором стран мира</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CounryName" type="clt_ru:CountryNameType">
            <xs:annotation>
               <xs:documentation>Краткое название страны в соответствии с классификатором стран мира</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Region" type="clt_ru:RegionType">
            <xs:annotation>
               <xs:documentation>Область (регион, штат, провинция и т.п.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="City" type="clt_ru:CityNameType">
            <xs:annotation>
               <xs:documentation>Населенный пункт</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="StreetHouse" type="clt_ru:StreetHouseType">
            <xs:annotation>
               <xs:documentation>Улица, номер дома, номер офиса</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AuthoritesDocumentType">
      <xs:annotation>
         <xs:documentation>Сведения о документе, удостоверяющем полномочия</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ComplationAuthorityDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата окончания полномочий</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AutomobileBaseType">
      <xs:annotation>
         <xs:documentation>Данные об автомобилях. Базовый класс для 31й гр. и  Карточки транспортного средства</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Model" type="clt_ru:TransportNameType">
            <xs:annotation>
               <xs:documentation>Марка, модель</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Mark" type="clt_ru:MarkCarNameType">
            <xs:annotation>
               <xs:documentation>Наименование марки в оригинале</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MarkCode" type="clt_ru:MarkCarCodeType">
            <xs:annotation>
               <xs:documentation>Код марки </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OfftakeYear" type="clt_ru:DateYearCustType">
            <xs:annotation>
               <xs:documentation>Год изготовления транспортного средства</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="EngineVolumeQuanity" type="clt_ru:EngineVolumeType">
            <xs:annotation>
               <xs:documentation>Рабочий объем двигателя, куб. см</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="VINID" type="clt_ru:VINIDType">
            <xs:annotation>
               <xs:documentation>Идентификационный номер (VIN)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BodyID" type="clt_ru:VINIDType">
            <xs:annotation>
               <xs:documentation>Идентификационный номер кузова (прицепа), присвоенные и нанесенные на них  организацией-изготовителем</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="EngineID" type="clt_ru:EngineIDType">
            <xs:annotation>
               <xs:documentation>Присвоенный организацией - изготовителем идентификационный номер двигателя, нанесенный на блоке двигателя. Идентификационный номер может состоять из групп раздельных цифр, из которых последняя группа, состоящая из двух цифр, указывает год выпуска двигателя</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ChassisID" type="clt_ru:VINIDType">
            <xs:annotation>
               <xs:documentation>Идентификационный номер шасси (рамы), присвоенные и нанесенные на них организацией-изготовителем</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CabID" type="clt_ru:VINIDType">
            <xs:annotation>
               <xs:documentation>Идентификационный номер кабины</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BankInformationType">
      <xs:annotation>
         <xs:documentation>Информация о банковских счетах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="BankAccount" type="clt_ru:ForeignAccountType">
            <xs:annotation>
               <xs:documentation>Номер банковского счета</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="BankAccountDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание типа счета: расчетный, валютный</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BankName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Название банка</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BankMFO" type="clt_ru:BankMFOType">
            <xs:annotation>
               <xs:documentation>МФО банка</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OKPOID" type="clt_ru:OKPOIDType">
            <xs:annotation>
               <xs:documentation>Код банка по ОКПО</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BICID" type="clt_ru:BICIDType">
            <xs:annotation>
               <xs:documentation>БИК банка</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SWIFTID" type="clt_ru:SWIFTIDType">
            <xs:annotation>
               <xs:documentation>SWIFT код банка</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CorrAccount" type="clt_ru:ForeignAccountType">
            <xs:annotation>
               <xs:documentation>Номер корреспондентского счета банка</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="TransitCurrencyAccount" type="clt_ru:ForeignAccountType">
            <xs:annotation>
               <xs:documentation>Валютный счет организации (транзитный)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="SpecialTransitCurrencyAccount" type="clt_ru:ForeignAccountType">
            <xs:annotation>
               <xs:documentation>Валютный счет организации (специальный транзитный)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BaseDocType">
      <xs:annotation>
         <xs:documentation>Базовый тип для электронного документа</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Уникальный идентификатор документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RefDocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Уникальный идентификатор исходного документа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CUBranchDescriptionType">
      <xs:annotation>
         <xs:documentation>Сведения об обособленном подразделении</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="OrganizationName" type="clt_ru:ShortNameType">
            <xs:annotation>
               <xs:documentation>Краткое наименование обособленного подразделения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
            <xs:annotation>
               <xs:documentation>Адрес обособленного подразделения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice minOccurs="0">
            <xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType">
               <xs:annotation>
                  <xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
               <xs:annotation>
                  <xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
               <xs:annotation>
                  <xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CUCustomsType">
      <xs:annotation>
         <xs:documentation>Сведения о таможенном органе</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CustomsType">
            <xs:sequence>
               <xs:element minOccurs="0" name="CustomsCountryCode" type="clt_ru:CountryN3CodeType">
                  <xs:annotation>
                     <xs:documentation>Код государства - члена Таможенного союза. Трехзначный цифровой код</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CUOrganizationType">
      <xs:annotation>
         <xs:documentation>Сведения об организации</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес организации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="IdentityCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Contact" type="cat_ru:ContactType">
                  <xs:annotation>
                     <xs:documentation>Контактная информация</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CUTransportMeansType">
      <xs:annotation>
         <xs:documentation>Транспортные средства на границе / внутри страны</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="TransportModeCode" type="clt_ru:TransportModeCodeType">
            <xs:annotation>
               <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransportNationalityCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Буквенный код страны принадлежности (регистрации) транспортных средств по классификатору стран мира. 99-разные, 00-неизвестна</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CargoBaseType">
      <xs:annotation>
         <xs:documentation>Сведения о грузе</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="CargoDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес товара брутто (кг)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ContactType">
      <xs:annotation>
         <xs:documentation>Контактная информация</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Phone" type="clt_ru:PhoneNumberType">
            <xs:annotation>
               <xs:documentation>Номер телефона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Fax" type="clt_ru:PhoneNumberType">
            <xs:annotation>
               <xs:documentation>Номер факса</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Telex" type="clt_ru:PhoneNumberType">
            <xs:annotation>
               <xs:documentation>Номер телекса</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="E_mail" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Адрес электронной почты</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CustomsPersonType">
      <xs:annotation>
         <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PersonName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>ФИО должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LNP" type="clt_ru:LNPIDType">
            <xs:annotation>
               <xs:documentation>ЛНП должностного лица таможенного органа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CustomsType">
      <xs:annotation>
         <xs:documentation>Код и наименование таможенного органа</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Code" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного органа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OfficeName" type="clt_ru:CustomsOfficeNameType">
            <xs:annotation>
               <xs:documentation>Наименование таможенного органа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DeliveryTermsRUType">
      <xs:annotation>
         <xs:documentation>Условие поставки товаров. Для России</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="DeliveryPlace" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Описание / Название географического пункта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DeliveryTermsStringCode" type="clt_ru:IncotermsDeliveryStringCodeType">
            <xs:annotation>
               <xs:documentation>Код условий поставки в соответствии с классификатором условий поставки</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DeliveryTermsType">
      <xs:annotation>
         <xs:documentation>Условие поставки товаров</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="DeliveryPlace" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Описание / Название географического пункта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DeliveryTermsStringCode" type="clt_ru:IncotermsDeliveryStringCodeType">
            <xs:annotation>
               <xs:documentation>Код условий поставки в соответствии с классификатором условий поставки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DeliveryTermsRBCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код вида поставки товаров в соответствии с классификатором видов поставок товаров, подлежащих учету при осуществлении экспортных операций, применяемым в Республике Беларусь</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransferPlace" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Место передачи товара в соответствии с условиями договора (контракта)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DimensionsType">
      <xs:annotation>
         <xs:documentation>Габариты</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DimensionsCode" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
               <xs:documentation>Код единицы измерения </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Lenght" type="clt_ru:Quantity5Type">
            <xs:annotation>
               <xs:documentation>Длина</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Wight" type="clt_ru:Quantity5Type">
            <xs:annotation>
               <xs:documentation>Ширина</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Height" type="clt_ru:Quantity5Type">
            <xs:annotation>
               <xs:documentation>Высота</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DocumentBaseType">
      <xs:annotation>
         <xs:documentation>Базовый класс для указания документов. Наименование, номер, дата</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="PrDocumentName" type="clt_ru:DocumentNameType">
            <xs:annotation>
               <xs:documentation>Наименование документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PrDocumentNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PrDocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DriverInformationType">
      <xs:annotation>
         <xs:documentation>Информация о водителях транспортных средств. Заполняется при транзите товаров автомобильным транспортом</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:PersonBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="RegCountryCode" type="clt_ru:CountryA2CodeType">
                  <xs:annotation>
                     <xs:documentation>Код страны регистрации водителя транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="IdentityCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GTDID5Type">
      <xs:annotation>
         <xs:documentation>Регистрационный номер таможенного документа. Применяется для всех документов, имеющих структуру номера, аналогичную структуре номера ДТ. Последний элемент 5 знаков</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата регистрации документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SerialNumber" type="clt_ru:Code5Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GTDID6Type">
      <xs:annotation>
         <xs:documentation>Регистрационный номер таможенного документа. Применяется для всех документов, имеющих структуру номера, аналогичную структуре номера ДТ. Последний элемент 6 знаков</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата регистрации документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SerialNumber" type="clt_ru:Code6Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GTDIDType">
      <xs:annotation>
         <xs:documentation>Регистрационный номер таможенного документа. Применяется для всех документов, имеющих структуру номера, совпадающую со структурой номера ДТ</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата регистрации документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GTDNumber" type="clt_ru:GTDIDType">
            <xs:annotation>
               <xs:documentation>Порядковый номер документа по журналу регистрации</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsBaseType">
      <xs:annotation>
         <xs:documentation>Базовый тип описания товара</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsNumeric" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Номер товара по порядку</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
            <xs:annotation>
               <xs:documentation>Код товара по ТН ВЭД ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="GoodsDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес товара брутто (кг)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NetWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес товара нетто (кг)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ITNKZType">
      <xs:annotation>
         <xs:documentation>Идентификационный таможенный номер (ИТН) Республика Казахстан</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CategoryCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Категория лица. Двухзначный цифровой код категории лица согласно учредительным документам или свидетельству о регистрации в качестве индивидуального предпринимателя</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="KATOCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код КАТО. Двухзначный  код КАТО в соответствии с классификатором кодов административно-территориальных объектов</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RNN" type="clt_ru:RNNIDType">
            <xs:annotation>
               <xs:documentation>РНН. Регистрационный налоговый номер, присваиваемый налоговыми органами Республики Казахстан</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ITNReserv" type="clt_ru:ITNReservType">
            <xs:annotation>
               <xs:documentation>Резерв для ИТН</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="IdentityCardType">
      <xs:annotation>
         <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="IdentityCardCode" type="clt_ru:IdentityCardCodeType">
            <xs:annotation>
               <xs:documentation>Код вида документа, удостоверяющего личность. Для РФ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IdentityCardName" type="clt_ru:IdentityCardNameType">
            <xs:annotation>
               <xs:documentation>Краткое наименование документа, удостоверяющего личность</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IdentityCardSeries" type="clt_ru:IdentityCardSeriesType">
            <xs:annotation>
               <xs:documentation>Серия документа, удостоверяющего личность</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IdentityCardNumber" type="clt_ru:IdentityCardNumberType">
            <xs:annotation>
               <xs:documentation>Номер документа, удостоверяющего личность</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IdentityCardDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата выдачи документа, удостоверяющего личность</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OrganizationName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Наименование организации, выдавшей документ</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OrganizationBackAddrType">
      <xs:annotation>
         <xs:documentation>Сведения об организации.  Юридический и фактический адрес</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="FactAddress" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Фактический адрес организации</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="OrganizationBaseType">
      <xs:annotation>
         <xs:documentation>Реквизиты организации. Базовый класс</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="OrganizationName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Наименование организации / ФИО физического лица</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ShortName" type="clt_ru:ShortNameType">
            <xs:annotation>
               <xs:documentation>Краткое наименование организации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OrganizationLanguage" type="clt_ru:LanguageCodeType">
            <xs:annotation>
               <xs:documentation>Код языка для заполнения наименования </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice minOccurs="0">
            <xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType">
               <xs:annotation>
                  <xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
               <xs:annotation>
                  <xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
               <xs:annotation>
                  <xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OrganizationType">
      <xs:annotation>
         <xs:documentation>Сведения об организации</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="OKPOID" type="clt_ru:OKPOIDType">
                  <xs:annotation>
                     <xs:documentation>Код организации по ОКПО</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OKATOCode" type="clt_ru:OKATOCodeType">
                  <xs:annotation>
                     <xs:documentation>Код ОКАТО</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Contact" type="cat_ru:ContactType">
                  <xs:annotation>
                     <xs:documentation>Контактная информация</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="OrganizationWBankType">
      <xs:annotation>
         <xs:documentation>Сведения об организации, включая банковские счета</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="BankInformation" type="cat_ru:BankInformationType">
                  <xs:annotation>
                     <xs:documentation>Информация о банковских счетах.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PersonBaseType">
      <xs:annotation>
         <xs:documentation>Базовый класс для указания сведений о должностном лице. ФИО, должность</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PersonSurname" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Фамилия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PersonName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Имя</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PersonMiddleName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Отчество</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PersonPost" type="clt_ru:PostType">
            <xs:annotation>
               <xs:documentation>Должность</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PersonSignatureType">
      <xs:annotation>
         <xs:documentation>Подпись</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:PersonBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="IssueDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата подписания</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RBOrganizationFeaturesType">
      <xs:annotation>
         <xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="UNP" type="clt_ru:UNPTtype">
            <xs:annotation>
               <xs:documentation>Учетный номер плательщика (УНП)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RBIdentificationNumber" type="clt_ru:CodeVariable14Type">
            <xs:annotation>
               <xs:documentation>Идентификационный номер физического лица</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RFOrganizationFeaturesType">
      <xs:annotation>
         <xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="OGRN" type="clt_ru:OGRNIDType">
            <xs:annotation>
               <xs:documentation>ОГРН/ОГРНИП. Основной государственный регистрационный  номер</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="INN" type="clt_ru:INNIDType">
            <xs:annotation>
               <xs:documentation>ИНН - Индивидуальный номер налогоплательщика</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="KPP" type="clt_ru:KPPCodeType">
            <xs:annotation>
               <xs:documentation>КПП - Код причины постановки на учет</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RKOrganizationFeaturesType">
      <xs:annotation>
         <xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="BIN" type="clt_ru:BINType">
            <xs:annotation>
               <xs:documentation>Бизнес-идентификационный номер (БИН)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IIN" type="clt_ru:IINType">
            <xs:annotation>
               <xs:documentation>Индивидуальный идентификационный номер (ИИН)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ITN" type="cat_ru:ITNKZType">
            <xs:annotation>
               <xs:documentation>Идентификационный таможенный номер (ИТН)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SupplementaryQuantityType">
      <xs:annotation>
         <xs:documentation>Количество в дополнительной единице измерения</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Количество товара в единице измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MeasureUnitQualifierName" type="clt_ru:MeasureUnitQualifierNameType">
            <xs:annotation>
               <xs:documentation>Условное обозначение единицы измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MeasureUnitQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType">
            <xs:annotation>
               <xs:documentation>Код единицы измерения в соответствии с единицами измерения, применяемыми в ТН ВЭД ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TransportGoodsBaseType">
      <xs:annotation>
         <xs:documentation>Описание товаров. Базовый</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="GoodsMarking" type="clt_ru:GoodMarkingType">
            <xs:annotation>
               <xs:documentation>Номер и марка груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="GoodsDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование груза</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TransportMeansBaseType">
      <xs:annotation>
         <xs:documentation>Базовый тип для описания транспортного средства в таможенных документах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="VIN" type="clt_ru:VINIDType">
            <xs:annotation>
               <xs:documentation>Номер шасси (VIN)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransportKindCode" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>Код типа транспортного средства</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransportMarkCode" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>Код марки транспортного средства</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransportIdentifier" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор. Номер транспортного средства, наименование судна, номер авиарейса, номер поезда, номер железнодорожного вагона (платформ, цистерн и т.п.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransportMeansNationalityCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Буквенный код страны принадлежности транспортного средства по классификатору стран мира</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ActiveTransportIdentifier" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор активного транспортного средства для прицепов, полуприцепов и др.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransportRegNumber" type="clt_ru:CodeVariable20Type">
            <xs:annotation>
               <xs:documentation>Номер свидетельства о регистрации транспортного средства для РБ</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TransportMeansPassportType">
      <xs:annotation>
         <xs:documentation>Серия и номер Паспорта транспортного средства</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Series" type="clt_ru:SeriesCodeType">
            <xs:annotation>
               <xs:documentation>Серия Паспорта транспортного средства</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PTSNumber" type="clt_ru:TransportPassportIDType">
            <xs:annotation>
               <xs:documentation>Номер Паспорта транспортного средства</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RegionCode" type="clt_ru:RegionCodeType">
            <xs:annotation>
               <xs:documentation>Код региона</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
