Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/ConformanceSertif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SertifDocuments:ConformanceSertif:5.4.0" version="5.4.0.0" xmlns:catSert_ru="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:cos="urn:customs.ru:Information:SertifDocuments:ConformanceSertif:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:SertifDocuments:SertifCommonAggregateTypesCust:5.4.0" schemaLocation="SertifCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Сертификат соответствия</xs:documentation>
   </xs:annotation>
   <xs:element name="ConformanceSertif" type="cos:ConformanceSertifType"/>
   <xs:complexType name="ConformanceSertifType">
      <xs:annotation>
         <xs:documentation>Сертификат соответствия - документ, подтверждающий соответствие продукции определенным требованиям качества и безопасности.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BDRDID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="BeginDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата начала действия сертификата (совпадает с датой регистрации документа)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="EndDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата окончания действия сертификата (необязателен при сертификации партии)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="AddSertifInf" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Дополнительные сведения о сертификации (документы, о стабильности производства, маркировка, место нанесения знака соответствия)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DocumentSignature" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Подпись руководителя</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CertificateSign" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Сертификат соответствия: 0 - Таможенного союза; 1 - Росстандарта</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SertifOrganization" type="cos:SertifOrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения об органе сертификации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ManufacturerInf" type="cos:ManufacturerOrgType">
                  <xs:annotation>
                     <xs:documentation>Информация об изготовителе/индивидуальном предпринимателе.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SertifRecipient" type="catSert_ru:SertifOrgBaseType">
                  <xs:annotation>
                     <xs:documentation>Информация о лице, которому выдан сертификат / Заявитель</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="GroundDocs" type="cos:GroundDocsType">
                  <xs:annotation>
                     <xs:documentation>Описание  документов на основании которых выдан сертификат</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="Goods" type="cos:GoodsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о продукции</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ExpertSignature" type="cat_ru:PersonSignatureType">
                  <xs:annotation>
                     <xs:documentation>Подпись эксперта</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CertifNormDoc" type="cos:CertifNormDocType">
                  <xs:annotation>
                     <xs:documentation>Обозначение нормативных документов, на соответствие которым произведена сертификация (ГОСТЫ, пункты ГОСТов)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ProlongCertificate" type="cos:ProlongCertificateType">
                  <xs:annotation>
                     <xs:documentation>Сведения о продлении сертификата</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="FederalDocs" type="cos:CertifNormDocType">
                  <xs:annotation>
                     <xs:documentation>Описание документов федеральных  органов, устанавливающих  требования для военной продукции</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Append" type="cos:AppendsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о приложениях</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RegistrationNumber" type="cos:RegistrationNumberType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="FormNumber" type="cos:FormNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер бланка сертификата</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1009001E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AppendsType">
      <xs:annotation>
         <xs:documentation>Приложения</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="AppendNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер приложения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AppendFormNumber" type="clt_ru:Count10Type">
            <xs:annotation>
               <xs:documentation>Номер бланка приложения (заполняется в случае наличия приложения)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CertifNormDocType">
      <xs:annotation>
         <xs:documentation>Нормативные документы, на соответствие которым производится сертификация</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="DocsDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Обозначение нормативных документов</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CertificateOrgType">
      <xs:annotation>
         <xs:documentation>Орган, аккредитовавший орган сертификации</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Phone" type="clt_ru:PhoneNumberType">
                  <xs:annotation>
                     <xs:documentation>Телефон</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Fax" type="clt_ru:PhoneNumberType">
                  <xs:annotation>
                     <xs:documentation>Телефон</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="FormNumberType">
      <xs:annotation>
         <xs:documentation>Номер бланка сертификата</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Number" type="clt_ru:CodeVariable7Type">
            <xs:annotation>
               <xs:documentation>Номер</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код государства члена Таможенного союза. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsType">
      <xs:annotation>
         <xs:documentation>Сведения о продукции</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cos:AppendsType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ProductCode" type="clt_ru:GoodsNomenclatureCodeType">
                  <xs:annotation>
                     <xs:documentation>Код продукции по ОК005 - Общероссийскому классификатору продукции</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
                  <xs:annotation>
                     <xs:documentation>Код товара по ТН ВЭД ТС</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="GoodsDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание товара текстовое (наименование, тип, вид, марка продукции, обозначение стандарта, технических условий или иного документа, по которому она выпускается (для импортной продукции ссылка на документ необязательна. Для партии и единичного изделия приводят номер и размер партии или номер изделия, номер и дату выдачи накладной, договора (контракта), документа о качестве и т.п.)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SeriesSign" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак: 1 - "единичное изделие", 2 - "партия", 3 - "серийный выпуск"</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="NormDocs" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Обозначение документов, на основании которых произведена продукция</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PartySize" type="clt_ru:Count5Type">
                  <xs:annotation>
                     <xs:documentation>Размер партии</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="SerialNumber" type="clt_ru:Text50Type">
                  <xs:annotation>
                     <xs:documentation>Заводской номер изделия</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ShippingDocuments" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Товаросопроводительные документы</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GroundDocsType">
      <xs:annotation>
         <xs:documentation>Описание  документов на основании которых выдан сертификат</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="OrganizationName" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Кем выдан документ (наименование органа производившего испытания)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OrganizationNumber" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер органа, производившего испытания</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BeginDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата начала действия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="EndDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата окончания действия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OrganizationAddress" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес организации</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ManufacturerOrgType">
      <xs:annotation>
         <xs:documentation>Сведения об организации -  производителе</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catSert_ru:SertifOrgBaseType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="SubdivisionInfo" type="cos:SubdivisionInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о подразделениях предприятия</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ProlongCertificateType">
      <xs:annotation>
         <xs:documentation>Сведения о продлении сертификата</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="EndDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата окончания действия сертификата</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProlongSign" type="cat_ru:PersonBaseType">
            <xs:annotation>
               <xs:documentation>Сведения о подписи при продлении срока действия сертификата</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RegistrationNumberType">
      <xs:annotation>
         <xs:documentation>Регистрационный номер</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="SertifNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер сертификата</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код государства члена Таможенного союза. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SertifOrganizationType">
      <xs:annotation>
         <xs:documentation>Сведения об органе сертификации</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catSert_ru:SertifOrgBaseType">
            <xs:sequence>
               <xs:element name="OrganizationNumber" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер органа сертификации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="FieldOfAction" type="clt_ru:ShortNameType">
                  <xs:annotation>
                     <xs:documentation>Сфера деятельности</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CertificateDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата  регистрационного номера аттестата аккредитации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CertificateOrg" type="cos:CertificateOrgType">
                  <xs:annotation>
                     <xs:documentation>Орган, аккредитовавший орган сертификации</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SubdivisionInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о подразделениях предприятия</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Юридический адрес</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
