Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/CUTIR_Carnet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TransportDocuments:Car:CUTIR_Carnet:5.4.0" version="5.4.0.0" xmlns:catTrans_cu="urn:customs.ru:Information:TransportDocuments:CUTransportCommonAgregateTypesCust:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltTrans_cu="urn:customs.ru:Information:TransportDocuments:CUTransportCommonLeafTypesCust:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:cutirc="urn:customs.ru:Information:TransportDocuments:Car:CUTIR_Carnet:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:CUTransportCommonAgregateTypesCust:5.4.0" schemaLocation="CUTransportCommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:CUTransportCommonLeafTypesCust:5.4.0" schemaLocation="CUTransportCommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Электронная копия транзитной декларации, в качестве которой используется книжка МДП с прилагаемыми к ней транспортными (перевозочными) и коммерческими документами</xs:documentation>
   </xs:annotation>
   <xs:element name="CUTIR_Carnet" type="cutirc:CUTIR_CarnetType"/>
   <xs:complexType name="CUTIR_CarnetType">
      <xs:annotation>
         <xs:documentation>Электронная копия транзитной декларации, в качестве которой используется книжка МДП с прилагаемыми к ней транспортными (перевозочными) и коммерческими документами</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="TransitDirectionCode" type="clt_ru:TransitDirectionCodeType">
                  <xs:annotation>
                     <xs:documentation> ИМ, ЭК, ТР, ВТ, ТС. Гр. 1 ТД. Третий подраздел</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CustomsProcedure" type="clt_ru:Code3Type">
                  <xs:annotation>
                     <xs:documentation>МДП. Первый подраздел гр.1 ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GoodsQuantity" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Общее число  товаров по книжке МДП</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SpecificationNumber" type="clt_ru:SheetNumberType">
                  <xs:annotation>
                     <xs:documentation>Общее количество отгрузочных спецификаций</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ShipSpecifGoodsQuantity" type="clt_ru:Quantity3Type">
                  <xs:annotation>
                     <xs:documentation>Количество товаров по отгрузочным спецификациям</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DispatchCountryCode" type="clt_ru:CountryA2CodeType">
                  <xs:annotation>
                     <xs:documentation>Буквенный код страны отправления</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DestinationCountryCode" type="clt_ru:CountryA2CodeType">
                  <xs:annotation>
                     <xs:documentation>Буквенный код страны назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TotalInvoicedCost" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Общая фактурная стоимость</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="InvoicedCostCurrencyCode" type="clt_ru:CurrencyA3CodeType">
                  <xs:annotation>
                     <xs:documentation>Буквенный код валюты фактурной стоимости в соответствии с классификатором валют</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TotalPageQuantity" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Количество листов всех документов</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DestinationCountryName" type="clt_ru:CountryNameType">
                  <xs:annotation>
                     <xs:documentation>Наименование страны назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DispatchCountryName" type="clt_ru:CountryNameType">
                  <xs:annotation>
                     <xs:documentation>Наименование страны отправления</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TotalPackageNumber" type="clt_ru:PakageNumberType">
                  <xs:annotation>
                     <xs:documentation>Общее количество грузовых мест</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Language" type="clt_ru:LanguageCodeType">
                  <xs:annotation>
                     <xs:documentation>Код языка заполнения документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DateExpectedArrival" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TimeExpectedArrival" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TIRIdentifier" type="catTrans_cu:TIRIdentifierType">
                  <xs:annotation>
                     <xs:documentation>Идентификатор книжки МДП</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Carrier" type="cutirc:TIRCarrierType">
                  <xs:annotation>
                     <xs:documentation>Перевозчик / Держатель книжки МДП</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Forwarder" type="catTrans_cu:TIRForwarderType">
                  <xs:annotation>
                     <xs:documentation>Экспедитор</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CUTransport" type="cutirc:CUDepartureArrivalTransportType">
                  <xs:annotation>
                     <xs:documentation>Транспортные средства </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PrecedingDocument" type="cutirc:PrecedingDocumentType">
                  <xs:annotation>
                     <xs:documentation>Предшествующий документ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="CUPresentedDocuments" type="cutirc:PresentedDocumentsType">
                  <xs:annotation>
                     <xs:documentation>Представленные документы</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TIRDeclarant" type="cutirc:TIRDeclarantType">
                  <xs:annotation>
                     <xs:documentation>Информация о декларанте</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="TIRShipment" type="cutirc:TIRShipmentType">
                  <xs:annotation>
                     <xs:documentation>Сведения о товарной партии</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BorderCustoms" type="cat_ru:CUCustomsType">
                  <xs:annotation>
                     <xs:documentation>Таможенный орган (пограничный пункт пропуска), в который ожидается прибытие товаров и транспортных средств</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1003106E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CUDepartureArrivalTransportType">
      <xs:annotation>
         <xs:documentation>Транспортные средства при прибытии/убытии</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUTransportMeansType">
            <xs:sequence>
               <xs:element minOccurs="0" name="TransportMeansQuantity" type="clt_ru:Count5Type">
                  <xs:annotation>
                     <xs:documentation>Количество транспортных средств</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="TransportMeans" type="cat_ru:TransportMeansBaseType">
                  <xs:annotation>
                     <xs:documentation>Описание транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PrecedingDocumentType">
      <xs:annotation>
         <xs:documentation>Предшествующие документы</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="PrecedingDocumentID" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Дополнительный идентификатор предшествующего документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PrecedingDocumentCustomsCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного органа предшествующего документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PrecedingDocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Предшествующий документ - дата </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PrecedingDocumentNumber" type="clt_ru:PrecedingDocumentNumberType">
            <xs:annotation>
               <xs:documentation>Предшествующий документ - регистрационный номер документа / номер документа при транзите</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PrecedingDocumentGoodsNumeric" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>Номер товара в предшествующем документе </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PrecedingDocumentName" type="clt_ru:DocumentNameType">
            <xs:annotation>
               <xs:documentation>Наименование предшествующего документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PrecedingDocumentModeCode" type="clt_ru:CustomsDocumentCodeType">
            <xs:annotation>
               <xs:documentation>Код вида предшествующего документа в соответствии с классификатором видов документов</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LineNumber" type="clt_ru:SheetNumberType">
            <xs:annotation>
               <xs:documentation>Порядковый номер строки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NetWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес товара, нетто (кг)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код страны таможенного органа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType">
            <xs:annotation>
               <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PresentedDocumentsType">
      <xs:annotation>
         <xs:documentation>Представленные документы</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="CustomsCode" type="clt_ru:CustomsCodeType">
                  <xs:annotation>
                     <xs:documentation>Код таможенного органа, зарегистрировавшего документ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType">
                  <xs:annotation>
                     <xs:documentation>Код вида представляемого документа. Заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DocumentBeginActionsDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата начала действия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DocumentEndActionsDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата окончания действия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CountryCode" type="clt_ru:CountryA2CodeType">
                  <xs:annotation>
                     <xs:documentation>Код страны в соответствии с классификатором стран мира, в которой выдан сертификат</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TIRCarrierType">
      <xs:annotation>
         <xs:documentation>Перевозчик / Держатель книжки МДП</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="TIRHolderID" type="clt_ru:TIRHolderIDType">
                  <xs:annotation>
                     <xs:documentation>Идентификационный номер держателя книжки МДП</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CUDriverInformation" type="cat_ru:DriverInformationType">
                  <xs:annotation>
                     <xs:documentation>Информация о водителе транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TIRConsigneeType">
      <xs:annotation>
         <xs:documentation>Сведения о получателе</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TIRConsignorType">
      <xs:annotation>
         <xs:documentation>Сведения об отправителе</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TIRDeclarantType">
      <xs:annotation>
         <xs:documentation>Информация о декларанте</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TIRGoodsType">
      <xs:annotation>
         <xs:documentation>Товары в книжке МДП</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsNumeric" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Номер товара по списку</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
            <xs:annotation>
               <xs:documentation>Код товара по ТН ВЭД ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="GoodsDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SupplementaryGoodsQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Кол-во товара (в дополнительной единице измерения)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес товара, брутто (кг)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NetWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес товара, нетто (кг)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SupplementaryMeasureUnitCode" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>Код дополнительной единицы измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvoicedCost" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Фактурная стоимость</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvoicedCostCurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Буквенный код валюты фактурной стоимости в соответствии с классификатором валют</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DocumentKind" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Тип документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PrecedingDocumentNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер предшествующего документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TTNNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер товарно-транспортной накладной</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Language" type="clt_ru:LanguageCodeType">
            <xs:annotation>
               <xs:documentation>Код языка описания товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="PlacesInfo" type="catTrans_cu:TRPackingInfoType">
            <xs:annotation>
               <xs:documentation>Сведения о грузовых местах</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="PackingInfo" type="catTrans_cu:TRPackingInfoType">
            <xs:annotation>
               <xs:documentation>Сведения об упаковке товара</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TIRShipmentType">
      <xs:annotation>
         <xs:documentation>Сведения о товарной партии</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ContainerIndicator" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак контейнерных перевозок</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ContainerID" type="clt_ru:ContainerIdentityType">
            <xs:annotation>
               <xs:documentation>Номер контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TotalPlacesQuantity" type="clt_ru:Quantity11Type">
            <xs:annotation>
               <xs:documentation>Общее число грузовых  мест</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TIRConsignor" type="cutirc:TIRConsignorType">
            <xs:annotation>
               <xs:documentation>Сведения об отправителе</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TIRConsignee" type="cutirc:TIRConsigneeType">
            <xs:annotation>
               <xs:documentation>Сведения о получателе</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Destination" type="catTrans_cu:TIRDestinationType">
            <xs:annotation>
               <xs:documentation>Место назначения/доставки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="TIRGoods" type="cutirc:TIRGoodsType">
            <xs:annotation>
               <xs:documentation>Товары в книжке МДП</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="IdentityMark" type="catTrans_cu:IdentityMarkType">
            <xs:annotation>
               <xs:documentation>Пломбы или опознавательные знаки (число, идентификация)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
