Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/DeclarationConformity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SertifDocuments:DeclarationConformity:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:declc="urn:customs.ru:Information:SertifDocuments:DeclarationConformity:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Декларация о соответствии</xs:documentation>
   </xs:annotation>
   <xs:element name="DeclarationConformity" type="declc:DeclarationConformityType"/>
   <xs:complexType name="DeclarationConformityType">
      <xs:annotation>
         <xs:documentation>Декларация о соответствии</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BDRDID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SchemaDeclaration" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Схема декларирования соответствия</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherInfo" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Иные сведения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="StartDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата начала действия декларации соответствия</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="EndDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата окончания действия декларации соответствия</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="DeclNormDoc" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Обозначение нормативных документов, на основании которых принимается декларация о соответствии </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DeclarationSign" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Декларация соответствия: 0 - Таможенный союз; 1 - Росстандарт</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RegistrationNumber" type="declc:RegistrationNumberType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Declarant" type="declc:DeclarantType">
                  <xs:annotation>
                     <xs:documentation>Сведения о заявителе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="Goods" type="declc:GoodsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о продукции</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="Document" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Документы, послужившие основанием для подтверждения соответствия</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DeclarantSignature" type="cat_ru:PersonSignatureType">
                  <xs:annotation>
                     <xs:documentation>Подпись заявителя</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Register" type="declc:RegisterType">
                  <xs:annotation>
                     <xs:documentation>Сведения об органе, зарегистрировавшего декларацию о соответствии</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RegisterSignature" type="cat_ru:PersonSignatureType">
                  <xs:annotation>
                     <xs:documentation>Подпись Руководителя органа, регистрирующего  декларацию о соответствии</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Append" type="declc:AppendsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о приложениях</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1009009E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AppendsType">
      <xs:annotation>
         <xs:documentation>Приложения</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="AppendNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер приложения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AppendFormNumber" type="clt_ru:Count10Type">
            <xs:annotation>
               <xs:documentation>Номер бланка приложения (заполняется в случае наличия приложения)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DeclarantType">
      <xs:annotation>
         <xs:documentation>Сведения о заявителе</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBackAddrType">
            <xs:sequence>
               <xs:element minOccurs="0" name="OrgRegistryDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата регистрации организации или ИП</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Chief" type="cat_ru:PersonBaseType">
                  <xs:annotation>
                     <xs:documentation>Руководитель организации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OrgRegAuthority" type="cat_ru:OrganizationBaseType">
                  <xs:annotation>
                     <xs:documentation>Орган регистрации юридического лица или индивидуального предпринимателя</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DocumentType">
      <xs:annotation>
         <xs:documentation>Описание документа</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ModeCode" type="clt_ru:DocumentModeIDType">
                  <xs:annotation>
                     <xs:documentation>Вид документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GoodsInformationType">
      <xs:annotation>
         <xs:documentation>Характеристика товара</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="TradeMark" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Тов. знак, место происхождения, объект авторского права, смежных прав, патент и т.д.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsMark" type="clt_ru:Text10Type">
            <xs:annotation>
               <xs:documentation>Марка (модель) товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsMarking" type="clt_ru:Text10Type">
            <xs:annotation>
               <xs:documentation>Артикул товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsStandard" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Стандарт (ГОСТ, ОСТ, СПП, СТО, ТУ)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsSort" type="clt_ru:Text10Type">
            <xs:annotation>
               <xs:documentation>Сорт / Сорт или группа сортов (для лесо- и пиломатериалов)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Dimensions" type="clt_ru:Text10Type">
            <xs:annotation>
               <xs:documentation>Размеры</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsKind" type="clt_ru:Text10Type">
            <xs:annotation>
               <xs:documentation>Вид товара</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsType">
      <xs:annotation>
         <xs:documentation>Сведения о продукции</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="declc:AppendsType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ProductCode" type="clt_ru:GoodsNomenclatureCodeType">
                  <xs:annotation>
                     <xs:documentation>Код продукции по ОК005 - Общероссийскому классификатору продукции</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
                  <xs:annotation>
                     <xs:documentation>Код товара по ТН ВЭД ТС</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="GoodsDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание товара текстовое (наименование, тип, вид, марка продукции, обозначение стандарта, технических условий или иного документа, по которому она выпускается (для импортной продукции ссылка на документ необязательна. Для партии и единичного изделия приводят номер и размер партии или номер изделия, номер и дату выдачи накладной, договора (контракта), документа о качестве и т.п.)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SeriesSign" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак: 1 - "единичное изделие", 2 - "партия", 3 - "серийный выпуск"</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="NormDocs" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Обозначение документов, на основании которых изготовлена продукция</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="Manufacturer" type="declc:ManufacturerType">
                  <xs:annotation>
                     <xs:documentation>Сведения о изготовителе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="GoodsInformation" type="declc:GoodsInformationType">
                  <xs:annotation>
                     <xs:documentation>Характеристика товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TypeDeclaration" type="declc:TypeDeclarationType">
                  <xs:annotation>
                     <xs:documentation>Сведения о типе объекта декларирования</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Contract" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Сведения о контракте</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ManufacturerType">
      <xs:annotation>
         <xs:documentation>Сведения о изготовителе</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Branch" type="cat_ru:CUBranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Филиал</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RegisterType">
      <xs:annotation>
         <xs:documentation>Органа, зарегистрировавшем декларацию о соответствии</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="RegistrationAuthority" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Наименование органа по аккредитации, выдавшего аттестат аккредитации.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegistrationDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата аттестата аккредитации регистрации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegistrationNumber" type="clt_ru:CodeVariable20Type">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер аттестата аккредитации органа по сертификации</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RegistrationNumberType">
      <xs:annotation>
         <xs:documentation>Регистрационный номер</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="SerialNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер декларации о соответствии</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код государства члена Таможенного союза</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TypeDeclarationType">
      <xs:annotation>
         <xs:documentation>Сведения о типе объекта декларирования</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Number" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Номер партии/изделия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Size" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Размер партии</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Quantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Количество товара в партии</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ShippingDocuments" type="cat_ru:DocumentBaseType">
            <xs:annotation>
               <xs:documentation>Товаросопроводительные документы</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
