Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/ESADout_CU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ESADout_CU:5.4.0" version="5.4.0.0" xmlns:ESADout_CU="urn:customs.ru:Information:CustomsDocuments:ESADout_CU:5.4.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Электронная копия декларации на товары (транзитной декларации)</xs:documentation>
   </xs:annotation>
   <xs:element name="ESADout_CU" type="ESADout_CU:ESADout_CUType"/>
   <xs:complexType name="ESADout_CUType">
      <xs:annotation>
         <xs:documentation>Электронная копия декларации на товары (транзитной декларации)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType">
                  <xs:annotation>
                     <xs:documentation>ИМ, ЭК, ТТ. Первый подраздел гр.1 ДТ/ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType">
                  <xs:annotation>
                     <xs:documentation>Код таможенной процедуры в соответствии с классификатором видов таможенных процедур гр. 1. второй подраздел ДТ. Первый элемент первого подраздела гр. 37/«00» – для припасов</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsModeCodeMPO" type="clt_ru:Code3Type">
                  <xs:annotation>
                     <xs:documentation>МПО гр. 1. второй подраздел ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TransitDirectionCode" type="clt_ru:TransitDirectionCodeType">
                  <xs:annotation>
                     <xs:documentation> ИМ, ЭК, ТР, ВТ, ТС. Гр. 1 ТД. Третий подраздел</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ElectronicDocumentSign" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Признак использования ДТ в форме электронного документа. ЭД. Гр. 1 ДТ. Третий подраздел</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType">
                  <xs:annotation>
                     <xs:documentation>Код особенности декларирования товаров по классификатору особенностей таможенного декларирования товаров. Гр.7 ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SubsoilSign" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак недропользователя. Для РК</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SealNumber" type="clt_ru:Text10Type">
                  <xs:annotation>
                     <xs:documentation>Номер пломбиратора в ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SealQuantity" type="clt_ru:Quantity3Type">
                  <xs:annotation>
                     <xs:documentation>Количество наложенных пломб в ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LanguageCUESAD" type="clt_ru:LanguageCodeType">
                  <xs:annotation>
                     <xs:documentation>Код языка заполнения документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RecipientCountryCode" type="clt_ru:CountryA2CodeType">
                  <xs:annotation>
                     <xs:documentation>Код страны, в сооветствии с классификатором стран мира, таможенного органа, которому представляется документ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="MovementCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Код цели перемещения в ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ExecutionPlace" type="clt_ru:CityNameType">
                  <xs:annotation>
                     <xs:documentation>Место представления ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RailwayStationCode" type="clt_ru:RailwayStationCodeType">
                  <xs:annotation>
                     <xs:documentation>Код ж/д станции. Гр.50 ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegNumberDoc" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Исходящий номер регистрации документов в соответствии с системой (регламентом) учета исходящих документов декларанта или таможенного представителя  в Республике Беларусь</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ExecutionDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата составления (представления)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SecurityLabelCode" type="clt_ru:Code6Type">
                  <xs:annotation>
                     <xs:documentation>Код защитной наклейки для РК</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ESADout_CUGoodsShipment" type="ESADout_CU:ESADout_CUGoodsShipmentType">
                  <xs:annotation>
                     <xs:documentation>Сведения о товарной партии</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RBTechMarK" type="ESADout_CU:RBTechMarKType">
                  <xs:annotation>
                     <xs:documentation>Технические отметки для РБ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="FilledPerson" type="catESAD_cu:ESADFilledPersonType">
                  <xs:annotation>
                     <xs:documentation>Сведения о лице, заполнившем документ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CUESADCustomsRepresentative" type="catESAD_cu:CUESADCustomsRepresentativeType">
                  <xs:annotation>
                     <xs:documentation>Таможенный представитель</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006107E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа. (Код документа в Альбоме форматов для РФ)</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CUWarehousePlaceType">
      <xs:annotation>
         <xs:documentation>Сведения о местонахождении товаров: разрешение таможенного органа на временное хранение товаров, склад временного хранения, таможенный склад, свободный склад, магазин беспошлинной торговли, помещение, открытые площадки и иные территории уполномоченного экономического оператора, склад хранения собственных товаров, склад получателя товаров</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DocumentModeCode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип документа:1-Лицензия 2-Свидетельство</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CustomsPaymentType">
      <xs:annotation>
         <xs:documentation>Сведения об уплате. Гр. В</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:ESADout_CUCustomsPaymentType">
            <xs:sequence>
               <xs:element minOccurs="0" name="PaymentWayCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Способ уплаты в соответствии с классификатором способов уплаты таможенных и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PaymentDocument" type="ESADout_CU:PaymentDocumentType">
                  <xs:annotation>
                     <xs:documentation>Платежный документ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice minOccurs="0">
                  <xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType">
                     <xs:annotation>
                        <xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
                     <xs:annotation>
                        <xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
                     <xs:annotation>
                        <xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADoutGoodsOrganizationType">
      <xs:annotation>
         <xs:documentation>Сведения об организации в товарной части ДТ</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ContractorIndicator" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUBorderTransportType">
      <xs:annotation>
         <xs:documentation>Транспортные средства на границе / внутри страны</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUTransportMeansType">
            <xs:sequence>
               <xs:element minOccurs="0" name="TransportMeansQuantity" type="clt_ru:Count5Type">
                  <xs:annotation>
                     <xs:documentation>Количество транспортных средств</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="MethodTransport" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Способ транспортировки товаров при перемещении по линиям электропередачи или трубопроводным транспортом : 1- газопровод, 2 -нефтепровод, 3- нефтепродуктопровод, 4- линия электропередачи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="NameObject" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Наименование объекта, на котором установлены приборы учета товаров, перемещаемых по линиям электропередачи или трубопроводным транспортом</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="TransportMeans" type="cat_ru:TransportMeansBaseType">
                  <xs:annotation>
                     <xs:documentation>Описание транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUCarrierType">
      <xs:annotation>
         <xs:documentation>Сведения о перевозчике</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ESADout_CUDriverInformation" type="cat_ru:DriverInformationType">
                  <xs:annotation>
                     <xs:documentation>Информация о водителях транспортных средств. Заполняется при транзите товаров автомобильным транспортом</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUConsigmentType">
      <xs:annotation>
         <xs:documentation>Сведения о перевозке товаров. Гр. 15, 15а, 17,17а, 18, 19, 21, 25, 26, 29  -ДТ/ Гр. 15, 17, 18, 19, 21, 25, 26, 29 , 53, 55- ТД</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:CUConsigmentType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DateExpectedArrival" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска. ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TimeExpectedArrival" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска. ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADout_CUDepartureArrivalTransport" type="ESADout_CU:ESADout_CUDepartureArrivalTransportType">
                  <xs:annotation>
                     <xs:documentation>Транспортные средства при прибытии/убытии. Гр. 18, 26</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADout_CUBorderTransport" type="ESADout_CU:ESADout_CUBorderTransportType">
                  <xs:annotation>
                     <xs:documentation>Транспортные средства на границе. Гр. 21, 25 ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ESADout_CUReloadingInfo" type="catESAD_cu:ESADReloadingInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация о перегрузке товаров. Гр. 55 ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DeliveryCustomsOffice" type="cat_ru:CUCustomsType">
                  <xs:annotation>
                     <xs:documentation>Таможенный орган назначения при транзите.гр.53 ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PPBorderCustoms" type="cat_ru:CUCustomsType">
                  <xs:annotation>
                     <xs:documentation>Таможенный орган (пограничный пункт пропуска), в который ожидается прибытие товаров и транспортных средств</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUConsigneeType">
      <xs:annotation>
         <xs:documentation>Сведения о получателе товаров</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="OfficesExchangeCode" type="clt_ru:Count6Type">
                  <xs:annotation>
                     <xs:documentation>Код учреждения обмена подачи международных почтовых отправлений </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ContractorIndicator" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ; 2 - РАЗНЫЕ ПО СПИСКУ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обособленном подразделении</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUConsignorType">
      <xs:annotation>
         <xs:documentation>Сведения об отправителе товаров</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="OfficesExchangeCode" type="clt_ru:Count6Type">
                  <xs:annotation>
                     <xs:documentation>Код учреждения обмена подачи международных почтовых отправлений </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ContractorIndicator" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обособленном подразделении</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUDeclarantType">
      <xs:annotation>
         <xs:documentation>Сведения о декларанте товаров</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обособленном подразделении</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUDepartureArrivalTransportType">
      <xs:annotation>
         <xs:documentation>Транспортные средства при отправлении/прибытии. Гр. 18, 26 ДТ</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUTransportMeansType">
            <xs:sequence>
               <xs:element minOccurs="0" name="TransportMeansQuantity" type="clt_ru:Count5Type">
                  <xs:annotation>
                     <xs:documentation>Количество транспортных средств</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="MethodTransport" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Способ транспортировки товаров при перемещении по линиям электропередачи или трубопроводным транспортом : 1- газопровод, 2 -нефтепровод, 3- нефтепродуктопровод, 4- линия электропередачи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="NameObject" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Наименование объекта, на котором установлены приборы учета товаров, перемещаемых по линиям электропередачи или трубопроводным транспортом</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="TransportMeans" type="cat_ru:TransportMeansBaseType">
                  <xs:annotation>
                     <xs:documentation>Описание транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUFinancialAdjustingResponsiblePersonType">
      <xs:annotation>
         <xs:documentation>Лицо ответственное за финансовое урегулирование</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обособленном подразделении</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUGoodsLocationType">
      <xs:annotation>
         <xs:documentation>Местонахождение товаров. Гр. 30 </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="InformationTypeCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код места нахождения товаров в соответствии c классификатором мест нахождения товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomsOffice" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного органа в соответствии с классификаторами таможенных органов, применяемыми в государствах - членах Таможенного союза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomsCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код страны таможенного органа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LocationName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Наименование железнодорожной станции/морского (речного) порта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsLocationPlace" type="catESAD_cu:CUGoodsLocationPlaceType">
            <xs:annotation>
               <xs:documentation>Сведения о местонахождении товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsLocationWarehouse" type="ESADout_CU:CUWarehousePlaceType">
            <xs:annotation>
               <xs:documentation>Сведения о местонахождении товаров: разрешение таможенного органа на временное хранение товаров, склад временного хранения, таможенный склад, свободный склад, магазин беспошлинной торговли, помещение, открытые площадки и иные территории уполномоченного экономического оператора, склад хранения собственных товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Transport" type="catESAD_cu:CUTransportType">
            <xs:annotation>
               <xs:documentation>Сведения о местонахождении товаров - транспортное средство</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
            <xs:annotation>
               <xs:documentation>Адрес местонахождения товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ESADout_CUGoodsShipmentType">
      <xs:annotation>
         <xs:documentation>Сведения о товарной партии</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:CUESADGoodsShipmentType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ESADout_CUConsignor" type="ESADout_CU:ESADout_CUConsignorType">
                  <xs:annotation>
                     <xs:documentation>Сведения об отправителе товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADout_CUConsignee" type="ESADout_CU:ESADout_CUConsigneeType">
                  <xs:annotation>
                     <xs:documentation>Сведения о получателе товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADout_CUFinancialAdjustingResponsiblePerson" type="ESADout_CU:ESADout_CUFinancialAdjustingResponsiblePersonType">
                  <xs:annotation>
                     <xs:documentation>Лицо ответственное за финансовое урегулирование</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADout_CUDeclarant" type="ESADout_CU:ESADout_CUDeclarantType">
                  <xs:annotation>
                     <xs:documentation>Сведения о декларанте товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADout_CUCarrier" type="ESADout_CU:ESADout_CUCarrierType">
                  <xs:annotation>
                     <xs:documentation>Сведения о перевозчике гр. 50 ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ESADout_CUGoodsLocation" type="ESADout_CU:ESADout_CUGoodsLocationType">
                  <xs:annotation>
                     <xs:documentation>Местонахождение товаров. Гр. 30 ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADout_CUConsigment" type="ESADout_CU:ESADout_CUConsigmentType">
                  <xs:annotation>
                     <xs:documentation>Сведения о перевозке товаров. Гр. 15, 15а, 17,17а, 18, 19, 21, 25, 26, 29  -ДТ/ Гр. 15, 17, 18, 19, 21, 25, 26, 29 , 53, 55- ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADout_CUMainContractTerms" type="ESADout_CU:ESADout_CUMainContractTermsType">
                  <xs:annotation>
                     <xs:documentation>Условия сделки Гр. 11, 20, 22, 23, 24 ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="ESADout_CUGoods" type="ESADout_CU:ESADout_CUGoodsType">
                  <xs:annotation>
                     <xs:documentation>Товарная часть Гр. 31-47</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADout_CUPayments" type="ESADout_CU:ESADout_CUPaymentsType">
                  <xs:annotation>
                     <xs:documentation>Сведения об уплачиваемых платежах, платежных поручениях, отсрочке платежей. Гр. 48, В</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Guarantee" type="catESAD_cu:CUGuaranteeType">
                  <xs:annotation>
                     <xs:documentation>Гарантия.Гр 52 в ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="TDGuarantee" type="catESAD_cu:TDGuaranteeType">
                  <xs:annotation>
                     <xs:documentation>Гарантия для ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUGoodsType">
      <xs:annotation>
         <xs:documentation>Товарная часть. Гр. 31-47</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:CUESADGoodsItemType">
            <xs:sequence>
               <xs:element minOccurs="0" name="LanguageGoods" type="clt_ru:LanguageCodeType">
                  <xs:annotation>
                     <xs:documentation>Код языка  описания товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="MilitaryProducts" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак продукции военного назначения. true - да, false - нет. гр.31 ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
                  <xs:annotation>
                     <xs:documentation>Код валюты стоимости товара (заполняется для ТД)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ESADout_CUPresentedDocument" type="catESAD_cu:CUPresentedDocumentsType">
                  <xs:annotation>
                     <xs:documentation>Представленные документы. Гр. 44</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ESADout_CUPrecedingDocument" type="catESAD_cu:CUPrecedingDocumentType">
                  <xs:annotation>
                     <xs:documentation>Предшествующие документы. Гр. 40</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ESADout_CUCustomsPaymentCalculation" type="catESAD_cu:CUCustomsPaymentCalculationType">
                  <xs:annotation>
                     <xs:documentation> Исчисление таможенных платежей</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADout_CUCustomsConditions" type="catESAD_cu:ProcessingGoodsDeclarationType">
                  <xs:annotation>
                     <xs:documentation>Сведения, указываемые в случае, если ДТ используется в качестве заявления на получение разрешения на переработку товаров (элемент 6 гр 31, гр 44)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType">
                  <xs:annotation>
                     <xs:documentation>Количество товара в дополнительной единице измерения.  Гр.41</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="3" minOccurs="0" name="SupplementaryGoodsQuantity1" type="cat_ru:SupplementaryQuantityType">
                  <xs:annotation>
                     <xs:documentation>Количество товара в единице измерения, отличной от основной и дополнительной (элемент 1 Гр.31)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADGoodsPackaging" type="catESAD_cu:ESADGoodsPackagingType">
                  <xs:annotation>
                     <xs:documentation>Сведения о грузовых местах, поддонах и упаковке товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADGoodsQuota" type="catESAD_cu:ESADGoodsQuotaType">
                  <xs:annotation>
                     <xs:documentation>Квота.Гр 39 в ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADContainer" type="catESAD_cu:ESADContainerType">
                  <xs:annotation>
                     <xs:documentation>Сведения о контейнерах (элемент 3 Гр 31)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADCustomsProcedure" type="catESAD_cu:ESADCustomsProcedureType">
                  <xs:annotation>
                     <xs:documentation>Процедура.Гр 37</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ESADExcise" type="catESAD_cu:ESADExciseType">
                  <xs:annotation>
                     <xs:documentation>Сведения об акцизных марках (элемент 4 гр 31)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ElectricalEnergReceived" type="catESAD_cu:CU_ElectricalEnergyType">
                  <xs:annotation>
                     <xs:documentation>Сведения о количестве принятой электроэнергии за отчетный период (элемент 9 Гр 31)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ElectricalEnergGiven" type="catESAD_cu:CU_ElectricalEnergyType">
                  <xs:annotation>
                     <xs:documentation>Сведения о количестве переданной электроэнергии за отчетный период (элемент 9 Гр 31)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="GoodsAutomobile" type="catESAD_cu:AutomobileType">
                  <xs:annotation>
                     <xs:documentation>Сведения об автомобилях. Гр. 31</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADoutGoodsOrganization" type="ESADout_CU:ESADoutGoodsOrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения об организации в товарной части ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RBSupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType">
                  <xs:annotation>
                     <xs:documentation>Количество товара помещенного под процедуру переработки и свободную таможенную зону для РБ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUMainContractTermsType">
      <xs:annotation>
         <xs:documentation>Условия сделки Гр. 11, 20, 22, 23, 24 ДТ</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:CUESADMainContractTermsType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ESADout_CUPaymentsType">
      <xs:annotation>
         <xs:documentation>Сведения об уплачиваемых платежах, платежных поручениях, отсрочке платежей. Гр. 48, В</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ESADout_CUCustomsPayment" type="ESADout_CU:CustomsPaymentType">
            <xs:annotation>
               <xs:documentation>Сведения об уплате. Гр. В</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="CUDelayPayments" type="catESAD_cu:CUDelayPaymentsType">
            <xs:annotation>
               <xs:documentation>Отсрочка платежей гр.48</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PaymentDocumentType">
      <xs:annotation>
         <xs:documentation>Платежный документ</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="PaymentDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата уплаты</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RBTechMarKType">
      <xs:annotation>
         <xs:documentation>Технические отметки для РБ</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element name="DelcKind" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Вид корректировки в соответствии с классификатором видов корректировок</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SumPayment" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Сумма подлежащая к уплате обеспечения. ТД</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
