Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/FOIVRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SQDocuments:FOIVRequest:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:foivrq="urn:customs.ru:Information:SQDocuments:FOIVRequest:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Запрос (ФОИВ)</xs:documentation>
   </xs:annotation>
   <xs:element name="FOIVRequest" type="foivrq:FOIVRequestType"/>
   <xs:complexType name="FOIVRequestType">
      <xs:annotation>
         <xs:documentation>Запрос (ФОИВ)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Идентификатор запроса/записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="StartDateTime" type="clt_ru:DateTimeCustType">
                  <xs:annotation>
                     <xs:documentation>Дата/время начала периода поиска</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="EndDateTime" type="clt_ru:DateTimeCustType">
                  <xs:annotation>
                     <xs:documentation>Дата/время окончания периода поиска</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Period" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Период поиска: 1 - Весь период; 2 - Полгода; 3 - 3 месяца; 4 - 2 месяца; 5 - 1 месяц</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PermitCode" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Признак: 1 - разрешение; 2 - спецразрешение (карточка)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ResponseStatus" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак получения ответа на запрос</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ResponseInfo" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Текст ошибки, выявленной при обработке данных, полученных по запросу</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Transport" type="foivrq:TransportType">
                  <xs:annotation>
                     <xs:documentation>Сведения о транспортном средстве</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Document" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Сведения о документе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>DocChoice</xs:documentation>
                  </xs:annotation>
                  <xs:element name="InspectionInfo" type="foivrq:InspectionInfoType">
                     <xs:annotation>
                        <xs:documentation>Запрос о необходимости предоставления дополнительных сведений и о возможности принятия решения</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="CheckRequestData" type="foivrq:CheckRequestDataType">
                     <xs:annotation>
                        <xs:documentation>Данные запроса на поиск информации о разрешении</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:sequence>
            <xs:attribute fixed="1009060E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AutoTrainType">
      <xs:annotation>
         <xs:documentation>Сведения о транспортном средстве (автопоезд)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TotalWeight" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Общий вес автопоезда с грузом</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Length" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Длина автопоезда (в метрах)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Width" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Ширина автопоезда (в метрах)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Height" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Высота автопоезда (в метрах)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="AxisLoads" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Массив нагрузок на оси (в тоннах)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AxisInvervals" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Массив интервалов между осями (в метрах)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CheckRequestDataType">
      <xs:annotation>
         <xs:documentation>Данные запроса на поиск информации о разрешении</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Post" type="cat_ru:CUCustomsType">
            <xs:annotation>
               <xs:documentation>Пост</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Carrier" type="cat_ru:CUOrganizationType">
            <xs:annotation>
               <xs:documentation>Перевозчик</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AutoTrain" type="foivrq:AutoTrainType">
            <xs:annotation>
               <xs:documentation>Сведения о транспортном средстве (автопоезд)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о товаре</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:GoodsBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="NameENG" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Наименование товара на английском языке</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ProductGuid" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Глобальный идентификатор продукции, которому относится данный вид продукции</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="UUID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Идентификатор сущности</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Quantity" type="foivrq:QuantityType">
                  <xs:annotation>
                     <xs:documentation>Количество</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PackingInfo" type="foivrq:PackingInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения об упаковке товаров.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InspectionInfoType">
      <xs:annotation>
         <xs:documentation>Запрос о необходимости предоставления дополнительных сведений и о возможности принятия решения</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TransferKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Тип операции: 1 - Ввоз (импорт в ТС); 2 - Вывоз (экспорт из ТС); 3 - Транзит через территорию ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="StartDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата и время начала досмотра</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Enterprise" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Зарубежное предприятие-изготовитель</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BusinessEntity" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Хозяйствующий субъект-получатель продукции или заявитель.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DestinationPoint" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Место назначения (склад временного хранения и т.п.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BorderInspectionPoint" type="clt_ru:Code6Type">
            <xs:annotation>
               <xs:documentation>Пограничный ветеринарный пункт пропуска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ShipmentType" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Тип партии для морского транспорта: 0 - Контейнерная партия; 1 - Трюмная партия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ImporterCountry" type="clt_ru:CountryA3CodeType">
            <xs:annotation>
               <xs:documentation>Буквенный код страны-импортёра </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GoodsInfo" type="foivrq:GoodsInfoType">
            <xs:annotation>
               <xs:documentation>Сведения о товаре</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Permission" type="cat_ru:DocumentBaseType">
            <xs:annotation>
               <xs:documentation>Разрешение РСХН на транспортировку подконтрольной продукции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="VetCertificate" type="cat_ru:DocumentBaseType">
            <xs:annotation>
               <xs:documentation>Ветеринарный сопроводительный документ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Waybill" type="cat_ru:DocumentBaseType">
            <xs:annotation>
               <xs:documentation>Товарно-транспортная накладная (ТТН)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Inspector" type="cat_ru:PersonBaseType">
            <xs:annotation>
               <xs:documentation>Таможенный инспектор</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PackingInfoType">
      <xs:annotation>
         <xs:documentation>Сведения об упаковке товаров</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="UUID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор упаковки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PackingCode" type="clt_ru:PackageCodeType">
            <xs:annotation>
               <xs:documentation>Код вида упаковки товаров в соответствии с  Классификатором видов груза, упаковки и упаковочных материалов.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PakingQuantity" type="clt_ru:PackagesQuantityType">
            <xs:annotation>
               <xs:documentation>Количество упаковок.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="QuantityType">
      <xs:annotation>
         <xs:documentation>Количество</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:SupplementaryQuantityType">
            <xs:sequence>
               <xs:element name="UUID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Идентификатор единицы измерения</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TransportType">
      <xs:annotation>
         <xs:documentation>Сведения о транспортном средстве</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:TransportMeansBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="TransportModeCode" type="clt_ru:TransportModeCodeType">
                  <xs:annotation>
                     <xs:documentation>Вид транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
