Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/GeneralDeclarationAirTransport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TransportDocuments:Air:GeneralDeclarationAirTransport:5.4.3" version="5.4.3.0" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.4.3" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.4.3" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:gdat="urn:customs.ru:Information:TransportDocuments:Air:GeneralDeclarationAirTransport:5.4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.4.3" schemaLocation="TransportCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.4.3" schemaLocation="TransportCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Генеральная декларация - стандартный документ перевозчика, предусмотренный международными соглашениями в области гражданской авиации, который выписывается по принципу "от аэропорта до аэропорта" и содержит информацию о воздушном судне, эксплуатанте, маршруте полета, данные об экипаже, а также иные сведения. </xs:documentation>
   </xs:annotation>
   <xs:element name="GeneralDeclarationAirTransport" type="gdat:GeneralDeclarationAirTransportType"/>
   <xs:complexType name="GeneralDeclarationAirTransportType">
      <xs:annotation>
         <xs:documentation>Генеральная авиа декларация</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="LanguageCode" type="clt_ru:LanguageCodeType">
                  <xs:annotation>
                     <xs:documentation>Код языка документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Carrier" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Наименование собственника воздушного судна или перевозчика </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Notice" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Примечание </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="FoodSetQuantity" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Количество комплектов питания</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CarrierCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Двухсимвольный код  перевозчика</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CrewMembersNumber" type="clt_ru:Count2Type">
                  <xs:annotation>
                     <xs:documentation>Количество членов экипажа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RoutingSign" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Прилет/Вылет. 1 - прилет; 0 - вылет</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Flight" type="catTrans_ru:FlightInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о рейсе </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DocumentSignature" type="cat_ru:PersonSignatureType">
                  <xs:annotation>
                     <xs:documentation>Подпись уполномоченного агента или лица командного состава </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="CockpitPersonnel" type="gdat:CockpitPersonnelType">
                  <xs:annotation>
                     <xs:documentation>Информация об экипаже</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DestinationAirport" type="catTrans_ru:AirportType">
                  <xs:annotation>
                     <xs:documentation>Аэропорт назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="RoutingInfo" type="catTrans_ru:RoutigInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация о маршруте </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Registration" type="gdat:RegistrationType">
                  <xs:annotation>
                     <xs:documentation>Сведения о составлении документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PassengerQuantity" type="gdat:PassengerQuantityType">
                  <xs:annotation>
                     <xs:documentation>Информация о количестве пассажиров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="FuelInfo" type="gdat:FuelInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация о топливе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="POLInformation" type="gdat:AdditionalInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация о ГСМ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="WeaponInfo" type="gdat:AdditionalInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация о наличии оружия и военного снаряжения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PsychotropicAgentInfo" type="gdat:AdditionalInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация о наличии  психотропных  средств</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Mark" type="gdat:MarkType">
                  <xs:annotation>
                     <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DestinationCountry" type="gdat:CountryInfoType">
                  <xs:annotation>
                     <xs:documentation>Страна назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DepartureCountry" type="gdat:CountryInfoType">
                  <xs:annotation>
                     <xs:documentation>Страна отправления</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Customs" type="cat_ru:CustomsType">
                  <xs:annotation>
                     <xs:documentation>Код и наименование таможенного органа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SignInOut" type="gdat:SignInOutType">
                  <xs:annotation>
                     <xs:documentation>Признак совершения промежуточной, вынужденной (технической) посадки воздушного судна на территории РФ и на его борту отсутствуют товары, подлежащие разгрузке (выгрузке) или погрузке в месте посадки</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1003302E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AdditionalInfoType">
      <xs:annotation>
         <xs:documentation>Прочая информация</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Description" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BillNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер расходной накладной</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="QuantityCode" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Код единицы измерения количества</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ItemQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Количество </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AirWayBillNumber" type="catTrans_ru:AWBNumberType">
            <xs:annotation>
               <xs:documentation>Номер авианакладной</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CockpitPersonnelType">
      <xs:annotation>
         <xs:documentation>Информация об экипаже</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:PersonBaseType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CountryInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о стране</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="CountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
               <xs:documentation>Наименование страны</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код страны</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FlightType">
      <xs:annotation>
         <xs:documentation>Сведения о рейсе </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="FlNumber" type="cltTrans_ru:FlightNumberType">
            <xs:annotation>
               <xs:documentation>Номер рейса</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FlDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата рейса</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DepartureAirport" type="cltTrans_ru:AirportNameType">
            <xs:annotation>
               <xs:documentation>Название аэропорта отправления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DestinationAirport" type="cltTrans_ru:AirportNameType">
            <xs:annotation>
               <xs:documentation>Название аэропорта назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FuelInfoType">
      <xs:annotation>
         <xs:documentation>Информация о топливе</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="FuelQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Количество топлива</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FuelQualifierName" type="clt_ru:MeasureUnitQualifierNameType">
            <xs:annotation>
               <xs:documentation>Наименование единицы измерения топлива</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MaxFuelQuantity" type="clt_ru:WeighQuantityType">
            <xs:annotation>
               <xs:documentation>Максимальная вместимость топлива</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MarkType">
      <xs:annotation>
         <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MarkSing" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак наличия отметки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MarkKind" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Тип отметки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ResultControl" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Результат прохождения контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PassengerQuantityType">
      <xs:annotation>
         <xs:documentation>Информация о количестве пассажиров</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DeparturePass" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Количество пассажиров принятых  в пункте отправления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransferDepartPass" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Кол-во трансфертных пассажиров в аэропорту убытия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinationPass" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Количество пассажиров выходящих  в аэропорту назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TransferDestinationPass" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Количество трансфертных пассажиров в аэропорту назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RegistrationType">
      <xs:annotation>
         <xs:documentation>Сведения о составлении документа</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Date" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата составления документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Place" type="clt_ru:PlaceNameType">
            <xs:annotation>
               <xs:documentation>Место составления документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AirlineIATACode" type="cltTrans_ru:AirlineIATACodeType">
            <xs:annotation>
               <xs:documentation>IATA-код авиакомпании </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DocumentNumber" type="clt_ru:Code8Type">
            <xs:annotation>
               <xs:documentation>Серийный номер документа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SignInOutType">
      <xs:annotation>
         <xs:documentation>Признак совершения промежуточной, вынужденной (технической) посадки воздушного судна на территории РФ и на его борту отсутствуют товары, подлежащие разгрузке (выгрузке) или погрузке в месте посадки</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="LandingSign" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак о совершении промежуточной, вынужденной (технической) посадки воздушного судна на территории РФ.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GoodSign" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>На борту воздушного судна отсутствуют товары, подлежащие разгрузке (выгрузке) или погрузке в месте посадки</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
