Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/GoodsTranshipment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:GoodsTranshipment:5.4.0" version="5.4.0.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:gtsh="urn:customs.ru:Information:CustomsDocuments:GoodsTranshipment:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Уведомление о необходимости проведения грузовых операций и/или продлении срока транзита</xs:documentation>
   </xs:annotation>
   <xs:element name="GoodsTranshipment" type="gtsh:GoodsTranshipmentType"/>
   <xs:complexType name="GoodsTranshipmentType">
      <xs:annotation>
         <xs:documentation>Уведомление о необходимости проведения грузовых операций и/или продлении срока транзита</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="DocumentDirection" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак направления документа: 0 - от участника ВЭД в ТО; 1 - от ТО участнику ВЭД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice>
                  <xs:element name="TD" type="cat_ru:GTDIDType">
                     <xs:annotation>
                        <xs:documentation>Номер транзитной декларации</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="TIRID" type="gtsh:TIRIDType">
                     <xs:annotation>
                        <xs:documentation>Номер книжки МДП</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
               <xs:element minOccurs="0" name="IncidentInfo" type="gtsh:IncidentInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация о происшествии (об аварии или действии непреодолимой силы во время перевозки)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ReloadPlace" type="gtsh:ReloadPlaceType">
                  <xs:annotation>
                     <xs:documentation>Место проведения грузовых и иных операций.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Transport" type="gtsh:TransportInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о новом составе транспортных средств после проведения грузовых операций</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Seal" type="gtsh:SealType">
                  <xs:annotation>
                     <xs:documentation>Информация о вновь наложенных пломбах, печатях и иных средствах идентификации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsPerson" type="cat_ru:CustomsPersonType">
                  <xs:annotation>
                     <xs:documentation>Сведения о должностном лице таможенного органа, оформившем изменения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Consignment" type="gtsh:ConsignmentType">
                  <xs:annotation>
                     <xs:documentation>Товаротранспортная накладная</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006172E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="ConsignmentType">
      <xs:annotation>
         <xs:documentation>Товаротранспортная накладная</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="RegNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер накладной</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="GoodsItem" type="gtsh:GoodsType">
            <xs:annotation>
               <xs:documentation>Сведения о товаре</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DamageIndicatorsType">
      <xs:annotation>
         <xs:documentation>Признаки наличия повреждений</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="IsCargoApartmentDamaged" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак повреждения грузового отделения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IsSealsDamaged" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак повреждения пломб</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsType">
      <xs:annotation>
         <xs:documentation>Сведения о товарах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер товара по ТД/МДП.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="4" minOccurs="0" name="GoodsDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GrossMass" type="clt_ru:WeighQuantityType">
            <xs:annotation>
               <xs:documentation>Вес товара, брутто</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Container" type="catESAD_cu:ESADContainerType">
            <xs:annotation>
               <xs:documentation>Сведения о новом составе контейнеров</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="IncidentInfoType">
      <xs:annotation>
         <xs:documentation>Информация о происшествии (об аварии или действии непреодолимой силы во время перевозки)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="IncidentDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание обстоятельства, препятствующего перевозке товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Date" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата происшествия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Measures" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Меры, принятые для продолжения перевозки товаров под таможенным контролем.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AccidentPlace" type="cat_ru:AddressType">
            <xs:annotation>
               <xs:documentation>Место происшествия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
               <xs:documentation>Сведения о должностном лице таможенного органа, составившем акт об аварии.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DamageIndicators" type="gtsh:DamageIndicatorsType">
            <xs:annotation>
               <xs:documentation>Признаки наличия повреждений</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="LostGoodsInfo" type="gtsh:LostGoodsInfoType">
            <xs:annotation>
               <xs:documentation>Информация об утрате (отсутствии/уничтожении) части товара</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LostGoodsInfoType">
      <xs:annotation>
         <xs:documentation>Информация об утрате (отсутствии/уничтожении) части товара</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер товара по ТД/МДП.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="4" minOccurs="0" name="GoodsDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PackageKindSequence" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер вида упаковки, утраченной части товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AbsenceKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Вид утраты товара или его части: 1 - Утерян; 2 - Уничтожен; 3 - Частично утерян, частично уничтожен</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GrossMass" type="clt_ru:WeighQuantityType">
            <xs:annotation>
               <xs:documentation>Вес брутто утраченной части товара.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LostPackages" type="catESAD_cu:PackingInformationType">
            <xs:annotation>
               <xs:documentation>Сведения об утраченных упаковках</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LostGoodsQuantity" type="cat_ru:SupplementaryQuantityType">
            <xs:annotation>
               <xs:documentation>Количество утраченной части товара.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RWStationType">
      <xs:annotation>
         <xs:documentation>ЖД станция на которой предполагаются грузовые операции</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType">
            <xs:annotation>
               <xs:documentation>Код станции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="StationName" type="clt_ru:PlaceNameType">
            <xs:annotation>
               <xs:documentation>Наименование станции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RailwayCode" type="clt_ru:CodeVariable4Type">
            <xs:annotation>
               <xs:documentation>Код железнодорожной дороги </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ReloadPlaceType">
      <xs:annotation>
         <xs:documentation>Место проведения грузовых и иных операций.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CustomsType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BorderPointCode" type="clt_ru:Code6Type">
                  <xs:annotation>
                     <xs:documentation>Код пункта пропуска</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RWStation" type="gtsh:RWStationType">
                  <xs:annotation>
                     <xs:documentation>ЖД станция на которой предполагаются грузовые операции</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SealType">
      <xs:annotation>
         <xs:documentation>Информация о вновь наложенных пломбах.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="IdentNumber" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Номер наложенного средства идентификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IdentKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Вид средств идентификации: 1 - пломба, 2 - печать, 3 - иное</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IdentDesc" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечание по средству идентификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Quantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Количество</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TIRIDType">
      <xs:annotation>
         <xs:documentation>Номер книжки МДП</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TIRID" type="clt_ru:Code8Type">
            <xs:annotation>
               <xs:documentation>Номер книжки МДП.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TIRSeries" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Серия книжки МДП.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TIRPageNumber" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Номер листа книжки МДП.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TransportInfoType">
      <xs:annotation>
         <xs:documentation>Новое транспортное средство при отправлении</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:TransportMeansBaseType">
            <xs:sequence>
               <xs:element name="Mode" type="clt_ru:TransportModeCodeType">
                  <xs:annotation>
                     <xs:documentation>Код вида транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
