Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/Inventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:Inventory:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:ivt="urn:customs.ru:Information:CustomsDocuments:Inventory:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Опись документов.</xs:documentation>
   </xs:annotation>
   <xs:element name="Inventory" type="ivt:InventoryType"/>
   <xs:complexType name="InventoryType">
      <xs:annotation>
         <xs:documentation>Опись документов</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="NumberOfInvent" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Количество описей к ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RefPackageDocID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Ссылка на идентификатор документа в пакете</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GTDDocumentID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор ДТ.  Используется для привязки к ДТ при представлении описи отдельно от ДТ.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GTDPerson" type="ivt:GtdPersonType">
                  <xs:annotation>
                     <xs:documentation>Сведения о лице, подающем документ(ы)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="InventoryInstance" type="ivt:InventoryInstanceType">
                  <xs:annotation>
                     <xs:documentation>Экземпляр описи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GTDNumber" type="cat_ru:GTDIDType">
                  <xs:annotation>
                     <xs:documentation>Справочный номер ДТ Заполняется при  предоставлении документов после регистрации ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006003E" name="DocumentModeID" type="clt_ru:DocumentIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AddControlDescriptionType">
      <xs:annotation>
         <xs:documentation>Описание решения о проведении дополнительной проверки, по которому предоставляется документ.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="AddControlNumber" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер решения о проведении дополнительной проверки </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AddControlDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата решения о проведении дополнительной проверки</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsPresentDateType">
      <xs:annotation>
         <xs:documentation>Дата представления товарной партии</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PresentDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата представления товара/товарной партии</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GtdPersonType">
      <xs:annotation>
         <xs:documentation>Сведения о лице, подающем документ(ы)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BranchOrganizationName" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Наименование обособленного подразделения.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InventDocumentType">
      <xs:annotation>
         <xs:documentation>Документ из описи.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="InvDocCode" type="clt_ru:CustomsDocumentCodeType">
            <xs:annotation>
               <xs:documentation>Код вида представляемого документа. Заполняется согласно Классификатору видов документов, используемых при заявлении сведений в графе 44 ДТ. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="InvDocName" type="clt_ru:DocumentNameType">
            <xs:annotation>
               <xs:documentation>Вид документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvDocNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvDocDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvDocLists" type="clt_ru:SheetNumberType">
            <xs:annotation>
               <xs:documentation>Количество листов в документе</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvDocCopies" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Количество экземпляров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Note" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ArchID" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Идентификатор электронного архива декларанта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ArchDocID" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Идентификатор документа в электронном архиве декларанта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InventDocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Уникальный идентификатор документа, представленного в описи. Заполняется при использовании в системах электронного декларирования в случае наличия на момент составления описи указанного документа в электронном виде.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InventLineID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Уникальный идентификатор строки в описи. GUID. Обязателен для заполнения при использовании в системах электронного декларирования.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DocumentFormSign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
               <xs:documentation>Признак формы представления документа. 0 - в электронной форме, 1 - в виде бумажного документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Reason" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Причины, по которым невозможно предоставить документ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SerialNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер ЭПДТ в последовательности ЭПДТ, подаваемых на одну ЭВДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SerialNumberSign" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак того, что данный документ (ЭПДТ) является последним в последовательности</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RequestDescription" type="ivt:RequestDescriptionType">
            <xs:annotation>
               <xs:documentation>Описание запроса, по которому предоставляется документ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsPresentDate" type="ivt:GoodsPresentDateType">
            <xs:annotation>
               <xs:documentation>Дата представления товарной партии</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PrevGTDNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
               <xs:documentation>Номер предшествующей ДТ, к которой ранее был приложен документ.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AddControlDescription" type="ivt:AddControlDescriptionType">
            <xs:annotation>
               <xs:documentation>Описание решения о проведении дополнительной проверки, по которому предоставляется документ.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InventoryInstancePersonType">
      <xs:annotation>
         <xs:documentation>Сведения о лице, составившем опись</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:PersonBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="IdentityCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AuthoritesDocument" type="cat_ru:AuthoritesDocumentType">
                  <xs:annotation>
                     <xs:documentation>Документ, подтверждающий полномочия. </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InventoryInstanceType">
      <xs:annotation>
         <xs:documentation>Экземпляр описи.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="InstanceNumber" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер описи по ДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="InventoryInstanceDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата предоставления описи.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="InventoryInstancePerson" type="ivt:InventoryInstancePersonType">
            <xs:annotation>
               <xs:documentation>Сведения о лице, составившем опись</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="InventDocument" type="ivt:InventDocumentType">
            <xs:annotation>
               <xs:documentation>Документ из описи</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RequestDescriptionType">
      <xs:annotation>
         <xs:documentation>Описание запроса, по которому предоставляется документ.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RequestNumber" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер запроса по ДТ о предоставлении дополнительных документов</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RequestDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата формирования запроса</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
