Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/PassengerManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TransportDocuments:Air:PassengerManifest:5.4.3" version="5.4.3.0" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.4.3" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:passm="urn:customs.ru:Information:TransportDocuments:Air:PassengerManifest:5.4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.4.3" schemaLocation="TransportCommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Пассажирская ведомость</xs:documentation>
   </xs:annotation>
   <xs:element name="PassengerManifest" type="passm:PassengerManifestType"/>
   <xs:complexType name="PassengerManifestType">
      <xs:annotation>
         <xs:documentation>Пассажирская ведомость</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ListNumber" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ManifestDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата заполнения документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CarrierName" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Наименование перевозчика</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CarrierCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Двухсимвольный код  перевозчика</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TotalPassNumber" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Общая пассажировместимость</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="FactPassNumber" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Фактическое количество пассажиров </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LNG" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Код  языка документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TransportKind" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Тип транспорта 1 - воздушный 2 - водный</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ShipName" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Название судна</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Agent" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Агент</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Port" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Порт</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AirNationalityCode" type="clt_ru:CountryA2CodeType">
                  <xs:annotation>
                     <xs:documentation>Код страны принадлежности транспорта</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TotalCrewNumber" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Количество членов экипажа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="FlightInfo" type="catTrans_ru:FlightInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о рейсе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DestinationAirport" type="catTrans_ru:AirportType">
                  <xs:annotation>
                     <xs:documentation>Аэропорт назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PassengerCapacity" type="passm:PassengerCapacityType">
                  <xs:annotation>
                     <xs:documentation>Пассажировместимость судна</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PassengerInfo" type="passm:PassengerInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация о пассажире</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CaptainInfo" type="cat_ru:PersonSignatureType">
                  <xs:annotation>
                     <xs:documentation>Сведения о капитане</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="RoutingInfo" type="catTrans_ru:RoutigInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация о маршруте</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1003304E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="PassengerCapacityType">
      <xs:annotation>
         <xs:documentation>Пассажировместимость судна</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="FClassNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Число  мест для пассажиров первого класса</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="JClassNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Число  мест для пассажиров бизнес-класса</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="YClassNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Число  мест для пассажиров эконом-класса</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PassengerInfoType">
      <xs:annotation>
         <xs:documentation>Информация о пассажире</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Sex" type="clt_ru:CodeVariable4Type">
            <xs:annotation>
               <xs:documentation>Пол</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SeatNumber" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
               <xs:documentation>Номер места</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PersonName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>ФИО пассажира</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PlacesQuantity" type="clt_ru:Count2Type">
            <xs:annotation>
               <xs:documentation>Количество мест багажа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="WeightUnitQualifierCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Код измерения веса багажа (килограммы или фунты)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GrossWeightQuantity" type="clt_ru:WeighQuantityType">
            <xs:annotation>
               <xs:documentation>Вес багажа брутто</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Comment" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassClass" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Класс места</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BirthDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата рождения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BirthPlace" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Место рождения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Nationality" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Гражданство (альфа код страны)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DeparturePort" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Порт посадки пассажира</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinationPort" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Порт высадки пассажира</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinationAirport" type="catTrans_ru:AirportType">
            <xs:annotation>
               <xs:documentation>Аэропорт назначения пассажира</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IdentityCard" type="cat_ru:IdentityCardType">
            <xs:annotation>
               <xs:documentation>Документ удостоверяющий личность</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DepartureAirport" type="catTrans_ru:AirportType">
            <xs:annotation>
               <xs:documentation>Аэропорт отправления пассажира</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PassengersListType">
      <xs:annotation>
         <xs:documentation>Список пассажиров</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PassNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Количество пассажиров данного класса</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
