Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/PI_RwArrive.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:PriorInformation:PI_RWArrive:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:catpi_ru="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:cltpi_ru="urn:customs.ru:Information:PriorInformation:PriorCommonLeafTypes:5.0.5" xmlns:pirwa="urn:customs.ru:Information:PriorInformation:PI_RWArrive:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.4.0" schemaLocation="PriorCommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:PriorInformation:PriorCommonLeafTypes:5.0.5" schemaLocation="PriorCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Предварительное уведомление о прибытии товаров, перевозимых железнодорожным транспортом</xs:documentation>
   </xs:annotation>
   <xs:element name="PI_RwArrive" type="pirwa:PI_RwArriveType"/>
   <xs:complexType name="PI_RwArriveType">
      <xs:annotation>
         <xs:documentation>Предварительное уведомление о прибытии товаров, перевозимых железнодорожным транспортом</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="PI_URN" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор товарной партии. Формат - URN</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Train" type="pirwa:TrainType">
                  <xs:annotation>
                     <xs:documentation>Транспорт (поезд)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="GoodsShipment" type="pirwa:GoodsShipmentType">
                  <xs:annotation>
                     <xs:documentation>Товарная партия</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006815E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="GoodsShipmentType">
      <xs:annotation>
         <xs:documentation>Товарная партия</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="WagonNumbers" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
               <xs:documentation>Номера вагонов. Может не заполняться, если для товарной партии указан признак контейнерной перевозки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DepartureStation" type="clt_ru:RailwayStationCodeType">
            <xs:annotation>
               <xs:documentation>Станция отправления </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ContainerIndicator" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак контейнерной перевозки для товарной партии: да/нет</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SMGSNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер СМГС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DestinationStation" type="clt_ru:RailwayStationCodeType">
            <xs:annotation>
               <xs:documentation>Cтанция назначения </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DateExpectedArrival" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TimeExpectedArrival" type="clt_ru:TimeCustType">
            <xs:annotation>
               <xs:documentation>Время ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="Goods" type="pirwa:GoodsType">
            <xs:annotation>
               <xs:documentation>Товар</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Consignor" type="pirwa:OrganizationType">
            <xs:annotation>
               <xs:documentation>Сведения об отправителе</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Consignee" type="pirwa:OrganizationType">
            <xs:annotation>
               <xs:documentation>Сведения о получателе</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PIoutDestination" type="pirwa:PIoutDestinationType">
            <xs:annotation>
               <xs:documentation>Пункт назначения товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinationCountry" type="catpi_ru:CountryInformationType">
            <xs:annotation>
               <xs:documentation>Страна прибытия товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DispatchCountry" type="catpi_ru:CountryInformationType">
            <xs:annotation>
               <xs:documentation>Страна отправления товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BorderCustoms" type="cat_ru:CUCustomsType">
            <xs:annotation>
               <xs:documentation>Таможенный орган (пограничный пункт пропуска), в который ожидается прибытие товаров и транспортных средств.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsType">
      <xs:annotation>
         <xs:documentation>Товар</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catpi_ru:PI_GoodsType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="OrganizationType">
      <xs:annotation>
         <xs:documentation>Сведения об организации</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element name="Address" type="catpi_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PIoutDestinationType">
      <xs:annotation>
         <xs:documentation>Пункт назначения товаров</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catpi_ru:PI_DestinationPlaceType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DestinationWarehouse" type="catpi_ru:DestinationWarehouseType">
                  <xs:annotation>
                     <xs:documentation>СВХ места назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DestinationCustoms" type="cat_ru:CustomsType">
                  <xs:annotation>
                     <xs:documentation>Таможенный орган назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Address" type="catpi_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TrainType">
      <xs:annotation>
         <xs:documentation>Транспорт(поезд)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="TrainNumber" type="cltpi_ru:TrainNumber">
            <xs:annotation>
               <xs:documentation>Номер поезда</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TrainIndex" type="cltpi_ru:TrainIndex">
            <xs:annotation>
               <xs:documentation>Индекс поезда</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PPVNumber" type="clt_ru:CodeVariable8Type">
            <xs:annotation>
               <xs:documentation>Номер ППВ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ArrivalDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Ориентировочная дата прибытия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="Wagon" type="pirwa:WagonType">
            <xs:annotation>
               <xs:documentation>Вагон</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="WagonType">
      <xs:annotation>
         <xs:documentation>Вагон</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="WagonNumber" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
               <xs:documentation>Номер вагона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CountryRegistrationCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Буквенный код страны регистрации.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DepartureStation" type="clt_ru:RailwayStationCodeType">
            <xs:annotation>
               <xs:documentation>Станция отправления </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DestinationStation" type="clt_ru:RailwayStationCodeType">
            <xs:annotation>
               <xs:documentation>Станция назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EmptyIndicator" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак порожний (да\\нет)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ContainerNumbers" type="clt_ru:ContainerIdentityType">
            <xs:annotation>
               <xs:documentation>Номера контейнеров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AddInformaition" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечания</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="WagonNumeric" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер вагона в составе</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
