Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/PIint_TransitInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:PriorInformation:PIint_TransitInformation:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:catpi_ru="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:pint="urn:customs.ru:Information:PriorInformation:PIint_TransitInformation:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:PriorInformation:PriorCommonAggregateTypes:5.4.0" schemaLocation="PriorCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Уведомление о подаче предварительных сведений. Внутренний формат</xs:documentation>
   </xs:annotation>
   <xs:element name="PIint_TransitInformation" type="pint:PIint_TransitInformationType"/>
   <xs:complexType name="PIint_TransitInformationType">
      <xs:annotation>
         <xs:documentation>Уведомление о подаче предварительных сведений. Внутренний формат</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="PI_URN" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор товарной партии. Формат - URN</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DocumentDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата составления документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BrokerDocNumber" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер документа в АС брокера</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BorderCustomsCode" type="clt_ru:CustomsCodeType">
                  <xs:annotation>
                     <xs:documentation>Код таможни на границе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BorderCustomsName" type="clt_ru:CustomsOfficeNameType">
                  <xs:annotation>
                     <xs:documentation>Наименование таможни на границе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ExpectArriveDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Ожидаемая дата прибытия на пункт пропуска</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ExpectArriveTime" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Ожидаемое время прибытия на пункт пропуска</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Consignee" type="pint:ConsigneeType">
                  <xs:annotation>
                     <xs:documentation>Грузополучатель</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Carrier" type="pint:CarrierType">
                  <xs:annotation>
                     <xs:documentation>Перевозчик</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GoodsInformation" type="pint:GoodsInformationType">
                  <xs:annotation>
                     <xs:documentation>Информация о перевозимых товарах</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="LicenceDocument" type="catpi_ru:PresentedDocumentsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о документах обеспечения уплаты, лицензиях на перевозку товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Principal" type="pint:PrincipalType">
                  <xs:annotation>
                     <xs:documentation>Доверитель</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ShippingInformation" type="pint:ShippingInformationType">
                  <xs:annotation>
                     <xs:documentation>Информация о перевозке груза</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Consignor" type="pint:ConsignorType">
                  <xs:annotation>
                     <xs:documentation>Грузоотправитель</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006801E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CarrierType">
      <xs:annotation>
         <xs:documentation>Перевозчик</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ITN" type="clt_ru:ITNType">
                  <xs:annotation>
                     <xs:documentation>ИТН</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="DriverInformation" type="catpi_ru:DriverInformationType">
                  <xs:annotation>
                     <xs:documentation>Информация о водителях</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="IdentityCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес организации / физического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ConsigneeType">
      <xs:annotation>
         <xs:documentation>Грузополучатель</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ITN" type="clt_ru:ITNType">
                  <xs:annotation>
                     <xs:documentation>ИТН</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="IdentityCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес организации / физического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ConsignorType">
      <xs:annotation>
         <xs:documentation>Грузоотправитель</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ITN" type="clt_ru:ITNType">
                  <xs:annotation>
                     <xs:documentation>ИТН</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес организации / физического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="IdentityCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DestinationType">
      <xs:annotation>
         <xs:documentation>Место доставки товаров</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="DestinationRWStationCode" type="clt_ru:RailwayStationCodeType">
            <xs:annotation>
               <xs:documentation>Код ж/д станции назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinationRWStationName" type="clt_ru:PlaceNameType">
            <xs:annotation>
               <xs:documentation>Наименование железнодорожной станции назанчения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinantionPlaceName" type="clt_ru:PlaceNameType">
            <xs:annotation>
               <xs:documentation>Наименование места назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
            <xs:annotation>
               <xs:documentation>Адрес места назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinationWarehouse" type="catpi_ru:DestinationWarehouseType">
            <xs:annotation>
               <xs:documentation>СВХ места назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinationCustoms" type="cat_ru:CustomsType">
            <xs:annotation>
               <xs:documentation>Таможня назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsInformationType">
      <xs:annotation>
         <xs:documentation>Информация о перевозимых товарах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TotalGoodsNameQuantity" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Всего наименований товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ShipSpecifQuantity" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Количество отгрузочных спецификаций</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ShipSpecifGoodsQuantity" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Количество товаров по отгрузочным спецификациям</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TotalInvoicedCost" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Общая фактурная стоимость</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Буквенный код валюты</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CurrencyRate" type="clt_ru:CurrencyRateType">
            <xs:annotation>
               <xs:documentation>Курс валюты</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="Goods" type="catpi_ru:GoodsType">
            <xs:annotation>
               <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PrincipalType">
      <xs:annotation>
         <xs:documentation>Доверитель</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ITN" type="clt_ru:ITNType">
                  <xs:annotation>
                     <xs:documentation>ИТН</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="IdentityCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес организации / физического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ShippingInformationType">
      <xs:annotation>
         <xs:documentation>Информация о перевозке груза</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ContainerIndicator" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак контейнерных перевозок: да/нет</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DateLimit" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Планируемый срок перевозки товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DispatchCustoms" type="cat_ru:CustomsType">
            <xs:annotation>
               <xs:documentation>Таможня отправления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="BorderTransport" type="catpi_ru:TransportMeansType">
            <xs:annotation>
               <xs:documentation>Транспортное средство на границе.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Guarantee" type="catpi_ru:GuaranteeType">
            <xs:annotation>
               <xs:documentation>Гарантия, меры обеспечения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DestinationCountry" type="catpi_ru:CountryInformationType">
            <xs:annotation>
               <xs:documentation>Страна назначения товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ReloadingInfo" type="catpi_ru:ReloadingInfoType">
            <xs:annotation>
               <xs:documentation>Информация о планируемых перегрузках товаров или других грузовых операциях в пути</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DispatchCountry" type="catpi_ru:CountryInformationType">
            <xs:annotation>
               <xs:documentation>Страна отправления товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="TransitRoute" type="catpi_ru:TransitRouteType">
            <xs:annotation>
               <xs:documentation>Маршрут транзита</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Destination" type="pint:DestinationType">
            <xs:annotation>
               <xs:documentation>Пункт назначения товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
