Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/RepresentativeApplication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.4.0" xmlns:repapp="urn:customs.ru:Information:CustomsDocuments:RepresentativeApplication:5.4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:RepresentativeApplication:5.4.3" elementFormDefault="qualified" version="5.4.3.0">
	<xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.4.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Заявление таможенного представителя, используемое в качестве пассажирской таможенной декларации/Реестр возвращаемых товаров</xs:documentation>
	</xs:annotation>
	<xs:element name="RepresentativeApplication" type="repapp:RepresentativeApplicationType"/>
	<xs:complexType name="RepresentativeApplicationType">
		<xs:annotation>
			<xs:documentation>Заявление таможенного представителя, используемое в качестве пассажирской таможенной декларации/Реестр возвращаемых товаров</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DestinationCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Страна назначения. Буквенный код по классификатору стран мира</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalGoodsNumber" type="clt_ru:Count4Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Всего наименований товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Representative" type="repapp:RepresentativeType">
						<xs:annotation>
							<xs:documentation>Таможенный представитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicationSign" type="clt_ru:IndicatorType">
						<xs:annotation>
							<xs:documentation>Тип реестра: 0 - реестр доставляемых товаров, 1- реестр возвращаемых товаров </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ApplicationRegNumber" type="cat_ru:GTDIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер исходного реестра, если товары возвращаемые</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WarehousePlace" type="catESAD_ru:WarehousePlaceType">
						<xs:annotation>
							<xs:documentation>Номер лицензии СВХ, на котором размещены товары</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignment" type="repapp:ConsignmentType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о партии</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006181E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ConsigneeType">
		<xs:annotation>
			<xs:documentation>Получатель</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUOrganizationType">
				<xs:sequence>
					<xs:element name="ConsigneeSign" type="clt_ru:DigitalIndicatorType">
						<xs:annotation>
							<xs:documentation>Признак получателя: 0 - по товаросопроводительным документам; 1 - по доверенности</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConsignmentType">
		<xs:annotation>
			<xs:documentation>Сведения о партии</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ListNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Номер партии товаров по порядку в текущем реестре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevListNumeric" type="clt_ru:Count3Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Номер партии товаров в предшествующем реестре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndividualWayBill" type="repapp:IndividualWayBillType">
				<xs:annotation>
					<xs:documentation>Индивидуальная накладная</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType">
				<xs:annotation>
					<xs:documentation>Курс валюты счета (сделки) к евро</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyRubleRate" type="clt_ru:CurrencyRateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Курс валюты счета (сделки) к рублю</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="clt_ru:CurrencyA3CodeType">
				<xs:annotation>
					<xs:documentation>Код валюты счета (сделки)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товаров, брутто, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsCost" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость товаров в валюте счета (сделки)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsCostEuro" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость товаров в евро</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsCostRuble" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость товаров в рублях</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReservationID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор резервирования денежных средств для целей уплаты таможенных платежей</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consignor" type="cat_ru:CUOrganizationType">
				<xs:annotation>
					<xs:documentation>Отправитель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Consignee" type="repapp:ConsigneeType">
				<xs:annotation>
					<xs:documentation>Получатель</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Goods" type="repapp:GoodsType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о товарах</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsDuties" type="repapp:CustomsDutiesType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенные платежи, подлежащие уплате</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndicatorChange" type="clt_ru:IndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак корректированного товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WayBill" type="repapp:WayBillType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения об общих накладных</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomsDutiesType">
		<xs:annotation>
			<xs:documentation>Таможенные платежи, подлежащие уплате</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Duties" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенные пошлины, налоги</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Taxes" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Таможенные сборы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код валюты таможенного платежа</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Порядковый номер товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsCost" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Стоимость товара в валюте счета (сделки)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossWeight" type="clt_ru:QuantityBasisType">
				<xs:annotation>
					<xs:documentation>Вес товара, брутто, кг</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsCostEuro" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Стоимость товара в евро</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsCostRuble" type="clt_ru:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Стоимость товара в рублях</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Количество товара в основной (дополнительной) единице измерения</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresentedDocuments" type="repapp:PresentedDocumentsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сведения о представляемых документах</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PresentedDocumentsType">
		<xs:annotation>
			<xs:documentation>Сведения о представляемых документах</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentModeCode" type="clt_ru:CustomsDocumentCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код вида документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RepresentativeType">
		<xs:annotation>
			<xs:documentation>Таможенный представитель</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUOrganizationType">
				<xs:sequence>
					<xs:element name="LicenseNumber" type="clt_ru:DocumentNumberType">
						<xs:annotation>
							<xs:documentation>Номер лицензии</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OKPOID" type="clt_ru:OKPOIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код организации по ОКПО</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WayBillType">
		<xs:annotation>
			<xs:documentation>Сведения о накладной</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="WayBillKind" type="clt_ru:Numeric1Type">
						<xs:annotation>
							<xs:documentation>Тип: 2 - общая авианакладная; 3 - транспортная накладная</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IndividualWayBillType">
		<xs:annotation>
			<xs:documentation>Сведения об индивидуальной накладной</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
