Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/ReqInventoryDoc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ReqInventoryDoc:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:rid="urn:customs.ru:Information:CustomsDocuments:ReqInventoryDoc:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Запрос о представлении электронных документов</xs:documentation>
   </xs:annotation>
   <xs:element name="ReqInventoryDoc" type="rid:ReqInventoryDocType"/>
   <xs:complexType name="ReqInventoryDocType">
      <xs:annotation>
         <xs:documentation>Запрос о представлении электронных документов</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="RequestNumber" type="clt_ru:Count5Type">
                  <xs:annotation>
                     <xs:documentation>Порядковый номер запроса по ДТ о представлении дополнительных документов</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SendDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата направления запроса</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SendTime" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время направления запроса</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RequestDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата формирования запроса</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RequestTime" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время формирования запроса</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DateLimit" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Срок предоставления документов</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ApplicationSourceSystemID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Идентификатор заявления на ЕПГУ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ApplicationID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Идентификатор заявки в АПС "Электронные Госуслуги-2"</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DocSign" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Запрос о представлении недостающих документов и сведений: 1 - в случае подачи заявления на уничтожение; 0 - иное</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Communication" type="rid:CommunicationType">
                  <xs:annotation>
                     <xs:documentation>Средство связи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="RequestedDoc" type="rid:RequestedDocType">
                  <xs:annotation>
                     <xs:documentation>Запрашиваемый документ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
                  <xs:annotation>
                     <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Customs" type="cat_ru:CustomsType">
                  <xs:annotation>
                     <xs:documentation>Таможенный орган</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GTDNumber" type="cat_ru:GTDIDType">
                  <xs:annotation>
                     <xs:documentation>Справочный номер ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OEZ_RegistrationNumber" type="rid:OEZ_RegistrationNumberType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер уведомления о ввозе/вывозе товаров на территорию ОЭЗ/Заявления на уничтожение</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006006E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CommunicationType">
      <xs:annotation>
         <xs:documentation>Средство связи</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CommCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Код средства связи: "1"-телефон, "2"-факс, "3"-телекс, "4"-телеграф, "5"-e-mail, "6"-почта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CommNumberAddress" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Номер средства связи / адрес</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OEZ_RegistrationNumberType">
      <xs:annotation>
         <xs:documentation>Регистрационный номер уведомления о ввозе/вывозе товаров на территорию ОЭЗ</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного органа, зарегистрировавшего документ.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RegistrationDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата регистрации документа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Number" type="clt_ru:Code9Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер документа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RequestedDocType">
      <xs:annotation>
         <xs:documentation>Запрашиваемый документ</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="RequestPositionID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Идентификатор позиции в запросе. Используется в АПС "Электронное представление сведений"</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Position" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Порядковый номер записи в запросе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DocCode" type="clt_ru:CustomsDocumentCodeType">
                  <xs:annotation>
                     <xs:documentation>Код вида запрашиваемого документа (заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ArchDeclID" type="clt_ru:ArchiveDeclarantIDType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор декларанта в Электронном Архиве Декларанта.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AarchID" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор архива декларанта (используется при запросе документа из архива)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ArchDocID" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор документа в архиве (используется при запросе документа из архива)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ADocumentID" type="clt_ru:ArchiveDocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор документа (используется при запросе документа из архива)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ReqPurpose" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Цель, для которой запрашивается документ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Note" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Примечание</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RequestorName" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>ФИО должностного лица, запрашивающего дополнительные документы и сведения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="InventLineID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор строки в описи. GUID. Заполняется при запросе документа из описи.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
