Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/ResultTK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SQDocuments:ResultTK:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:rstk="urn:customs.ru:Information:SQDocuments:ResultTK:5.4.0" xmlns:sq_clt="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" schemaLocation="SQCommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Сведения из транспортного контроля</xs:documentation>
   </xs:annotation>
   <xs:element name="ResultTK" type="rstk:ResultTKType"/>
   <xs:complexType name="ResultTKType">
      <xs:annotation>
         <xs:documentation>Сведения из транспортного контроля</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="Inspection" type="rstk:InspectionType">
                  <xs:annotation>
                     <xs:documentation>Данные транспортного контроля/инспекции</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1009038E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AccountCodeType">
      <xs:annotation>
         <xs:documentation>Учетный талон</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="AccountCodeID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор учетного талона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AccountCodeNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер учетного талона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AccountCodeCreateDate" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата/время выдачи учетного талона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InspectionID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор листа учета (связь с документом "Сведения из транспортного контроля")</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Information" type="sq_clt:FreeText4000Type">
            <xs:annotation>
               <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Driver" type="cat_ru:PersonBaseType">
            <xs:annotation>
               <xs:documentation>Водитель</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AccountCodeEmployee" type="cat_ru:PersonBaseType">
            <xs:annotation>
               <xs:documentation>Инспектор, выдавший Учетный талон</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BankRequisType">
      <xs:annotation>
         <xs:documentation>Реквизиты банка</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="BankName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Наименование банка</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BIC" type="clt_ru:BICIDType">
            <xs:annotation>
               <xs:documentation>БИК</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CorrespAccount" type="clt_ru:AccountType">
            <xs:annotation>
               <xs:documentation>Номер корреспондентского счета (субсчета)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BankPlace" type="clt_ru:PlaceNameType">
            <xs:annotation>
               <xs:documentation>Местонахождение банка</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PersonalAccount" type="clt_ru:AccountType">
            <xs:annotation>
               <xs:documentation>Лицевой счет клиента</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CheckPointType">
      <xs:annotation>
         <xs:documentation>Пост (пункт пропуска), где осуществлялся транспортный контроль</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CheckPointCode" type="clt_ru:CodeVariable8Type">
            <xs:annotation>
               <xs:documentation>Код поста (пункта пропуска)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CheckPointName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Наименование поста (пункта пропуска)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CountryCode" type="clt_ru:CountryA3CodeType">
            <xs:annotation>
               <xs:documentation>Код страны</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CheckType">
      <xs:annotation>
         <xs:documentation>Квитанция</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Sum" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Сумма дорожных сборов/штрафа</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CheckViolationType">
      <xs:annotation>
         <xs:documentation>Данные проверки/наличия нарушения</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="RequirementInfo" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание требования/условия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ViolationName" type="clt_ru:CodeVariable20Type">
            <xs:annotation>
               <xs:documentation>Наименование нарушения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ControlStatusName" type="clt_ru:CodeVariable11Type">
            <xs:annotation>
               <xs:documentation>Статус проверки/наличия нарушения (YES - Да; NO - Нет; NOTREQUIRED - Не требуется; NOTVERIFIED - Не проверялось)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NotifNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер уведомления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CorrectionDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата устранения замечания</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CountryRegionType">
      <xs:annotation>
         <xs:documentation>Код страны, код региона, наименование пункта</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CountryCode" type="clt_ru:CountryA3CodeType">
            <xs:annotation>
               <xs:documentation>Код страны</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RegionCode" type="clt_ru:RegionCodeType">
            <xs:annotation>
               <xs:documentation>Код региона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PlaceName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование пункта</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DocumentalControlType">
      <xs:annotation>
         <xs:documentation>Сведения из документального контроля</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="AccountCode" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер учетного талона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="StartDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата/время начала документального контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NumberUNO" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Номер/код опасного груза по ООН</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MassTSFull" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Полная масса ТС / состава ТС, тонн</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IsRoadPayment" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
               <xs:documentation>Грузоподъемность (больше 3.5 тонн - 1, меньше 3.5 тонн - 0)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DangerClass" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Класс опасного груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IsRoadPayed" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак наличия оплаты дорожного сбора</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DocumentalEmployee" type="cat_ru:CustomsPersonType">
            <xs:annotation>
               <xs:documentation>Инспектор, проводивший инструментальный контроль</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FirstDriver" type="cat_ru:PersonBaseType">
            <xs:annotation>
               <xs:documentation>Водитель</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="Requirement" type="rstk:CheckViolationType">
            <xs:annotation>
               <xs:documentation>Сведения о соответствии/выполнении требованию/условия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Carrier" type="cat_ru:CUOrganizationType">
            <xs:annotation>
               <xs:documentation>Перевозчик</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Consignor" type="cat_ru:CUOrganizationType">
            <xs:annotation>
               <xs:documentation>Отправитель</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Consignee" type="cat_ru:CUOrganizationType">
            <xs:annotation>
               <xs:documentation>Получатель</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassTG" type="rstk:UsingPassType">
            <xs:annotation>
               <xs:documentation>Наличие разрешения на перевозку ТГ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassKG" type="rstk:UsingPassType">
            <xs:annotation>
               <xs:documentation>Наличие разрешения на перевозку КГ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassOG" type="rstk:UsingPassType">
            <xs:annotation>
               <xs:documentation>Наличие разрешения на перевозку ОГ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassSPS" type="rstk:UsingPassType">
            <xs:annotation>
               <xs:documentation>Наличие разрешения на перевозку СПС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassCard" type="rstk:LicenceCardType">
            <xs:annotation>
               <xs:documentation>Карточка допуска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LicenceCard" type="rstk:LicenceCardType">
            <xs:annotation>
               <xs:documentation>Лицензионная карточка</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TransitPermit" type="rstk:UsingPassType">
            <xs:annotation>
               <xs:documentation>Использование разрешения на поездку</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DispatchLocation" type="rstk:CountryRegionType">
            <xs:annotation>
               <xs:documentation>Место отправления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DestinationLocation" type="rstk:CountryRegionType">
            <xs:annotation>
               <xs:documentation>Место назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TahogData" type="rstk:TahogDataType">
            <xs:annotation>
               <xs:documentation>Данные цифрового тахографа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InspectionType">
      <xs:annotation>
         <xs:documentation>Данные транспортного контроля/инспекции</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="InspectionID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор инспекции/транспортного контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="InspectionDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата/время инспекции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="InstrumentalControlID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор инструментального контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DocumentalControlID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор документального контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ViolationControlID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор листа контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BelarusControlID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор белорусского контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="KazakhControlID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор казахстанского контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DecisionName" type="clt_ru:CodeVariable10Type">
            <xs:annotation>
               <xs:documentation>Решение, принятое по результатам контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата/время окончания транспортного контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Information" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечание инспектора транспортного контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IsInstrumental" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак инструментального контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IsVisual" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак визуального контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IsDocumental" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак документального контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Violation" type="clt_ru:CodeVariable20Type">
            <xs:annotation>
               <xs:documentation>Выявленные в контроле нарушения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CheckPoint" type="rstk:CheckPointType">
            <xs:annotation>
               <xs:documentation>Пост (пункт пропуска), где осуществлялся транспортный контроль</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InstrumentalControl" type="rstk:InstrumentalControlType">
            <xs:annotation>
               <xs:documentation>Сведения из инструментального контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="VisualControl" type="rstk:VisualControlType">
            <xs:annotation>
               <xs:documentation>Сведения из визуального контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DocumentalControl" type="rstk:DocumentalControlType">
            <xs:annotation>
               <xs:documentation>Сведения из документального контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BelarusControl" type="rstk:RBKZControlType">
            <xs:annotation>
               <xs:documentation>Сведения из листа транспортного контроля Республики Беларусь</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="KazakhControl" type="rstk:RBKZControlType">
            <xs:annotation>
               <xs:documentation>Сведения из листа транспортного контроля Республики Казахстан</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="NotifDocument" type="rstk:NotifDocumentType">
            <xs:annotation>
               <xs:documentation>Сведения из уведомления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AccountCode" type="rstk:AccountCodeType">
            <xs:annotation>
               <xs:documentation>Учетный талон</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PostPenalty" type="rstk:PostPenaltyType">
            <xs:annotation>
               <xs:documentation>Сведения об оплате штрафа с ПК</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InstrumentalControlType">
      <xs:annotation>
         <xs:documentation>Сведения из инструментального контроля</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Number" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер листа учета</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата/время начала инструментального контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер талона контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Course" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
               <xs:documentation>Шифр поездки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="InstrumentalEmployee" type="cat_ru:CustomsPersonType">
            <xs:annotation>
               <xs:documentation>Инспектор, проводивший инструментальный контроль</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Weight" type="rstk:WeightType">
            <xs:annotation>
               <xs:documentation>Весовые параметры ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Size" type="rstk:SizeType">
            <xs:annotation>
               <xs:documentation>Габаритные параметры ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Auto" type="cat_ru:TransportMeansBaseType">
            <xs:annotation>
               <xs:documentation>Регистрационные данные ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="ViolSmokeNoise" type="rstk:CheckViolationType">
            <xs:annotation>
               <xs:documentation>Соответствие дымности (токсичности)/уровню шумности</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassWeight" type="rstk:UsingPassType">
            <xs:annotation>
               <xs:documentation>МСВТС</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LicenceCardType">
      <xs:annotation>
         <xs:documentation>Данные карточки допуска/лицензионной карточки</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="PassKind" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Вид спецразрешения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Number" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Номер карточки допуска/лицензионной карточки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ControlStatusName" type="clt_ru:CodeVariable11Type">
            <xs:annotation>
               <xs:documentation>Статус проверки карточки допуска/лицензионной карточки (YES - Да; NO - Нет; NOTREQUIRED - Не требуется; NOTVERIFIED - Не проверялось)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Duration" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Срок действия карточки допуска/лицензионной карточки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LicenceStatusName" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Статус карточки допуска/лицензионной карточки (Истек срок действия / Приостановлено / Аннулировано)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Certificate" type="cat_ru:DocumentBaseType">
            <xs:annotation>
               <xs:documentation>Номер сертификата на карточку допуска/лицензионную карточки</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NotifDocumentType">
      <xs:annotation>
         <xs:documentation>Сведения из уведомления</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="NotifID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор уведомления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NotifNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер уведомления </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CountryCode" type="clt_ru:CountryA3CodeType">
            <xs:annotation>
               <xs:documentation>Код страны</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Customs" type="cat_ru:CUCustomsType">
            <xs:annotation>
               <xs:documentation>Контрольный пункт, в который необходимо предоставить документы</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
               <xs:documentation>Инспектор, выдавший уведомление</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Driver" type="cat_ru:PersonBaseType">
            <xs:annotation>
               <xs:documentation>Водитель</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PenaltyType">
      <xs:annotation>
         <xs:documentation>Сведения об оплате штрафа</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PenaltyCreateDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата/время внесения платежа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PayDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата/время оплаты</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Organization" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код КП, где были внесены данные об оплате</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PayDoc" type="cat_ru:DocumentBaseType">
            <xs:annotation>
               <xs:documentation>Платежный документ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Payer" type="cat_ru:CUOrganizationType">
            <xs:annotation>
               <xs:documentation>Плательщик</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BankRequis" type="rstk:BankRequisType">
            <xs:annotation>
               <xs:documentation>Реквизиты банка</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TSInfo" type="cat_ru:TransportMeansBaseType">
            <xs:annotation>
               <xs:documentation>Сведения о транспортном средстве</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PostPenaltyType">
      <xs:annotation>
         <xs:documentation>Сведения об оплате штрафа с ПК</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="IsPaid" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Отметка об оплате</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ViolatorID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор записи в реестре нарушителей</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PenaltySum" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Сумма штрафа в рублях</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Resolution" type="cat_ru:DocumentBaseType">
            <xs:annotation>
               <xs:documentation>Постановление</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Penalty" type="rstk:PenaltyType">
            <xs:annotation>
               <xs:documentation>Сведения об оплате штрафа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RBKZControlType">
      <xs:annotation>
         <xs:documentation>Сведения из листа транспортного контроля</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="IsTG" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак тяжеловесного груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IsKG" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак крупно-габаритного груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IsOG" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак опасного груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AccountCode" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер учетного талона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PermitSeries" type="clt_ru:Code4Type">
            <xs:annotation>
               <xs:documentation>Серия разрешения (FREE - Б(бесплатный); PAID - П(платный))</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Currency" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Валюта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TransitPermit" type="rstk:UsingPassType">
            <xs:annotation>
               <xs:documentation>Наличие разрешения на поездку</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RoadCheck" type="rstk:CheckType">
            <xs:annotation>
               <xs:documentation>Квитанция об оплате дорожных сборов</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PenaltyCheck" type="rstk:CheckType">
            <xs:annotation>
               <xs:documentation>Квитанция об оплате штрафа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Resolution" type="cat_ru:DocumentBaseType">
            <xs:annotation>
               <xs:documentation>Постановление</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="Suitability" type="rstk:CheckViolationType">
            <xs:annotation>
               <xs:documentation>Наличие разрешений/документов об оплате/соответствие параметрам, указанным в разрешении</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassTG" type="rstk:UsingPassType">
            <xs:annotation>
               <xs:documentation>Наличие разрешения на перевозку ТГ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassKG" type="rstk:UsingPassType">
            <xs:annotation>
               <xs:documentation>Наличие разрешения на перевозку КГ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassOG" type="rstk:UsingPassType">
            <xs:annotation>
               <xs:documentation>Наличие разрешения на перевозку ОГ</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SizeType">
      <xs:annotation>
         <xs:documentation>Габаритные параметры ТС</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Height" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Высота ТС, м</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Width" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Ширина ТС, м</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Length" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Длина ТС, м</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TahogDataType">
      <xs:annotation>
         <xs:documentation>Данные цифрового тахографа</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ApprovalDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата/время официального утверждения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TahogInspectDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата/время последней инспекции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DriveDuration" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Продолжительность управления ТС за предыдущий период</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DriveDurationWeek" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Продолжительность управления ТС за предыдущую неделю</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RestDuration" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Продолжительность отдыха за предыдущие сутки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RestDurationWeek" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Продолжительность отдыха за предыдущую неделю</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BreakDuration" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Продолжительность перерывов в течение смены</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TransportType">
      <xs:annotation>
         <xs:documentation>Регистрационные данные ТС</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:TransportMeansBaseType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="ViolFidelNumbTrail" type="rstk:CheckViolationType">
                  <xs:annotation>
                     <xs:documentation>Наличие и соответствие отличительного знака страны регистрации прицепа/полуприцепа установленным требованиям</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="UsingPassType">
      <xs:annotation>
         <xs:documentation>Использование спец.разрешения на поездку</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ControlStatusName" type="clt_ru:CodeVariable11Type">
                  <xs:annotation>
                     <xs:documentation>Статус проверки разрешения</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="VisualControlType">
      <xs:annotation>
         <xs:documentation>Сведения из визуального контроля</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ShipmentType" type="clt_ru:CodeVariable14Type">
            <xs:annotation>
               <xs:documentation>Вид перевозки (CONVEY - Перевозка пассажиров; NO_PASSENGER - Без пассажиров; NO_CARGO - Без груза; FREIGHT - Перевозка грузов)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TripKind" type="clt_ru:CodeVariable10Type">
            <xs:annotation>
               <xs:documentation>Вид поездки (REGULAR - Регулярная; IRREGULAR - Нерегулярная)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IsTG" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак тяжеловесного груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IsKG" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак крупно-габаритного груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IsOG" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак опасного груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IsSPS" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак скоропортящегося груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IsMAP" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак международной автомобильной перевозки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassengerCount" type="clt_ru:Quantity8Type">
            <xs:annotation>
               <xs:documentation>Количество пассажиров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IsTransit" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак транзитной поездки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CargoTypeName" type="clt_ru:GoodsNomenclatureCodeType">
            <xs:annotation>
               <xs:documentation>Код товара по ТН ВЭД</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Trailer" type="rstk:TransportType">
            <xs:annotation>
               <xs:documentation>Регистрационные данные первого прицепа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Requirement" type="rstk:CheckViolationType">
            <xs:annotation>
               <xs:documentation>Сведения о наличии/соответствии/выполнении требования/условия</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="WeightType">
      <xs:annotation>
         <xs:documentation>Весовые параметры ТС</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Pin" type="clt_ru:Quantity14point2Type">
            <xs:annotation>
               <xs:documentation>Список нагрузок на каждую ось, т</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Total" type="clt_ru:Quantity14point2Type">
            <xs:annotation>
               <xs:documentation>Суммарная нагрузка на оси ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PinCount" type="clt_ru:Count4Type">
            <xs:annotation>
               <xs:documentation>Количество осей ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Distance" type="clt_ru:Quantity14point2Type">
            <xs:annotation>
               <xs:documentation>Список расстояний между осями, м</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Cargo" type="clt_ru:Quantity14point2Type">
            <xs:annotation>
               <xs:documentation>Вес груза, т</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
