Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/RevealingTransportPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:RevealingTransportPP:5.4.0" version="5.4.0.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:rtpp="urn:customs.ru:Information:CustomsDocuments:RevealingTransportPP:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Сообщение о прибытии/убытии транспортного средства</xs:documentation>
   </xs:annotation>
   <xs:element name="RevealingTransportPP" type="rtpp:RevealingTransportPPType"/>
   <xs:complexType name="RevealingTransportPPType">
      <xs:annotation>
         <xs:documentation>Сообщение о прибытии/убытии транспортного средства</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="ServiceInfo" type="rtpp:ServiceInfoType">
                  <xs:annotation>
                     <xs:documentation>Служебная информация</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Transport" type="rtpp:TransportType">
                  <xs:annotation>
                     <xs:documentation>Сведения о транспортном средстве</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Consignment" type="rtpp:ConsignmentType">
                  <xs:annotation>
                     <xs:documentation>Сведения о товарной партии</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RegistrationNumber" type="cat_ru:GTDIDType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер уведомления о прибытии / убытии.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006158E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа (код документа в Альбоме форматов для РФ)</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CarInformationType">
      <xs:annotation>
         <xs:documentation>Сведения об автомобильном транспорте</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUTransportMeansType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="TransportMeansBase" type="cat_ru:TransportMeansBaseType">
                  <xs:annotation>
                     <xs:documentation>Базовый тип для описания транспортного средства в таможенных документах.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ConsignmentType">
      <xs:annotation>
         <xs:documentation>Сведения о товарной партии</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="LotID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор товарной партии, присваиваемый в АС "ПП"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TTNNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер ТТН</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TTNDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата ТТН</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Таможенный номер накладной</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GrossWeight" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес брутто, кг</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MeasureUnitQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Количество в ДЕИ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvoicedAmount" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Общая стоимость</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvoicedCurrencyCode3" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Буквенный код валюты общей стоимости</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DispatchCountryCode2" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Символьный код страны отправления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinationCountryCode2" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Символьный код страны назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TotalPlaces" type="clt_ru:PackagesQuantityType">
            <xs:annotation>
               <xs:documentation>Общее количество грузовых мест товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ConsignmentSerNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер партии</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NetWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес нетто, кг</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PI_RegID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Регистрационный идентификатор предварительной информации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Consignor" type="cat_ru:OrganizationType">
            <xs:annotation>
               <xs:documentation>Сведения об отправителе товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Consignee" type="cat_ru:OrganizationType">
            <xs:annotation>
               <xs:documentation>Сведения о получателе товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="Goods" type="rtpp:GoodsType">
            <xs:annotation>
               <xs:documentation>Сведения о товаре</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Carrier" type="cat_ru:OrganizationType">
            <xs:annotation>
               <xs:documentation>Сведения о перевозчике товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsType">
      <xs:annotation>
         <xs:documentation>Сведения о товаре</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TNVEDCode" type="clt_ru:GoodsNomenclatureCodeType">
            <xs:annotation>
               <xs:documentation>Код товара по ТНВЭД</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GrossWeight" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес брутто, кг</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvoicedAmount" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Фактурная стоимость</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ContractCurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Код валюты контракта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ContainerIdentificator" type="clt_ru:ContainerIdentityType">
            <xs:annotation>
               <xs:documentation>Номер (идентификатор) контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NetWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес нетто, кг</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="4" minOccurs="0" name="GoodsDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OriginCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Буквенный код страны происхождения товара в соответствии с Классификатором стран мира.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType">
            <xs:annotation>
               <xs:documentation>Количество в дополнительной единице измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="PackingInformation" type="catESAD_cu:PackingInformationType">
            <xs:annotation>
               <xs:documentation>Сведения об упаковке товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RegNumberDT" type="cat_ru:GTDIDType">
            <xs:annotation>
               <xs:documentation>Номер оформленной ДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MDPInfoType">
      <xs:annotation>
         <xs:documentation>Информация о книжке МДП</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MDPSeriesNumber" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Серия МДП</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MDPNumber" type="clt_ru:Code8Type">
            <xs:annotation>
               <xs:documentation>Номер книжки МДП</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MDPHolder" type="clt_ru:TIRHolderIDType">
            <xs:annotation>
               <xs:documentation>Номер держателя книжки МДП</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ServiceInfoType">
      <xs:annotation>
         <xs:documentation>Служебная информация</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TransportID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор сообщения о  прибытии/убытии</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CrossDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата подачи документов (для СВР ПП)/Дата формирования запроса на выявление рисков (для АИСТ-М)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomsID" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного органа (КТАМ)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomsProcedure" type="cltESAD_ru:CustomsProcedureType">
            <xs:annotation>
               <xs:documentation>Направление перемещения: ИМ (прибытие)/ ЭК (убытие)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TrainInformationType">
      <xs:annotation>
         <xs:documentation>Сведения о железнодорожном транспорте</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
            <xs:annotation>
               <xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="WagonNumber" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
               <xs:documentation>Номер вагона</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TransportType">
      <xs:annotation>
         <xs:documentation>Сведения о транспортном средстве</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Weight" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес ТС с товарами по документам в кг</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BatchQuantity" type="clt_ru:Quantity8Type">
            <xs:annotation>
               <xs:documentation>Количество партий</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FactWeight" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес ТС с товаром фактический (результат взвешивания) в кг</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PI_RegID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Регистрационный идентификатор предварительной информации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice>
            <xs:element name="CarInformation" type="rtpp:CarInformationType">
               <xs:annotation>
                  <xs:documentation>Сведения об автомобильном транспорте</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="TrainInformation" type="rtpp:TrainInformationType">
               <xs:annotation>
                  <xs:documentation>Сведения о железнодорожном транспорте</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:element minOccurs="0" name="Carrier" type="cat_ru:OrganizationType">
            <xs:annotation>
               <xs:documentation>Сведения о перевозчике товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="MDPInfo" type="rtpp:MDPInfoType">
            <xs:annotation>
               <xs:documentation>Информация о книжке МДП</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
