Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/RevealedRisks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:RevealedRisks:5.4.0" version="5.4.0.0" xmlns:CategoryCust="urn:customs.ru:Categories:3.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:rrsk="urn:customs.ru:Information:CustomsDocuments:RevealedRisks:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Categories:3.0.0" schemaLocation="CategoriesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Отчет по выявленным рискам</xs:documentation>
   </xs:annotation>
   <xs:element name="RevealedRisks" type="rrsk:RevealedRisksType"/>
   <xs:complexType name="RevealedRisksType">
      <xs:annotation>
         <xs:documentation>Отчет по выявленным рискам</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="GTDDocumentID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор ДТ, к которой относятся выявленные риски. Заполняется при использовании электронной формы декларирования.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="RevealledRisks" type="rrsk:RevealledRisksType">
                  <xs:annotation>
                     <xs:documentation>ДТ - выявленные риски</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="RiskInf" type="rrsk:RiskInfType">
                  <xs:annotation>
                     <xs:documentation>Обоснование применения мер по минимизации рисков</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GTDID" type="cat_ru:GTDIDType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер ДТ.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006091E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="ActionResultType">
      <xs:annotation>
         <xs:documentation>Результаты применения мер по минимизации рисков</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ActionResultCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код результата применения меры по минимизации риска (значение указывается в соответствии с классификатором "Результатов применения прямых мер по минимизации рисков")</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InspectedGoodsWeight" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес нетто досмотренных товаров (Резерв)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DelictGoodsWeight" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес нетто товаров, являющихся объектом правонарушения (Резерв)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ChangeTNVEDMargin" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Разность между суммой подлежащих к уплате таможенных платежей до и после принятия решений (руб.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="KTSMargin" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Разность между причитающимися таможенными платежами до и после корректировки таможенной стоимости товаров (Резерв)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NewGoodsNumeric" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Номер товара по вновь поданной ДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="KodeksPunkt" type="clt_ru:Text4Type">
            <xs:annotation>
               <xs:documentation>Номер статьи Кодекса Российской Федерации об административных правонарушениях (КоАП России) или Уголовного кодекса России (УК России) </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="KodeksPartPunkt" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Номер части статьи КоАП России или УК России</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GTDIDNew" type="cat_ru:GTDIDType">
            <xs:annotation>
               <xs:documentation>Регистрационный номер вновь поданной ДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AddNonFormInfoActionType">
      <xs:annotation>
         <xs:documentation>Дополнительная неформализованная информация - уровень меры</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="InformationCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Код информации: 0 - Резерв; 1- Описание причины неприменения меры в силу объективных причин, применения не в соответствии с характеристиками, определенными в профиле риска, либо не в полном объеме; 2 - Отметка о результатах применения мер</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="LineNumber" type="clt_ru:Count10Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер строки информации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ViolationsCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код типа выявленного нарушения таможенного законодательства</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="TypicalName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Обоснование применения (неприменения) мер</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PointCode" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Этап проведения проверки на соответствие профилям риска </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AddNonFormInfoRiskProfileType">
      <xs:annotation>
         <xs:documentation>Дополнительная неформализованная информация - уровень профиля риска</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="InformationCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Код информации: 4 - применение мер по минимизации рисков на основании "рамочных" профилей риска; 5 - применение мер по минимизации рисков по самостоятельному решению должностного лица; 7 -  применение мер на основании профилей риска по информации правоохранительных подразделений; 8 - применение мер по минимизации рисков на основании профиля риска № 11/10000/10062011/01900 и его последующих актуализированных версий; 9 - применение мер по минимизации рисков на основании профиля риска № 11/10000/24092008/00340 и его последующих актуализированных версий</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="LineNumber" type="clt_ru:Count10Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер строки информации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="TypicalName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Обоснование применения мер</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PointCode" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Этап проведения проверки на соответствие профилям риска </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AdministrativeInfractionType">
      <xs:annotation>
         <xs:documentation>Дела об административных правонарушениях, уголовные дела</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="LineNumber" type="clt_ru:Count10Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер строки информации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PointCode" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Этап проведения проверки на соответствие профилям риска </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="KodeksPunkt" type="clt_ru:Text4Type">
            <xs:annotation>
               <xs:documentation>Номер статьи Кодекса Российской Федерации об административных правонарушениях (КоАП России), Уголовного Кодекса Российской Федерации (УК России)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="KodeksPartPunkt" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Номер части статьи КоАП России, УК России</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InspectionCharacterType">
      <xs:annotation>
         <xs:documentation>Характеристики досмотра/осмотра</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="InspCharCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код характеристики досмотра/осмотра (указывается в соответствии со значением классификатора "Характеристик таможенного досмотра товаров")</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="InspCharValue" type="rrsk:CharacterCode">
            <xs:annotation>
               <xs:documentation>Значение характеристики досмотра/осмотра (указывается в соответствии со значением классификатора "Допустимых значений Характеристик таможенного досмотра товаров" rskzdosm.dbf)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CodeChoiceIndicator" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Признак, определяющий возможность выбора значения характеристики таможенного досмотра/осмотра.  0 - возможно выбирать значения характеристик таможенного досмотра/осмотра, 1 - возможность выбора отсутствует (досмотр применяется в соответствии со значениями характеристик, установленных профилем риска)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NumberDefinitionsType">
      <xs:annotation>
         <xs:documentation>Номер определения о возбуждении дела об АП (УД) по журналу учета в соответствии с приказом ФТС России от 24.04.2007 №524 </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного поста</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Number" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер по журналу учета</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DateYear" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Текущий год</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NumberOrientationType">
      <xs:annotation>
         <xs:documentation>Номер ориентировки </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:GTDID5Type">
            <xs:sequence>
               <xs:element name="TerrActionCode" type="clt_ru:CodeVariable2Type">
                  <xs:annotation>
                     <xs:documentation>Код вида документа Возможные значения:11 - общероссийский профиль риска, 12 - региональный профиль риска, 13 - зональный профиль риска, 55 - профиль риска, обязательный к применению, 20 - срочный профиль риска, 25 - общероссийская ориентировка, 26 - региональная ориентировка, 27 - зональная ориентировка, 32 - специальный региональный профиль риска, 77 -  для субъектов ВЭД, включенных в "зеленый сектор".</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RevealledRisksType">
      <xs:annotation>
         <xs:documentation>ДТ - выявленные риски</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsNumeric" type="clt_ru:Quantity5Type">
            <xs:annotation>
               <xs:documentation>Номер товара по ДТ, по которому выявлен риск. 0 - если выявленный риск распространяется на все товары</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RiskProfileType" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Тип выявленного профиля риска: 0 - автоматически выявленный риск, проставляется программным средством в автоматическом режиме; 1 - самостоятельно выявленный риск, проставляется программным средством в автоматическом режиме при внесении должностным лицом таможенного поста новой записи (в том числе, при применении "рамочных" ПР  и ПР по информации правоохранительных подразделений); 2 – риск, выявленный в автоматизированном режиме, требует принятия окончательного решения должностным лицом таможенного поста (значение является промежуточным, наличие значения "2" в отчете блокирует переход к следующему этапу проверки на риски либо выпуск ДТ); 3 – риск, выявленный в автоматизированном режиме, по которому должностным лицом таможенного поста на основании проверки неформализованных индикаторов риска принято решение - "Риск выявлен"; 4 - риск, выявленный в автоматизированном режиме, по которому должностным лицом таможенного поста на основании проверки неформализованных индикаторов риска принято решение - "Риск не выявлен"; 5 - резерв; 6 - профиль риска не применяется по причине упрощенного контроля таможенной стоимости идентичных товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TerrActionCode" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Код вида профиля риска. Возможные значения: 11 - общероссийский профиль риска, 12 - региональный профиль риска, 13 - зональный профиль риска, 20 - срочный профиль риска, 32 - профиль риска на основе моделей, 55 - профиль риска, обязательный к применению, 77 - профиль риска для определения степени выборочности, 88 - зависимый профиль риска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RiskProfileRegDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата регистрации профиля риска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RiskProfileNumber" type="clt_ru:Text5Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер профиля риска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RiskProfileNumberVersion" type="clt_ru:Quantity3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер версии профиля риска.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CriteriionCode" type="clt_ru:Text4Type">
            <xs:annotation>
               <xs:documentation>Код критерия отнесения товаров, внешнеэкономических операций и лиц к группам риска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PointCode" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Этап проведения проверки на соответствие профилям риска  (заполняется программным средством в автоматическом режиме).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PointDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата завершения проведения проверки на соответствие профилям риска. Заполняется программным средством в автоматическом режиме</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PointTime" type="clt_ru:TimeCustType">
            <xs:annotation>
               <xs:documentation>Время завершения проведения проверки на соответствие профилям риска  в формате (ЧЧ:ММ:СС). Заполняется программным средством в автоматическом режиме</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomsActionCode" type="clt_ru:Code5Type">
            <xs:annotation>
               <xs:documentation>Первые пять цифр кода таможенного органа,  утвердившего профиль риска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SoftKind" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Отметка о применяемой для оценки уровня риска версии программных средств. Тип программного обеспечения (Резерв): 0 - ПЗ "Сервис выявления рисков СТО"; 1 - КАСТО "АИСТ-РТ21"; 2 - АПС "Выявление и оценка рисков"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SoftVersion" type="clt_ru:Code10Type">
            <xs:annotation>
               <xs:documentation>Отметка о применяемой для оценки уровня риска версии программных средств. Версия программного обеспечения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FirstPointDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата начала действия версии профиля риска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="RiskAction" type="rrsk:RiskActionType">
            <xs:annotation>
               <xs:documentation>Принятые меры по выявленным рискам</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NumberOrientation" type="rrsk:NumberOrientationType">
            <xs:annotation>
               <xs:documentation>Номер ориентировки (Резерв)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AddNonFormInfoRiskProfile" type="rrsk:AddNonFormInfoRiskProfileType">
            <xs:annotation>
               <xs:documentation>Дополнительная неформализованная информация - уровень профиля риска</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RiskActionType">
      <xs:annotation>
         <xs:documentation>Принятые меры по выявленным рискам</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="RiskActionDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата принятия мер по риску</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RiskActionTime" type="clt_ru:TimeCustType">
            <xs:annotation>
               <xs:documentation>Время принятия мер по риску</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LNPID" type="clt_ru:LNPIDType">
            <xs:annotation>
               <xs:documentation>ЛНП должностного лица таможенного органа, применившего меру по минимизации риска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsPersonName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>ФИО должностного лица таможенного органа, применившего меру по минимизации риска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsCode" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного органа, применившего меру по минимизации риска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ActionCode" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>Код мер по минимизации рисков (значение указывается в соответствии с классификатором "Прямых мер по минимизации рисков" rsk_mera.dbf )</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MandatoryAction" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Признак обязательности применения мер по минимизации рисков: 0 - необязательное применение меры; 1 - обязательное применение меры.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MandatoryActionCount" type="clt_ru:Count2Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер меры по минимизации рисков (Резерв)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SystemActionIndicator" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Признак применения мер по минимизации рисков (уровень системы): " " - поле не заполняется, если тип выявленного риска (поле DCLVRSK.GR010 =  "1" (самостоятельно выявленный); "0"  - мера не применяется согласно результатам случайной выборки; "1" - мера должна быть применена согласно профилю риска; "2" - мера не применялась из-за несоответствия этапа, на котором была проведена проверка на наличие рисков, и этапа, на котором мера по минимизации рисков должна применяться согласно условиям профиля риска; "3" - резерв; "4" - мера не применяется в связи с включением субъекта ВЭД в Перечень лиц, в отношении которых принято решение об определении степени выборочности применения мер по минимизации рисков; 5 - мера не применяется в связи с неприменением главной меры; 6 - мера не применялась по причине упрощенного контроля таможенной стоимости идентичных товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PersonActionIndicator" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Признак применения мер по минимизации рисков (уровень пользователя): "0" - мера не была применена "1" -  приняты меры в соответствии с профилем риска или по самостоятельному решению должностного лица; "2" - мера применялась не в соответствии с характеристиками, определенными в профиле риска, либо не в полном объеме в силу объективных причин.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ActionFoundation" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Обоснование причин неприменения меры, либо применения не в соответствии с характеристиками, определенными в профиле риска, либо не в полном объеме: "00" - мера применялась (значение по умолчанию); "02" -  профиль риска не применяется согласно п. 36 Инструкции (резерв); "03" - мера по минимизации рисков не применялась по условиям профиля риска; "04" - профиль риска выявлен, но мера по минимизации рисков не применялась в силу объективных причин, либо применялась не в соответствии с характеристиками, определенными в профиле риска, либо не в полном объеме; "05" - мера не применялась согласно результатам случайной выборки.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NonActionCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код причины неприменения меры, либо применения не в соответствии с характеристиками, определенными в профиле риска, либо не в полном объеме (указывается для случая обоснования наличия объективных причин неприменения меры (поле GR054='04')) (RSK_NPM.DBF)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MainActionCode" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>Код главной меры по минимизации рисков (значение указывается в соответствии с классификатором "Прямых мер по минимизации рисков" rsk_mera.dbf)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="InspectionCharacter" type="rrsk:InspectionCharacterType">
            <xs:annotation>
               <xs:documentation>Характеристики досмотра/осмотра</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NumberDefinitions" type="rrsk:NumberDefinitionsType">
            <xs:annotation>
               <xs:documentation>Номер определения о возбуждении дела об АП (УД) по журналу учета в соответствии с приказом ФТС России от 24.04.2007 №524 </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AdministrativeInfraction" type="rrsk:AdministrativeInfractionType">
            <xs:annotation>
               <xs:documentation>Дела об административных правонарушениях, уголовные дела</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AddNonFormInfoAction" type="rrsk:AddNonFormInfoActionType">
            <xs:annotation>
               <xs:documentation>Дополнительная неформализованная информация - уровень меры</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ActionResult" type="rrsk:ActionResultType">
            <xs:annotation>
               <xs:documentation>Результаты применения мер по минимизации рисков</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RiskInfType">
      <xs:annotation>
         <xs:documentation>Обоснование применения мер по минимизации рисков</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsNumeric" type="clt_ru:Quantity5Type">
            <xs:annotation>
               <xs:documentation>Номер товара по ДТ, по которому выявлен риск. 0 - 0 - если выявленный риск распространяется на все товары</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TerrActionCode" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Код вида документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RiskProfileRegDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата регистрации профиля риска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RiskProfileNumber" type="clt_ru:Text5Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер профиля риска</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RiskProfileNumberVersion" type="clt_ru:Quantity3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер версии профиля риска.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="InformationCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Код информации: 4 - применение мер по минимизации рисков на основании "рамочных" профилей риска, по собственному решению; 7 -  применение мер на основании профилей риска по информации правоохранительных подразделений</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LineNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер строки информации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="TypicalName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Обоснование применения мер:</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PointCode" type="clt_ru:CodeVariable2Type">
            <xs:annotation>
               <xs:documentation>Этап проведения проверки на соответствие профилям риска  (заполняется системой таможенного оформления автоматически).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomsActionCode" type="clt_ru:Code5Type">
            <xs:annotation>
               <xs:documentation>Первые пять цифр кода таможенного органа,  утвердившего профиль риска (ориентировку)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные простые прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="CharacterCode">
      <xs:annotation>
         <xs:documentation>Значение характеристики досмотра. 2, 4 и 6 символов</xs:documentation>
      </xs:annotation>
      <xs:restriction base="CategoryCust:CodeCategoriesCust">
         <xs:pattern value="[0-9A-ZА-Я]{2}|[0-9A-ZА-Я]{4}|[0-9A-ZА-Я]{6}"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
