Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/RSPConfirmationTarget.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SQDocuments:RSPConfirmationTarget:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:rspctg="urn:customs.ru:Information:SQDocuments:RSPConfirmationTarget:5.4.0" xmlns:sq_clt="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" schemaLocation="SQCommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Подтверждение о целевом назначении товаров ввозимых в рамках международного сотрудничества РФ в области исследования и использования космического пространства, в том числе оказания услуг по запуску космических аппаратов</xs:documentation>
   </xs:annotation>
   <xs:element name="RSPConfirmationTarget" type="rspctg:RSPConfirmationTargetType"/>
   <xs:complexType name="RSPConfirmationTargetType">
      <xs:annotation>
         <xs:documentation>Подтверждение о целевом назначении товаров ввозимых в рамках международного сотрудничества РФ в области исследования и использования космического пространства, в том числе оказания услуг по запуску космических аппаратов</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BDRDID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Идентификатор документа по БД РД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DepartureCountry" type="clt_ru:CountryA2CodeType">
                  <xs:annotation>
                     <xs:documentation>Страна отправления</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OriginCountry" type="clt_ru:CountryA2CodeType">
                  <xs:annotation>
                     <xs:documentation>Страна происхождения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AdditionalInfo" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Дополнительная информация</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GoodsValue" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Стоимость товара в валюте контракта</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ContractCurrency" type="clt_ru:CurrencyA3CodeType">
                  <xs:annotation>
                     <xs:documentation>Валюта контракта</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="StatisticalGoodsValue" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Статистическая стоимость товара (USD)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Confirmation" type="rspctg:ConfirmationType">
                  <xs:annotation>
                     <xs:documentation>Подтверждение</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Agreement" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Сведения о международном соглашении (договоре), в рамках которого ввозятся товары</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Contract" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Контракт</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Recipinet" type="rspctg:ParticipantType">
                  <xs:annotation>
                     <xs:documentation>Сведения о получателе товаров (декларанте)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Seller" type="rspctg:ParticipantType">
                  <xs:annotation>
                     <xs:documentation>Сведения о продавце</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AuthorizedPerson" type="rspctg:AuthorizedPersonType">
                  <xs:annotation>
                     <xs:documentation>Уполномоченное лицо</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="GoodsDescription" type="rspctg:GoodsDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Описание товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1009048E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AuthorizedPersonType">
      <xs:annotation>
         <xs:documentation>Уполномоченное лицо, подписавшее документ</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PersonName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>ФИО уполномоченного лица</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PersonPost" type="clt_ru:PostType">
            <xs:annotation>
               <xs:documentation>Должность</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConfirmationType">
      <xs:annotation>
         <xs:documentation>Подтверждение</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Status" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Текущий статус подтверждения: 1 - Действующее, 2 - Приостановленное, 3 - Аннулированное, 4 - Находится на оформлении</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="LastChangeDate" type="clt_ru:DateTimeCustType">
                  <xs:annotation>
                     <xs:documentation>Информация о дате и времени последнего изменения</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GoodsDescriptionType">
      <xs:annotation>
         <xs:documentation>Описание товаров</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="4" name="GoodsDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ContractCost" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Стоимость товара (в валюте контракта)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="StatisticalCost" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Статистическая стоимость товара (USD)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ContractCurrency" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Валюта контракта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Номер товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodMark" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Марка товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Quantity" type="cat_ru:SupplementaryQuantityType">
            <xs:annotation>
               <xs:documentation>Количество</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType">
            <xs:annotation>
               <xs:documentation>Количество в дополнительной единице измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ParticipantType">
      <xs:annotation>
         <xs:documentation>Участник таможенной процедуры</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Status" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Статус: 1 - юридическое лицо, 2 - индивидуальный предприниматель</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Address" type="sq_clt:FreeText4000Type">
                  <xs:annotation>
                     <xs:documentation>Адрес</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="IdentityCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
