Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/ServiceLicense.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SQDocuments:ServiceLicense:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:sl="urn:customs.ru:Information:SQDocuments:ServiceLicense:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Сведения из лицензии на осуществление перевозок воздушным транспортом грузов и пассажиров для юр. лиц/из реестра сертификатов на обслуживание и ремонт авиационной техники, в том числе авиационной техники двойного назначения/о наличии лицензии на право осуществления страховой деятельности/из реестра лицензий на деятельность по перевозкам внутренним водным транспортом, морским транспортом опасных грузов/из удостоверения допуска к осуществлению международных автомобильных перевозок</xs:documentation>
   </xs:annotation>
   <xs:element name="ServiceLicense" type="sl:ServiceLicenseType"/>
   <xs:complexType name="ServiceLicenseType">
      <xs:annotation>
         <xs:documentation>Сведения из лицензии на осуществление перевозок воздушным транспортом грузов и пассажиров для юр. лиц/из реестра сертификатов на обслуживание и ремонт авиационной техники, в том числе авиационной техники двойного назначения/о наличии лицензии на право осуществления страховой деятельности/из реестра лицензий на деятельность по перевозкам внутренним водным транспортом, морским транспортом опасных грузов/из удостоверения допуска к осуществлению международных автомобильных перевозок</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="DocSign" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Сведения: 1 - из лицензии на осуществление перевозок воздушным транспортом грузов и пассажиров для юр. лиц; 2 - из реестра сертификатов на обслуживание и ремонт авиационной техники, в том числе авиационной техники двойного назначения; 3 - о наличии лицензии на право осуществления страховой деятельности; 4 - из реестра лицензий на деятельность по перевозкам внутренним водным транспортом, морским транспортом опасных грузов; 5 - из удостоверения допуска к осуществлению международных автомобильных перевозок</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DecisionNum" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер решения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DecisionDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата решения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AuthorityOrg" type="sl:AuthorityOrgType">
                  <xs:annotation>
                     <xs:documentation>Орган власти</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="License" type="sl:LicenseType">
                  <xs:annotation>
                     <xs:documentation>Сведения о лицензии/сертификате</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Licensee" type="sl:LicenseeType">
                  <xs:annotation>
                     <xs:documentation>Лицензиат/Сертифицируемое лицо</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AuthorizedPerson" type="cat_ru:PersonBaseType">
                  <xs:annotation>
                     <xs:documentation>Уполномоченное лицо</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ServiceDescription" type="sl:ServiceDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Описание деятельности</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ServicePlace" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Место осуществления деятельности</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1009064E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AuthorityOrgType">
      <xs:annotation>
         <xs:documentation>Орган власти</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="AuthorityOrgCode" type="clt_ru:CodeVariable5Type">
                  <xs:annotation>
                     <xs:documentation>Код органа власти</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="LicenseType">
      <xs:annotation>
         <xs:documentation>Сведения о лицензии/сертификате</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BeginDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата начала действия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ExpirationDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата окончания действия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DocReestrNum" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер документа (сертификата) в госреестре</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OriginalIssueDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата первоначальной выдачи (сертификата)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LicenseSeries" type="clt_ru:Text10Type">
                  <xs:annotation>
                     <xs:documentation>Серия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LicensedServiceName" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Наименование лицензируемого вида деятельности</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LicensedServiceCode" type="clt_ru:Count19Type">
                  <xs:annotation>
                     <xs:documentation>Код лицензируемого вида деятельности</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ProlongDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Информация о продлении документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Append" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак наличия приложения к документу</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="LicenseeType">
      <xs:annotation>
         <xs:documentation>Лицензиат/Сертифицируемое лицо</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element name="OrgSign" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак: 0 - физ. лицо; 1 - юр. лицо</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ServiceDescriptionType">
      <xs:annotation>
         <xs:documentation>Описание вида услуг (работ)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ServiceName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование вида деятельности (обслуживания)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ServiceCode" type="clt_ru:Count19Type">
            <xs:annotation>
               <xs:documentation>Код вида деятельности</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AerotechnicsName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование типа авиатехники</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AerotechnicsTypeCode" type="clt_ru:Text10Type">
            <xs:annotation>
               <xs:documentation>Код типа авиатехники</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
