Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/TransmissionList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TransportDocuments:Railway:TransmissionList:5.4.3" version="5.4.3.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.4.3" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:tral="urn:customs.ru:Information:TransportDocuments:Railway:TransmissionList:5.4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.4.3" schemaLocation="TransportCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Передаточная ведомость</xs:documentation>
   </xs:annotation>
   <xs:element name="TransmissionList" type="tral:TransmissionListType"/>
   <xs:complexType name="TransmissionListType">
      <xs:annotation>
         <xs:documentation>Передаточная ведомость</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="TransmissionDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата составления ППВ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Number" type="clt_ru:Code5Type">
                  <xs:annotation>
                     <xs:documentation>Номер ППВ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TrainIndex" type="clt_ru:Code15Type">
                  <xs:annotation>
                     <xs:documentation>Индекс поезда</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TrainNumber" type="clt_ru:TransportMeansIDType">
                  <xs:annotation>
                     <xs:documentation>Номер поезда</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="UIN" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный идентификатор предварительной информации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DirectionalRailwayStation" type="tral:RailwayStationType">
                  <xs:annotation>
                     <xs:documentation>Передающая груз ж.д. станция</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="List" type="tral:ListType">
                  <xs:annotation>
                     <xs:documentation>Перечень грузов</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Person" type="cat_ru:PersonBaseType">
                  <xs:annotation>
                     <xs:documentation>Лицо, сдавшее перечисленные в настоящей ведомости грузы, накладные и акты</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Customs" type="cat_ru:CUCustomsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о таможенном органе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="CarriageInfo" type="tral:CarriageInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о вагонах</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Container" type="tral:ContainerType">
                  <xs:annotation>
                     <xs:documentation>Сведения о контейнерах</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BorderStation" type="tral:StationType">
                  <xs:annotation>
                     <xs:documentation>Пограничный пост</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1003402E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CarriageInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о вагонах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="EmptyIndicator" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак того, что вагон является порожним</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Number" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
               <xs:documentation>Инвентарный номер вагона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RegistrationCountry" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Страна регистрации вагона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DispatchCountry" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Страна отправления вагона </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DestinationCountry" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Страна назначения вагона </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CargoWeight" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес груза в вагоне, кг</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="WaybillNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер накладной</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DepartureStation" type="tral:RailwayStationType">
            <xs:annotation>
               <xs:documentation>Станция отправления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinationStation" type="tral:RailwayStationType">
            <xs:annotation>
               <xs:documentation>Станция назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ContainerType">
      <xs:annotation>
         <xs:documentation>Сведения о контейнерах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="RailwayCode" type="cltTrans_ru:RailwayCodeType">
            <xs:annotation>
               <xs:documentation>Код железнодорожной дороги - владельца контейнера. Не указывается, если контейнер не принадлежит железным дорогам</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ContainerID" type="clt_ru:ContainerIdentityType">
            <xs:annotation>
               <xs:documentation>Номер контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ContainerKind" type="clt_ru:PackageCodeType">
            <xs:annotation>
               <xs:documentation>Тип контейнера в соответствии с Классификатором видов груза, упаковки и упаковочных материалов</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ContainerModeDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание вида контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ContainerCapacity" type="clt_ru:Quantity11Type">
            <xs:annotation>
               <xs:documentation>Емкость контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ContainerCapacityUnitQualifierCode" type="clt_ru:MeasureUnitQualifierNameType">
            <xs:annotation>
               <xs:documentation>Название единицы измерения емкости контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ListType">
      <xs:annotation>
         <xs:documentation>Перечень грузов</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="BillNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер накладной</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CatalogNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер перечня</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CarriageNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер вагона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="GoodDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование груза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ActNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер акта на несохранность грузов, составленных при передаче</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ContainerNumber" type="clt_ru:ContainerIdentityType">
            <xs:annotation>
               <xs:documentation>Номер контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DepartureStation" type="tral:RailwayStationType">
            <xs:annotation>
               <xs:documentation>Станция отправления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinationStation" type="tral:RailwayStationType">
            <xs:annotation>
               <xs:documentation>Станция назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BillQuantity" type="tral:QuantityGoodsType">
            <xs:annotation>
               <xs:documentation>Количество груза по накладной</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="QuantityGoodsType">
      <xs:annotation>
         <xs:documentation>Количество груза</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="PackagesQuantity" type="clt_ru:PackagesQuantityType">
            <xs:annotation>
               <xs:documentation>Количество мест.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Quantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес в кг</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RailwayStationType">
      <xs:annotation>
         <xs:documentation>Сведения о ж.д. станции</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RailwayStationName" type="clt_ru:PlaceNameType">
            <xs:annotation>
               <xs:documentation>Наименование станции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RailwayStationCode" type="clt_ru:RailwayStationCodeType">
            <xs:annotation>
               <xs:documentation>Код станции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RailwayCode" type="cltTrans_ru:RailwayCodeType">
            <xs:annotation>
               <xs:documentation>Код железной дороги</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="StationType">
      <xs:annotation>
         <xs:documentation>Сведения о железнодорожной станции и дороги</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="StationCode" type="clt_ru:RailwayStationCodeType">
            <xs:annotation>
               <xs:documentation>Код железнодорожной станции, указывается при перевозке  грузов из/в КНДР </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="StationName" type="clt_ru:PlaceNameType">
            <xs:annotation>
               <xs:documentation>Тарифное наименование станции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RailwayCode" type="cltTrans_ru:RailwayCodeType">
            <xs:annotation>
               <xs:documentation>Код железнодорожной дороги </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
