Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_3/WHDocInventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:WarehouseDocuments:WHDocInventory:5.4.0" version="5.4.0.0" xmlns:catWH_ru="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltWH_ru="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonLeafTypesCust:5.0.5" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:whdi="urn:customs.ru:Information:WarehouseDocuments:WHDocInventory:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonLeafTypesCust:5.0.5" schemaLocation="WarehouseCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.4.0" schemaLocation="WarehouseCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Предоставление описи документов таможенному органу, осуществляющему контроль за функционированием СВХ./Перечень электронных документов</xs:documentation>
   </xs:annotation>
   <xs:element name="WHDocInventory" type="whdi:WHDocInventoryType"/>
   <xs:complexType name="WHDocInventoryType">
      <xs:annotation>
         <xs:documentation>Предоставление описи документов таможенному органу, осуществляющему контроль за функционированием СВХ./Перечень электронных документов</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="InventoryInstanceDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата предоставления описи.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="InventDocument" type="whdi:InventDocumentType">
                  <xs:annotation>
                     <xs:documentation>Документ из описи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Sender" type="whdi:SenderType">
                  <xs:annotation>
                     <xs:documentation>Отправитель</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Receiver" type="whdi:ReceiverType">
                  <xs:annotation>
                     <xs:documentation>Получатель</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegNumberDoc" type="cat_ru:GTDIDType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="WarehouseLicense" type="catWH_ru:WarehouseCertificateType">
                  <xs:annotation>
                     <xs:documentation>Разрешительный документ (свидетельство, разрешение) склада, на который предполагается помещение товаров. Может быть заполнено при подаче описи перевозчиком в ТО</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Transports" type="catWH_ru:WhTransportType">
                  <xs:annotation>
                     <xs:documentation>Описание транспортных  средств</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="GoodsShipment" type="whdi:GoodsShipmentType">
                  <xs:annotation>
                     <xs:documentation>Описание товаро-транспортных накладных (товарных партий), представляемых при помещении товаров на временное хранение</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1008014E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CustomsType">
      <xs:annotation>
         <xs:documentation>Таможенный пост</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CustomsType">
            <xs:sequence>
               <xs:element minOccurs="0" name="CustomsPerson" type="catWH_ru:WHCustomInspectorType">
                  <xs:annotation>
                     <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GoodsShipmentType">
      <xs:annotation>
         <xs:documentation>Комплексный тип для описания товаро-транспортной накладной (товарной партии), представляемой при помещении товаров на временное хранение</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catWH_ru:WhTransportDocType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Goods" type="catWH_ru:WhGoodType">
                  <xs:annotation>
                     <xs:documentation>Описание товаров согласно накладной и товароспроводительным документам</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Containers" type="catWH_ru:WHContainerInformationType">
                  <xs:annotation>
                     <xs:documentation>Описание контейнеров согласно накладной и товароспроводительным документам</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="InventDocumentType">
      <xs:annotation>
         <xs:documentation>Документ из описи</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="InvDocCode" type="clt_ru:CustomsDocumentCodeType">
            <xs:annotation>
               <xs:documentation>Код вида представляемого документа. Заполняется согласно Классификатору видов документов, используемых при заявлении сведений в графе 44 ДТ. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvDocNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvDocDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvDocLists" type="clt_ru:SheetNumberType">
            <xs:annotation>
               <xs:documentation>Количество листов в документе</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Note" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ArchID" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Идентификатор электронного архива декларанта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ArchDocID" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Идентификатор документа в электронном архиве декларанта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InventDocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Уникальный идентификатор документа, представленного в описи. Заполняется при использовании в системах электронного декларирования в случае наличия на момент составления описи указанного документа в электронном виде.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InventLineID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Уникальный идентификатор строки в описи. GUID. Обязателен для заполнения при использовании в системах электронного декларирования.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ReceiverType">
      <xs:annotation>
         <xs:documentation>Получатель</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice>
            <xs:element name="Customs" type="whdi:CustomsType">
               <xs:annotation>
                  <xs:documentation>Таможенный пост</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="SVH" type="whdi:SVHType">
               <xs:annotation>
                  <xs:documentation>СВХ</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SVHType">
      <xs:annotation>
         <xs:documentation>СВХ</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="DocumentModeCode" type="cltWH_ru:WareHouseCertificateKind">
            <xs:annotation>
               <xs:documentation>Тип документа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DocumentNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DO1PresentDocumentDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата представления ДО1</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DO1PresentDocumentTime" type="clt_ru:TimeCustType">
            <xs:annotation>
               <xs:documentation>Время представления ДО1</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SenderType">
      <xs:annotation>
         <xs:documentation>Отправитель</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice>
            <xs:element name="Carrier" type="catWH_ru:WHCarrierType">
               <xs:annotation>
                  <xs:documentation>Перевозчик</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="Customs" type="whdi:CustomsType">
               <xs:annotation>
                  <xs:documentation>Таможенный пост</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
