Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/CargoManifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TransportDocuments:Air:CargoManifest:5.4.3" version="5.4.3.0" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.4.3" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cgms="urn:customs.ru:Information:TransportDocuments:Air:CargoManifest:5.4.3" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.4.3" schemaLocation="TransportCommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Грузовой манифест</xs:documentation>
   </xs:annotation>
   <xs:element name="CargoManifest" type="cgms:CargoManifestType"/>
   <xs:complexType name="CargoManifestType">
      <xs:annotation>
         <xs:documentation>Грузовой манифест</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ManifestDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата заполнения манифеста</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CarrierName" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Наименование перевозчика</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CarrierCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Двухсимвольный код  перевозчика</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LNG" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Код  языка документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="FlightInfo" type="catTrans_ru:FlightInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о рейсе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="DestinationInfo" type="cgms:DestinationInfoType">
                  <xs:annotation>
                     <xs:documentation>информация о разгрузке товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1003303E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="BulckGoodsType">
      <xs:annotation>
         <xs:documentation>Описание товаров навалом</xs:documentation>
      </xs:annotation>
   </xs:complexType>
   <xs:complexType name="CustomsInfoType">
      <xs:annotation>
         <xs:documentation>Информация для таможни</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Notice" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечание</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OriginCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код страны происхождения товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DTInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о ДТ</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Номер товара по ДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DTNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
               <xs:documentation>Номер декларации на товары</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DensityGroupType">
      <xs:annotation>
         <xs:documentation>Группа объемного веса</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DensityIndicator" type="clt_ru:Code2Type"/>
         <xs:element name="DensityGroup" type="clt_ru:Quantity2Type"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DestinationInfoType">
      <xs:annotation>
         <xs:documentation>Информация о разгрузке товара</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="NilCargoCode" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>NilCargoCode. Служебное поле</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DestinationAirport" type="catTrans_ru:AirportType">
            <xs:annotation>
               <xs:documentation>Аэропорт назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="BulkGargo" type="cgms:GoodsInfoType">
            <xs:annotation>
               <xs:documentation>Описание груза навалом</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ULDCargo" type="cgms:ULDGoodsType">
            <xs:annotation>
               <xs:documentation>Товары, перевозимые в контейнере</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DimensionsInfoType">
      <xs:annotation>
         <xs:documentation>Информация о габаритах  груза</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="WeightCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Код измерения веса </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PiecesNumber" type="clt_ru:PackagesQuantityType"/>
         <xs:element name="WeightQuantity" type="clt_ru:WeighQuantityType">
            <xs:annotation>
               <xs:documentation>Вес </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Dimensions" type="cat_ru:DimensionsType">
            <xs:annotation>
               <xs:documentation>Габариты</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsInfoType">
      <xs:annotation>
         <xs:documentation>Информация о грузе</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catTrans_ru:AWBNumberType">
            <xs:sequence>
               <xs:element name="ShipmentDescriptionCode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>ShipmentDescriptionCode</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PlacesQuantity" type="clt_ru:PackagesQuantityType">
                  <xs:annotation>
                     <xs:documentation>Количество мест, принятых к перевозке / Количество мест товара по накладной при полной загрузке товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="WeightUnitQualifierCode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Код измерения веса товара (килограммы или фунты)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GrossWeightQuantity" type="clt_ru:WeighQuantityType">
                  <xs:annotation>
                     <xs:documentation>Вес товара, брутто</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GoodsDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GoodsCommodityCode" type="clt_ru:CodeVariable18Type">
                  <xs:annotation>
                     <xs:documentation>Код  товара по товарной номенклатуре</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="OriginAirport" type="catTrans_ru:AirportType">
                  <xs:annotation>
                     <xs:documentation>Аэропорт погрузки  (из  накладной)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DestimationAirport" type="catTrans_ru:AirportType">
                  <xs:annotation>
                     <xs:documentation>Аэропорт назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="VolumeInfo" type="cgms:VolumeInfoType">
                  <xs:annotation>
                     <xs:documentation>Объем товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DensityGroup" type="cgms:DensityGroupType">
                  <xs:annotation>
                     <xs:documentation>Группа объемного веса</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TotalConsigmentPieces" type="cgms:TotalConsigmentPiecesType">
                  <xs:annotation>
                     <xs:documentation>Сведения об общем количестве товара по накладной при частичной погрузке</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="HandlingRequirement" type="cgms:HandlingInfoType">
                  <xs:annotation>
                     <xs:documentation>Требования по обработке груза</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="DimensionsInfo" type="cgms:DimensionsInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация о габаритах  груза</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="MovementInfo" type="cgms:MovementInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация о последующем перемещении груза</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OtherServiceInfo" type="cgms:OtherServiceInfoType">
                  <xs:annotation>
                     <xs:documentation>Прочая служебная информация</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsInfo" type="cgms:CustomsInfoType">
                  <xs:annotation>
                     <xs:documentation>Информация для таможни</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DTInfo" type="cgms:DTInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="HandlingInfoType">
      <xs:annotation>
         <xs:documentation>Информация по обработке груза</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="NumPP" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер записи</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ServiceInfoCode" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>Код информации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InfoDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Специальные требования и другая информация</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MovementInfoType">
      <xs:annotation>
         <xs:documentation>Информация о последующем перемещении груза</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="MovementPriorityCode" type="xs:string">
            <xs:annotation>
               <xs:documentation>Приоритет</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="RoutigInfo" type="catTrans_ru:RoutigInfoType">
            <xs:annotation>
               <xs:documentation>Маршрут  следования</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OtherServiceInfoType">
      <xs:annotation>
         <xs:documentation>Прочая служебная информация</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Notice1" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечание 1</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Notice2" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечание 2</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TotalConsigmentPiecesType">
      <xs:annotation>
         <xs:documentation>Сведения об общем количестве товара по накладной при частичной погрузке</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ShipmentDescriptionCode" type="clt_ru:LetterIndicatorType"/>
         <xs:element name="NumberPieces" type="clt_ru:Quantity4Type">
            <xs:annotation>
               <xs:documentation>Количество мест товара по накладной</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ULDGoodsType">
      <xs:annotation>
         <xs:documentation>Сведения о контейнерах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ULDType" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>Тип контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ULDSerialNumber" type="clt_ru:CodeVariable5Type">
            <xs:annotation>
               <xs:documentation>Серийный номер контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ULDOwnerCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код владельца контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ULDLoadIndicator" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Признак загрузки контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ULDComent" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечание </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TotalULDPlacesQuantity" type="clt_ru:PackagesQuantityType">
            <xs:annotation>
               <xs:documentation>Общее количество мест товара в контейнере</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="WeightUnitQualifierCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Код измерения веса товара (килограммы или фунты)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GrossWeightQuantity" type="clt_ru:WeighQuantityType">
            <xs:annotation>
               <xs:documentation>Общий вес товара, брутто</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="ULDGoods" type="cgms:GoodsInfoType">
            <xs:annotation>
               <xs:documentation>Сведения о товарах в контейнере</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ULDMoveInfo" type="cgms:ULDMoveInfoType">
            <xs:annotation>
               <xs:documentation>Информация о перемещении контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DTInfo" type="cgms:DTInfoType">
            <xs:annotation>
               <xs:documentation>Сведения о ДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ULDMoveInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о перемещении контейнера</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ULDVolAvailCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>ULD Volume Available Code</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ULDRoutingInfo" type="catTrans_ru:RoutigInfoType">
            <xs:annotation>
               <xs:documentation>Информация о маршруте контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="VolumeInfoType">
      <xs:annotation>
         <xs:documentation>Объем товара</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsVolume" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Общий объем, занимаемый перевозимым товаром без указания единиц измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="VolumeUnitQualifierCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код единицы измерения объема</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="VolumeUnitQualifierName" type="clt_ru:MeasureUnitQualifierNameType">
            <xs:annotation>
               <xs:documentation>Наименование единицы измерения объема</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
