Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/CustPaymentsDK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:CustPaymentsDK:5.4.0" version="5.4.0.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:cpdk="urn:customs.ru:Information:CustomsDocuments:CustPaymentsDK:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.4.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Документ контроля платежей</xs:documentation>
   </xs:annotation>
   <xs:element name="CustPaymentsDK" type="cpdk:CustPaymentsDKType"/>
   <xs:complexType name="CustPaymentsDKType">
      <xs:annotation>
         <xs:documentation>Документ контроля платежей</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PaymentDocument" type="cpdk:PaymentDocumentType">
                  <xs:annotation>
                     <xs:documentation>Платежные поручения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Payment" type="cpdk:PaymentType">
                  <xs:annotation>
                     <xs:documentation>Платежи к уплате</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Fine" type="cpdk:FineType">
                  <xs:annotation>
                     <xs:documentation>Пени</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PaymentDelay" type="cpdk:PaymentDelayType">
                  <xs:annotation>
                     <xs:documentation>Отсрочки, рассрочки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PrimaryList" type="cpdk:PrimaryListType">
                  <xs:annotation>
                     <xs:documentation>Основные листы</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="Goods" type="cpdk:GoodsType">
                  <xs:annotation>
                     <xs:documentation>Товар</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GTDNumber" type="cat_ru:GTDIDType">
                  <xs:annotation>
                     <xs:documentation>Номер ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006094E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CustomsMarcType">
      <xs:annotation>
         <xs:documentation>Добавочные листы</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MarkDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Служебная запись / номер документа </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DateInf" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата проставления отметки/ Дата принятия решения о продлении срока проверки (ст. 359 ТК)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FineType">
      <xs:annotation>
         <xs:documentation>Пени</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="CustomsFineSign" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Признак пени.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentModeCode" type="clt_ru:CustomsPaymentCodeType">
            <xs:annotation>
               <xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentAmount" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Сумма пени</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsPaymentSubspecies" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Подвид  таможенного платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType">
            <xs:annotation>
               <xs:documentation>Цифровой код валюты суммы платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CurrencyRate" type="clt_ru:CurrencyRateType">
            <xs:annotation>
               <xs:documentation>Курс валюты</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsType">
      <xs:annotation>
         <xs:documentation>Добавочные листы</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsNumeric" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Номер товара по документу / списку / номер товара по ДТ ( для КТС, ДТС)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="PaymentCalculation" type="cpdk:PaymentCalculationType">
            <xs:annotation>
               <xs:documentation>Исчисление платежей</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsMark" type="cpdk:CustomsMarcType">
            <xs:annotation>
               <xs:documentation>Добавочные листы</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PaymentCalculationType">
      <xs:annotation>
         <xs:documentation>Исчисление таможенных платежей.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="CustomsPaymentSign" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Признак таможенного платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentModeCode" type="clt_ru:CustomsPaymentCodeType">
            <xs:annotation>
               <xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentAmount" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Сумма платежа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType">
            <xs:annotation>
               <xs:documentation>Цифровой код валюты суммы платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TaxBase" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Основа начисления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Rate" type="cltESAD_cu:RateType">
            <xs:annotation>
               <xs:documentation>Ставка.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RateTypeCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Вид ставки (адвалорная -"%", специфическая - "*")</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RateCurrencyCode" type="clt_ru:CurrencyN3CodeType">
            <xs:annotation>
               <xs:documentation>Цифровой код валюты ставки (специфическая ставка)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RateTNVEDQualifierCode" type="clt_ru:MeasureUnitQualifierCodeType">
            <xs:annotation>
               <xs:documentation>Код единицы измерения ставки (специфическая ставка)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentWayCode" type="cltESAD_cu:PaymentWayCodeType">
            <xs:annotation>
               <xs:documentation>Способ платежа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsPaymentSubspecies" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Подвид  таможенного платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PaymentDelayType">
      <xs:annotation>
         <xs:documentation>Отсрочки, рассрочки</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="CustomsPaymentSign" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Признак таможенного платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentModeCode" type="clt_ru:CustomsPaymentCodeType">
            <xs:annotation>
               <xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentDelayAmount" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Сумма отсрочки/рассрочки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsPaymentSubspecies" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Подвид  таможенного платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType">
            <xs:annotation>
               <xs:documentation>Цифровой код валюты суммы платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PaymentEnsuringModeCodeType" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код вида обеспечения уплаты</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DelayPremitNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер разрешения на отсрочку платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DelayPaymentDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Срок уплаты</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Rate" type="cltESAD_cu:RateType">
            <xs:annotation>
               <xs:documentation>Ставка кредита.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PostponementProcent" type="clt_ru:ProcentNumericType">
            <xs:annotation>
               <xs:documentation>Процент за предоставление отсрочки / рассрочки (заполняется для 91, 93 видов там. платежей)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PaymentDocumentType">
      <xs:annotation>
         <xs:documentation>Платежные поручения</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_ru:PaymentDocumentType">
            <xs:sequence>
               <xs:element minOccurs="0" name="OKPOID" type="clt_ru:OKPOIDType">
                  <xs:annotation>
                     <xs:documentation>ОКПО плательщика.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ReceiptDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата поступления денег на счет.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BIC" type="clt_ru:BICIDType">
                  <xs:annotation>
                     <xs:documentation>БИК</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PaymentWayCode" type="cltESAD_cu:PaymentWayCodeType">
                  <xs:annotation>
                     <xs:documentation>Способ платежа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="IncomeCode" type="cltESAD_ru:IncomeCodeType">
                  <xs:annotation>
                     <xs:documentation>Код дохода по бюджетной классификации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PRIZ" type="clt_ru:CodeVariable3Type">
                  <xs:annotation>
                     <xs:documentation>Служебное</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="WHO" type="clt_ru:Count2Type">
                  <xs:annotation>
                     <xs:documentation>Служебное</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CRYPT" type="clt_ru:Text10Type">
                  <xs:annotation>
                     <xs:documentation>Контрольная сумма записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PaymentType">
      <xs:annotation>
         <xs:documentation>Платежи к уплате</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="CustomsPaymentSign" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Признак таможенного платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentModeCode" type="clt_ru:CustomsPaymentCodeType">
            <xs:annotation>
               <xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymentAmount" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Сумма платежа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsPaymentSubspecies" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Подвид  таможенного платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType">
            <xs:annotation>
               <xs:documentation>Цифровой код валюты суммы платежа.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CurrencyRate" type="clt_ru:CurrencyRateType">
            <xs:annotation>
               <xs:documentation>Курс валюты</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PrimaryListType">
      <xs:annotation>
         <xs:documentation>Основные листы</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="TotalGoodsNumber" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Количество товаров.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TotalSheetNumber" type="clt_ru:SheetNumberType">
            <xs:annotation>
               <xs:documentation>Количество доблистов.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CurrencyEURO" type="clt_ru:CurrencyRateType">
            <xs:annotation>
               <xs:documentation>Курс ЕВРО</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CurrencyRate" type="clt_ru:CurrencyRateType">
            <xs:annotation>
               <xs:documentation>Курс валюты контракта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Код валюты контракта.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsRemark" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Наличие замечаний</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ProtocolNumber" type="cltESAD_ru:ProtocolNumber">
            <xs:annotation>
               <xs:documentation>№ протокола несоответствия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ProtocolDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата протокола несоответствия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CorrespondenceSign" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Признак соответствия</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DelinquencySign" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Наличие просрочки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DelaySign" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Наличие отсрочки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InstallmentSign" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Наличие рассрочки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CreditSign" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Наличие налогового кредита</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ModifyDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата модификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PaymentDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Срок оплаты</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NumberDaysDelinquency" type="clt_ru:Quantity4Type">
            <xs:annotation>
               <xs:documentation>Количество дней просрочки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NumberDaysDelay" type="clt_ru:Quantity3Type">
            <xs:annotation>
               <xs:documentation>Количество дней отсрочки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NumberDaysDelinquencyKTS" type="clt_ru:Quantity3Type">
            <xs:annotation>
               <xs:documentation>Количество дней просрочки по КТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Conformity" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Соответствие</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NormalEnd" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Нормальное завершение</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Payable" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Подлежит оплате до..</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OutputUnauthorized" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Выпуск запрещен</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CompositionProtocol" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Составление протокола</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="INNID" type="clt_ru:INNIDType">
            <xs:annotation>
               <xs:documentation>Индивидуальный номер налогоплательщика плательщика</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CalculationKTS" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Расчет по КТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomsPerson" type="cpdk:SignatureType">
            <xs:annotation>
               <xs:documentation>ФИО,ЛНП  сотрудника составившего ДК</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PersonOTP" type="cpdk:SignatureType">
            <xs:annotation>
               <xs:documentation>ФИО,ЛНП сотрудника ОТП</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SignatureType">
      <xs:annotation>
         <xs:documentation>Подпись должностного лица</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CustomsPersonType">
            <xs:sequence>
               <xs:element minOccurs="0" name="IssueDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата подписи.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
