Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/DO2Report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:WarehouseDocuments:DO2Report:5.4.0" version="5.4.0.0" xmlns:catWH_ru="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltWH_ru="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonLeafTypesCust:5.0.5" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:do2r="urn:customs.ru:Information:WarehouseDocuments:DO2Report:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonLeafTypesCust:5.0.5" schemaLocation="WarehouseCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:WarehouseDocuments:WarehouseCommonAggregateTypesCust:5.4.0" schemaLocation="WarehouseCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Отчет о выдаче товаров с СВХ по форме ДО2</xs:documentation>
   </xs:annotation>
   <xs:element name="DO2Report" type="do2r:DO2ReportType"/>
   <xs:complexType name="DO2ReportType">
      <xs:annotation>
         <xs:documentation>Отчет о выдаче товаров с СВХ по форме ДО2</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catWH_ru:WareHouseReportType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Carrier" type="catWH_ru:WHCarrierType">
                  <xs:annotation>
                     <xs:documentation>Перевозчик</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="DOTransports" type="catWH_ru:WhTransportType">
                  <xs:annotation>
                     <xs:documentation>Транспортные средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GoodsShipment" type="do2r:DO2GoodsShipmentType">
                  <xs:annotation>
                     <xs:documentation>Сведения о товарах, выпускаемых со склада</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1008009E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="DO2ConsigneeType">
      <xs:annotation>
         <xs:documentation>Комплексный тип для описания грузополучателя при составлении отчета ДО2</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catWH_ru:ConsigneeType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ConsigneePerson" type="cat_ru:PersonBaseType">
                  <xs:annotation>
                     <xs:documentation>Представитель получателя</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DO2DO1GoodLinkType">
      <xs:annotation>
         <xs:documentation>Комплексный тип для указания товара из ДО2 на товар отчета ДО1</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DO1Date" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата отчета ДО1, товар из которого выдается</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DO1Number" type="clt_ru:GTDIDType">
            <xs:annotation>
               <xs:documentation>Номер отчета ДО1, присвоенный оформляющей системой владельца СВХ, товар из которого выдается</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice>
            <xs:element name="DO1GoodNumber" type="clt_ru:Count10Type">
               <xs:annotation>
                  <xs:documentation>Валовый номер товара в отчете ДО1</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element name="MPOIndexNum" type="clt_ru:Count10Type">
               <xs:annotation>
                  <xs:documentation>Порядковый номер МПО в отчете ДО1</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DO2GoodCustomDocLinkType">
      <xs:annotation>
         <xs:documentation>Комплексный тип для описания соответствия выдаваемого товара таможенному документу</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodNumber" type="clt_ru:Count10Type">
            <xs:annotation>
               <xs:documentation>Валовый номер товара по отчету о выдаче</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomDocNumber" type="clt_ru:Count10Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер таможенного документа в отчете о выдаче</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DO2GoodInputType">
      <xs:annotation>
         <xs:documentation>Комплексный тип для описания товара в графе приход по отчету ДО2. Количественные сведения (вес, стоимость, доп.единицы) указываются по отчету ДО1 с учетом выдачи по предшествующим отчетам ДО2</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catWH_ru:WhGoodType">
            <xs:sequence>
               <xs:element minOccurs="0" name="MPOCaseNum" type="cltWH_ru:MPOCaseNumType">
                  <xs:annotation>
                     <xs:documentation>Номер емкости МПО</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="WHNumber" type="cltWH_ru:SVHGoodsNum">
                  <xs:annotation>
                     <xs:documentation>Складской номер товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DO1GoodLink" type="do2r:DO2DO1GoodLinkType">
                  <xs:annotation>
                     <xs:documentation>Указание на товар отчета ДО1, который выдается</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="KeepingLimit" type="do2r:DO2KeepingLimitType">
                  <xs:annotation>
                     <xs:documentation>Сведения о сроке хранения товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DO2GoodOutputType">
      <xs:annotation>
         <xs:documentation>Комплексный тип для описания товара в графе расход по отчету ДО2</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Cost" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Стоимость товара </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Буквенный код валюты  стоимости</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OutputDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата фактической выдачи МПО/ со склада</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OutputTime" type="clt_ru:TimeCustType">
            <xs:annotation>
               <xs:documentation>Время фактической выдачи МПО/ со склада</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Consignee" type="do2r:DO2ConsigneeType">
            <xs:annotation>
               <xs:documentation>Получатель</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MeasureQuantity" type="catWH_ru:WHSuppQuantityType">
            <xs:annotation>
               <xs:documentation>Кол-во в дополнительных  единицах измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BruttoVolQuant" type="catWH_ru:WHSuppQuantityType">
            <xs:annotation>
               <xs:documentation>Вес брутто / объем</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CargoPlace" type="catWH_ru:WHCargoPlaceType">
            <xs:annotation>
               <xs:documentation>Сведения о грузовых  местах</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DO2GoodResultType">
      <xs:annotation>
         <xs:documentation>Комплексный тип для описания товара в графе остаток по отчету ДО2</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Cost" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Стоимость товара </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Буквенный код валюты  стоимости</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BruttoVolQuant" type="catWH_ru:WHSuppQuantityType">
            <xs:annotation>
               <xs:documentation>Вес брутто / объем</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MeasureQuantity" type="catWH_ru:WHSuppQuantityType">
            <xs:annotation>
               <xs:documentation>Кол-во в дополнительных  единицах измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CargoPlace" type="catWH_ru:WHCargoPlaceType">
            <xs:annotation>
               <xs:documentation>Сведения о грузовых  местах</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DO2GoodsShipmentType">
      <xs:annotation>
         <xs:documentation>Комплексный тип для описания товаров, выпускаемых со склада по отчету ДО2</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MPOSign" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак оформления МПО</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="CustomsDocs" type="catWH_ru:WhCustomDocumentType">
            <xs:annotation>
               <xs:documentation>Таможенные документы, на основании которых осуществляется выдача</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="GoodsCustomDocsLinks" type="do2r:DO2GoodCustomDocLinkType">
            <xs:annotation>
               <xs:documentation>Данные о соответствии выдаваемых товаров выдающим таможенным документам</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="Goods" type="do2r:GoodsType">
            <xs:annotation>
               <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DO2KeepingLimitType">
      <xs:annotation>
         <xs:documentation>Сведения о сроке хранения товаров</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="AcceptDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата приема товара на хранение </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AcceptTime" type="clt_ru:TimeCustType">
            <xs:annotation>
               <xs:documentation>Время приема товара на хранение</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="StoringDateType" type="clt_ru:CodeVariable3Type">
            <xs:annotation>
               <xs:documentation>Тип срока хранения  по справочнику</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DeadLineDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата истечения срока хранения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsType">
      <xs:annotation>
         <xs:documentation>Сведения о товарах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="Input" type="do2r:DO2GoodInputType">
            <xs:annotation>
               <xs:documentation>Приход.                         Количественные сведения (вес, стоимость, доп.единицы) указываются по отчету ДО1 с учетом выдачи по предшествующим отчетам ДО2</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Output" type="do2r:DO2GoodOutputType">
            <xs:annotation>
               <xs:documentation>Расход</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Result" type="do2r:DO2GoodResultType">
            <xs:annotation>
               <xs:documentation>Остаток</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
