Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/ESADin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:SADin="urn:customs.ru:Information:CustomsDocuments:ESADin:5.4.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ESADin:5.4.0" elementFormDefault="qualified" version="5.4.0.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.4.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Электронная копия  декларации на товары/транзитной декларации. Внутренний формат</xs:documentation>
	</xs:annotation>
	<xs:element name="ESADin" type="SADin:ESADinType"/>
	<xs:complexType name="ESADinType">
		<xs:annotation>
			<xs:documentation>Электронная копия  декларации на товары/транзитной декларации. Внутренний формат</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="CustomsProcedure" type="cltESAD_ru:CustomsProcedureType">
						<xs:annotation>
							<xs:documentation> ИМ, ЭК. ТТ. Первый подраздел гр.1 ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsModeCode" type="clt_ru:Count2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код таможенной процедуры в соответствии с классификатором видов таможенных процедур гр. 1. второй подраздел ДТ. Первый элемент первого подраздела гр. 37/«00» – для припасов. G012</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код особенности декларирования товаров по Классификатору особенностей таможенного декларирования товаров. Гр.7 ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SDS_SRV" type="clt_ru:Text4Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Служебное поле для целей электронного декларирования (ЭДТиТС)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SDS_NUM" type="clt_ru:Count10Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Служебное поле для целей электронного декларирования (ЭДТиТС)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElectronicDocumentSign" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак использования ДТ в форме электронного документа. ЭД. Гр. 1 ДТ. Третий подраздел. G0131</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExecutionPlace" type="clt_ru:CityNameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Место представления ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RailwayStationCode" type="clt_ru:RailwayStationCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код ж/д станции. Гр.50 ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RegNumberDoc" type="clt_ru:DocumentNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Исходящий номер регистрации документов в соответствии с системой (регламентом) учета исходящих документов декларанта или таможенного представителя  в Республике Беларусь</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ExecutionDate" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата составления (представления)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SecurityLabelCode" type="clt_ru:Code6Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код защитной наклейки для РК</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinGoodsShipment" type="SADin:ESADinGoodsShipmentType">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Сведения о товарной партии.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADFilledPerson" type="catESAD_cu:ESADFilledPersonType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о лице, заполнившем документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinTechMarks" type="SADin:ESADinTechMarksType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат.  Технологические отметки.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinDeclarationDecision" type="catESAD_ru:RUESADDecisionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Принятое решение по декларации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinCommonOfficialMark" type="SADin:ESADinCommonOfficialMarkType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Служебные отметки по ДТ.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GTDNumber" type="cat_ru:GTDIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер ДТ.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CUESADCustomsRepresentative" type="catESAD_cu:CUESADCustomsRepresentativeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный представитель</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentIDType" use="required" fixed="1006001E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы.</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CUWarehousePlaceType">
		<xs:annotation>
			<xs:documentation>Сведения о местонахождении товаров: разрешение таможенного органа на временное хранение товаров, склад временного хранения, таможенный склад, свободный склад, магазин беспошлинной торговли, помещение, открытые площадки и иные территории уполномоченного экономического оператора, склад хранения собственных товаров, склад получателя товаров</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentModeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип документа:1-Лицензия 2-Свидетельство</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CustomsPaymentType">
		<xs:annotation>
			<xs:documentation>Сведения об уплате. Гр. В.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:ESADout_CUCustomsPaymentType">
				<xs:sequence>
					<xs:element name="PaymentWayCode" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Способ уплаты в соответствии с классификатором способов уплаты таможенных и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentDocument" type="SADin:PaymentDocumentType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Платежный документ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice minOccurs="0">
						<xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType">
							<xs:annotation>
								<xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
							<xs:annotation>
								<xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
							<xs:annotation>
								<xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADGoodsItemType">
		<xs:annotation>
			<xs:documentation>ESAD. Сведения о товаре.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:GoodsItemBaseType">
				<xs:sequence>
					<xs:element name="GoodsTNVEDCode" type="clt_ru:GoodsNomenclatureCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код товара по ТН ВЭД ТС</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsClassificationCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Особенность классификации кода: 1 - общий, 2 - товар списка. В остальных случаях не заполняется</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AdditionalSign" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительный признак нетарифного регулирования</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BeginPeriodDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата начала периода (ОПД)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EndPeriodDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата окончания периода (ОПД)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код страны происхождения по общероссийскому классификатору стран мира / буквенный код страны происхождения по классификатору экономических союзов и сообществ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OriginCountryName" type="clt_ru:CountryNameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Краткое наименование страны происхождения / экономического союза.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CountryCodeIndicator" type="clt_ru:DigitalIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак кода страны происхождения. 1 - классификатор OKSMT 2- Классификатор союзов и сообществ EK_EU. В остальных случаях не заполняется.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код страны назначения по общероссийскому классификатору стран мира. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConformityStatCostIndicator" type="clt_ru:IndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак приведения статистической стоимости  к установленной базе цен</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsShipmentUCR" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Идентификатор товарной партии из системы предварительного информирования или системы транзита.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="IntellectPropertySign" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак объекта интеллектуальной собственности</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsCostCorrectMethod" type="cltESAD_cu:CustomsCostAppraiseMethodType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Резерв. Номер метода определения таможенной стоимости. Заполняется в соответствии с классификатором методов определения таможенной стоимости.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsAddTNVEDCode" type="clt_ru:GoodsNomenclatuerAddCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код  товара по классификатору  дополнительной таможенной информации</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="QuantityFact" type="clt_ru:QuantityBasisType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество товаров, фактически переданных покупателю в соответствии с условиями поставки (элемент 8 гр. 31 ДТ).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OilField" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о месторождении товара</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeliveryTime" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата начала периода поставки. (элемент 7 гр. 31 ДТ).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeliveryTimeEND" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата окончания периода поставки. (элемент 7 гр. 31 ДТ).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsGroupDescription" type="catESAD_cu:GoodsGroupDescriptionType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание и характеристика товаров / Описание группы товаров одного наименования с отличающимися от других групп характеристиками</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsItemDeliveryTerms" type="cat_ru:DeliveryTermsType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Условия поставки товара</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsSTZ" type="catESAD_cu:GoodsSTZType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товарах, помещенных под таможенную процедуру СТЗ или свободного склада. гр 31 п 11. Для РК и РФ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Preferencii" type="catESAD_cu:CUPreferenciiType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Преференции, льготы и иные особенности по уплате таможенных платежей</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADGoodsType">
		<xs:annotation>
			<xs:documentation>Товарная часть. Гр. 31-47</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SADin:ESADGoodsItemType">
				<xs:sequence>
					<xs:element name="AdditionalSheetCount" type="clt_ru:SheetNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Порядковый номер листа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FormNumber" type="cltESAD_cu:FormNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Резерв. Учетный номер бланка (не заполняется для случая FKSIGN='1')</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FKSIGN" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак корректировки ДТ : "1"-заполняется при внесении изменений в ДТ  (в том числе после выпуска товаров) в случае корректировки, связанной с добавлением наименований товаров (например, в результате принятого таможенным органом решения о классификации товаров в соответствии с ТН ВЭД ТС товар, ранее заявленный как один, разбивается на несколько).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADContainer" type="catESAD_cu:ESADContainerType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ESAD. Сведения о контейнерах.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADCustomsProcedure" type="catESAD_cu:ESADCustomsProcedureType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Процедура.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADGoodsQuota" type="catESAD_cu:ESADGoodsQuotaType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Квота.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADElectricalEnergyQuantity" type="catESAD_ru:ESADElectricalEnergyQuantityType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Количество поставленной электроэнергии. Распоряжение ГТК РФ 350-р от 23.05.2002г.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADGoodsPackaging" type="catESAD_cu:ESADGoodsPackagingType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения о грузовых местах, поддонах и упаковке товаров.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество товара в дополнительной единице измерения.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SupplementaryGoodsQuantity1" type="cat_ru:SupplementaryQuantityType" minOccurs="0" maxOccurs="2">
						<xs:annotation>
							<xs:documentation>Количество товара в единице измерения, отличной от основной и дополнительной (1)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinBorderTransportType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Транспортные средства на границе.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUTransportMeansType">
				<xs:sequence>
					<xs:element name="TransportMeansQuantity" type="clt_ru:Count5Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество транспортных средств</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MethodTransport" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Способ транспортировки товаров при перемещении по линиям электропередачи или трубопроводным транспортом : 1- газопровод, 2 -нефтепровод, 3- нефтепродуктопровод, 4- линия электропередачи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameObject" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование объекта, на котором установлены приборы учета товаров, перемещаемых по линиям электропередачи или трубопроводным транспортом</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMeans" type="cat_ru:TransportMeansBaseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinCommonOfficialMarkType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Служебные отметки по ДТ.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_ru:RUESADCommonOfficialMarkType">
				<xs:sequence>
					<xs:element name="TechnologicalMarkTypeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Тип проставленной технологической отметки (1-внешняя, информация по которой может быть передана во внешнюю АИС, 2-внутренняя, информация которой доступна только в рамках ЕАИС)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RecordSerialNumber" type="clt_ru:Count3Type">
						<xs:annotation>
							<xs:documentation>Порядковый номер записи по идентификатору проставленной технологической отметки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PaymentWayCode" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код способа обеспечения уплаты в соответствии с классификатором способов обеспечения уплаты таможенных пошлин, налогов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GuaranteeFoundation" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Основание предоставления обеспечения уплаты таможенных  пошлин, налогов, специальных, антидемпинговых, компенсационных пошлин</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SolutionNumber" type="catESAD_ru:SolutionNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер решения</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinConsigmentType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Сведения о перевозке товаров гр. 15, 15а, 17,17а, 18, 19, 21, 25, 26, 29</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUConsigmentType">
				<xs:sequence>
					<xs:element name="DateExpectedArrival" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска. ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TimeExpectedArrival" type="clt_ru:TimeCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Время ожидаемого прибытия товаров и транспортных средств в пограничный пункт пропуска. ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinDepartureArrivalTransport" type="SADin:ESADinDepartureArrivalTransportType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Транспортные средства при прибытии/убытии. Гр. 18, 26 ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinBorderTransportMeans" type="SADin:ESADinBorderTransportType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Транспортные средства на границе. Гр. 21, 25 ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinReloadingInfo" type="catESAD_cu:ESADReloadingInfoType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Информация о перегрузке товаров. Гр. 55 ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeliveryCustomsOffice" type="cat_ru:CUCustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный орган назначения при транзите.гр.53 ТД</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PPBorderCustoms" type="cat_ru:CUCustomsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Таможенный орган (пограничный пункт пропуска), в который ожидается прибытие товаров и транспортных средств</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinConsigneeType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Сведения о получателе товаров.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_ru:ESADOrganizationInType">
				<xs:sequence>
					<xs:element name="ContractorIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ; 2 - РАЗНЫЕ ПО СПИСКУ.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OfficesExchangeCode" type="clt_ru:Count6Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код учреждения обмена подачи международных почтовых отправлений </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchDescription" type="cat_ru:CUBranchDescriptionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Контактная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinConsignorType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Сведения об отправителе товаров</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_ru:ESADOrganizationInType">
				<xs:sequence>
					<xs:element name="BowelsINN" type="clt_ru:INNIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ИНН недропользователя.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BowelsOKPO" type="clt_ru:OKPOIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ОКПО недропользователя.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ContractorIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OfficesExchangeCode" type="clt_ru:Count6Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код учреждения обмена подачи международных почтовых отправлений </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BranchDescription" type="cat_ru:CUBranchDescriptionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об обособленном подразделении</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Контактная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinCustomsPaymentCalculationType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Исчисление таможенных платежей.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUCustomsPaymentCalculationType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinDeclarantType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Сведения о декларанте/представителе.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_ru:ESADOrganizationInType">
				<xs:sequence>
					<xs:element name="BranchDescription" type="cat_ru:CUBranchDescriptionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Контактная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinDepartureArrivalTransportType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Транспортные средства при прибытии/убытии. Гр. 18, 26 ДТ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUTransportMeansType">
				<xs:sequence>
					<xs:element name="TransportMeansQuantity" type="clt_ru:Count5Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Количество транспортных средств</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MethodTransport" type="clt_ru:Numeric1Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Способ транспортировки товаров при перемещении по линиям электропередачи или трубопроводным транспортом : 1- газопровод, 2 -нефтепровод, 3- нефтепродуктопровод, 4- линия электропередачи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NameObject" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование объекта, на котором установлены приборы учета товаров, перемещаемых по линиям электропередачи или трубопроводным транспортом</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransportMeans" type="cat_ru:TransportMeansBaseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Описание транспортного средства</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinFinancialAdjustingResponsiblePersonType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Лицо ответственное за финансовое урегулирование.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_ru:ESADOrganizationInType">
				<xs:sequence>
					<xs:element name="BranchDescription" type="cat_ru:CUBranchDescriptionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Contact" type="cat_ru:ContactType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Контактная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinGoodsLocationType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Местонахождение товаров. Гр. 30 </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ITN" type="clt_ru:ITNType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИТН субъекта ВЭД</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InformationTypeCode" type="clt_ru:Code2Type">
				<xs:annotation>
					<xs:documentation>Код места нахождения товаров в соответствии c классификатором мест нахождения товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsOffice" type="clt_ru:CustomsCodeType">
				<xs:annotation>
					<xs:documentation>Код таможенного органа в соответствии с классификаторами таможенных органов, применяемыми в государствах - членах Таможенного союза</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomsCountryCode" type="clt_ru:CountryA2CodeType">
				<xs:annotation>
					<xs:documentation>Код страны таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocationName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование железнодорожной станции/морского (речного) порта</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес местонахождения товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsLocationPlace" type="catESAD_cu:CUGoodsLocationPlaceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о местонахождении товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Transport" type="catESAD_cu:CUTransportType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о местонахождении товаров - транспортное средство</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsLocationWarehouse" type="SADin:CUWarehousePlaceType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о местонахождении товаров: разрешение таможенного органа на временное хранение товаров, склад временного хранения, таможенный склад, свободный склад, магазин беспошлинной торговли, помещение, открытые площадки и иные территории уполномоченного экономического оператора, склад хранения собственных товаров</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ESADinGoodsOfficialMarkType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Служебные отметки по товару.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:ESADGoodsOfficialMarkType">
				<xs:sequence>
					<xs:element name="TechnologicalMarkTypeCode" type="clt_ru:LetterIndicatorType">
						<xs:annotation>
							<xs:documentation>Тип проставленной технологической отметки (1-внешняя, информация по которой может быть передана во внешнюю АИС, 2-внутренняя, информация которой доступна только в рамках ЕАИС)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RecordNumber" type="clt_ru:Count3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Порядковый номер записи по идентификатору проставленной технологической отметки</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Code" type="clt_ru:CodeVariable3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код основания продления срока выпуска товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SolutionNumber" type="catESAD_ru:SolutionNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер решения</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinGoodsShipmentType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Сведения о товарной партии.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUESADGoodsShipmentType">
				<xs:sequence>
					<xs:element name="ESADinConsignor" type="SADin:ESADinConsignorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Сведения об отправителе товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinConsignee" type="SADin:ESADinConsigneeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Сведения о получателе товаров.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinFinancialAdjustingResponsiblePerson" type="SADin:ESADinFinancialAdjustingResponsiblePersonType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Лицо ответственное за финансовое урегулирование.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinDeclarant" type="SADin:ESADinDeclarantType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Сведения о декларанте товаров.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinGoodsLocation" type="SADin:ESADinGoodsLocationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Местонахождение товаров. Гр. 30 </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinConsigment" type="SADin:ESADinConsigmentType">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Сведения о перевозке товаров гр. 15, 15а, 17,17а, 18, 19, 21, 25, 26, 29.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinMainContractTerms" type="catESAD_cu:CUESADMainContractTermsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ДТ. Внутренний формат. Условия сделки ДТ. Гр. 11, 20, 22, 23, 24.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinGoods" type="SADin:ESADinGoodsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Товарная часть ДТ. Гр. 31-47.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinPayments" type="SADin:ESADinPaymentsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Сведения об уплачиваемых платежах, платежных поручениях, отсрочке платежей. Гр. 48, В.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Guarantee" type="catESAD_cu:CUGuaranteeType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Гарантия.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinGoodsType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Товарная часть ДТ. Гр. 31-47.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="SADin:ESADGoodsType">
				<xs:sequence>
					<xs:element name="OriginDigitCountryCode" type="clt_ru:CountryN3CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Цифровой код страны происхождения.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DestinationDigitCountryCode" type="clt_ru:CountryN3CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Цифровой код страны назначения.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsCostCorrectMark" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак корректировки таможенной стоимости.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="STAT" type="clt_ru:LetterIndicatorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак учета в таможенной статистике внешней торговли (0 -  товар не учитываются  в статистике внешней торговли, 1 - товар учитывается в статистике внешней торговли)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="KOD_STR" type="clt_ru:CountryA2CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Расчетное значение страны происхождения / назначения. Формируется в соответствии с установленным алгоритмом для целей статистики. Буквенный код.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="KOD_STRC" type="clt_ru:CountryN3CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Расчетное значение страны происхождения / назначения. Формируется в соответствии с установленным алгоритмом для целей статистики. Цифровой код.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DSTAT" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата учета (не учета) товара в статистике внешней торговли.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsCostMethodCode" type="cltESAD_cu:CustomsCostAppraiseMethodType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код метода определения таможенной стоимости. В соответствии с Классификатором методов определения таможенной стоимости.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinPresentedDocument" type="SADin:ESADinPresentedDocumentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Представленные документы гр. 44.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinPrecedingDocument" type="SADin:ESADinPrecedingDocumentType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Предшествующие документы.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinCustomsPaymentCalculation" type="SADin:ESADinCustomsPaymentCalculationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Исчисление таможенных платежей.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinAutomobile" type="catESAD_cu:AutomobileType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Сведения  об автомобилях. Гр. 31</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinGoodsOrganization" type="SADin:ESADinConsignorType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения об организации в товарной части ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomConditionDocuments" type="catESAD_cu:ProcessingGoodsDeclarationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Сведения, указываемые в случае, если ДТ используется в качестве заявления на получение разрешения на переработку товаровэлемент 6 гр 31, гр 44</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinGoodsDecision" type="catESAD_ru:RUESADDecisionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формт. Принятое решение по товару.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADinGoodsOfficialMark" type="SADin:ESADinGoodsOfficialMarkType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ДТ и ТД. Внутренний формат. Служебные отметки по товару.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ESADExcise" type="catESAD_cu:ESADExciseType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения об акцизных марках.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinPaymentsType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Сведения об уплачиваемых платежах, платежных поручениях, отсрочке платежей. Гр. 48, В.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ESADinCustomsPayment" type="SADin:CustomsPaymentType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ДТ и ТД. Внутренний формат. Уплата таможенных платежей. Гр. В.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DelayPayments" type="catESAD_cu:CUDelayPaymentsType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Отсрочка платежей гр.48</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ESADinPrecedingDocumentType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Предшествующие документы.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUPrecedingDocumentType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinPresentedDocumentType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат. Представленные документы гр. 44.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="catESAD_cu:CUPresentedDocumentsType">
				<xs:sequence>
					<xs:element name="BDRDID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Уникальный идентификатор разрешительного документа</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ESADinTechMarksType">
		<xs:annotation>
			<xs:documentation>ДТ и ТД. Внутренний формат.  Технологические отметки.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EXTRNL" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Служебное поле.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SCHET" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Служебное поле. Подписи этапов.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STEPCTRL" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Служебное поле. Этапы контроля.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresenceDTS" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наличие ДТС ("1"-есть)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PresenceKTS" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наличие КТС ("1"-есть)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STAT" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак учета в таможенной статистике внешней торговли (0 - все товары ДТ не учитываются  в статистике внешней торговли, 1 - хотя бы один товар ДТ учитывается в статистике внешней торговли)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrontierCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код приграничного таможенного органа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ElDeclIndicator" type="clt_ru:LetterIndicatorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Признак применения электронной формы декларирования: </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SDS_SRV" type="clt_ru:Code4Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Служебный код, используется для целей электронного декларирования </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SDS_NUM" type="clt_ru:Count10Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Служебный номер, используется для целей электронного декларирования </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GDDF" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата фактического перемещения товаров.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModificationDate" type="clt_ru:DateCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата последнего внесения изменений в документ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModificationTime" type="clt_ru:TimeCustType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Время последнего внесения изменений в ДТС.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDOC_GUID" type="clt_ru:DocumentIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Глобальный идентификатор ДТ. Формируется системой таможенного оформления и контроля.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDOC_ID" type="clt_ru:Count19Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Идентификатор документа в пакете.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="P_STATUS1" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Прикладной статус ДТ (1- зарегистрированная 2 - оформленная ДТ)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="P_STATUS2" type="clt_ru:Count2Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Статус обработки (Не заполнено; 1 - Документ изменен на основании требования на техническую корректировку)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentDocumentType">
		<xs:annotation>
			<xs:documentation>Платежный документ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="PaymentDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата уплаты</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
