Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/GTDObligation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:GTDObligation:5.4.0" version="5.4.0.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:gob="urn:customs.ru:Information:CustomsDocuments:GTDObligation:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Обязательство о подаче таможенной декларации и представлении необходимых документов и сведений</xs:documentation>
   </xs:annotation>
   <xs:element name="GTDObligation" type="gob:GTDObligationType"/>
   <xs:complexType name="GTDObligationType">
      <xs:annotation>
         <xs:documentation>Обязательство о подаче таможенной декларации и представлении необходимых документов и сведений</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="DateSign" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата подписания декларантом или таможенным представителем</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GoodsUsagePurpose" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Цель использования товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GoodsDirection" type="clt_ru:TransitDirectionCodeType">
                  <xs:annotation>
                     <xs:documentation>Направление перемещения товаров (ИМ, ЭК)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TotalGoodsQuantity" type="clt_ru:Count5Type">
                  <xs:annotation>
                     <xs:documentation>Всего наименований товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType">
                  <xs:annotation>
                     <xs:documentation>Курс валюты</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
                  <xs:annotation>
                     <xs:documentation>Код валюты цены договора</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ContainerSign" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак контейнерных перевозок: 1 - если перевозка товаров (хотя бы одного из них) через там. границу производится (производилась) в контейнере; 0 - в иных случаях (в том числе, если сведения о перевозке неизвестны)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="FilledPerson" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Данные лица, подающего обязательство</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Simplification" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Используемое упрощение</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsName" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Наименование таможенного органа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ESADCustomsProcedure" type="gob:CustomsProcedureType">
                  <xs:annotation>
                     <xs:documentation>Таможенная процедура</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ObligationGoods" type="gob:ObligationGoodsType">
                  <xs:annotation>
                     <xs:documentation>Товары, о выпуске которых просит осуществить декларант</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ObligationDeclarant" type="gob:OrganizationType">
                  <xs:annotation>
                     <xs:documentation>Заявитель обязательства</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="InfoCustomsPay" type="gob:InfoCustomsPayType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обеспечении таможенных платежей (заполняется, если произведена уплата таможенных   платежей  или требуется  обеспечение уплаты причитающихся таможенных платежей, в ином случае - не заполняется)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TradeCountry" type="gob:CountryType">
                  <xs:annotation>
                     <xs:documentation>Торгующая страна</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DepartureCountry" type="gob:CountryType">
                  <xs:annotation>
                     <xs:documentation>Страна отправления</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="OriginCountry" type="gob:CountryType">
                  <xs:annotation>
                     <xs:documentation>Страна происхождения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DestinationCountry" type="gob:CountryType">
                  <xs:annotation>
                     <xs:documentation>Страна назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Transport" type="gob:TransportInfoType">
                  <xs:annotation>
                     <xs:documentation>Транспортное средство</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Consignor" type="gob:OrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения об отправителе товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Consignee" type="gob:OrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения о получателе товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustBroker" type="gob:CustBrokerType">
                  <xs:annotation>
                     <xs:documentation>Таможенный представитель</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PresentedDocuments" type="gob:PresentedDocumentsType">
                  <xs:annotation>
                     <xs:documentation>Представляемые документы</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006015E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CountryType">
      <xs:annotation>
         <xs:documentation>Сведения о стране</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Code" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код страны</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Name" type="clt_ru:CountryNameType">
            <xs:annotation>
               <xs:documentation>Краткое название страны</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CustBrokerType">
      <xs:annotation>
         <xs:documentation>Таможенный представитель (брокер)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="AbbreviationCustBrokerName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Сокращенное наименование таможенного представителя</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BrokerReestrNumber" type="clt_ru:Code14Type">
            <xs:annotation>
               <xs:documentation>Номер Свидетельства о включении в Реестр таможенных представителей</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BrokerReestrDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата выдачи Свидетельства о включении в Реестр таможенных представителей</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DocumentModeCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Тип документа:2 - свидетельство таможенного  представителя (брокера ); 3 - свидетельство таможенного представителя</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CustomsProcedureType">
      <xs:annotation>
         <xs:documentation>Таможенная процедура</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MainCustomsModeCode" type="cltESAD_cu:CustomsModeCodeType">
            <xs:annotation>
               <xs:documentation>Код заявляемой таможенной процедуры в соответствии с классификатором видов таможенных  процедур.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType">
            <xs:annotation>
               <xs:documentation>Код особенности декларирования товаров по Классификатору особенностей таможенного декларирования товаров.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InfoCustomsPayType">
      <xs:annotation>
         <xs:documentation>Сведения об обеспечении таможенных платежей (заполняется, если произведена уплата таможенных   платежей  или требуется  обеспечение уплаты причитающихся таможенных платежей, в ином случае - не заполняется)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ExecuteAssure" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
               <xs:documentation>Уплата причитающихся таможенных платежей произведена/обеспечена. Если значение 1  - произведена, 0 - обеспечена</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PaymenSecuring" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
               <xs:documentation>Подтверждающие уплату/ обеспечение уплаты   причитающихся таможенных платежей документы прилагаются. Если значение 1 -   уплату, 0 - обеспечение</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PaymentSum" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Сумма</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ObligationGoodsType">
      <xs:annotation>
         <xs:documentation>Товары, выпуск которых просит осуществить декларант</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:CUESADGoodsItemType">
            <xs:sequence>
               <xs:element minOccurs="0" name="MilitaryProductCategoryCode" type="clt_ru:Code4Type">
                  <xs:annotation>
                     <xs:documentation>Категория продукции военного назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OriginCountrySign" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак кода страны происхождения: 0 - буквенный код alpha-2 по классификатору OKSMT; 1 - буквенный код EU</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType">
                  <xs:annotation>
                     <xs:documentation>Количество товара в дополнительной единице измерения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="2" minOccurs="0" name="SupplementaryQuantity12" type="cat_ru:SupplementaryQuantityType">
                  <xs:annotation>
                     <xs:documentation>Количество товара в дополнительной единице измерения (1,2)</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="OrganizationType">
      <xs:annotation>
         <xs:documentation>Сведения о юр. лице/физ. лице</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="IdentityCard" type="cat_ru:IdentityCardType">
                  <xs:annotation>
                     <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="SubdivisionInfo" type="cat_ru:CUBranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Обособленное подразделение</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PresentedDocumentsType">
      <xs:annotation>
         <xs:documentation>Представляемые документы</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element name="DocSign" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Признак: 1 - документы, позволяющие идентифицировать товары; 2 - документы, подтверждающий соблюдение ограничений, установленных законодательством РФ о регулировании внешнеторговой деятельности; 3 - документы, свидетельствующие об уплате/обеспечении уплаты таможенных платежей</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ModeCode" type="clt_ru:CustomsDocumentCodeType">
                  <xs:annotation>
                     <xs:documentation>Код вида документа (заполняется в соответствии с классификатором видов документов, используемых при таможенном декларировании)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ExpirationDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата окончания действия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AmountCustomaPay" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Сумма уплаты/обеспечения уплаты таможенных платежей по документу</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AddPaymentCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Код способа обеспечения уплаты таможенных пошлин, налогов</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TransportInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о транспорте</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUTransportMeansType">
            <xs:sequence>
               <xs:element name="TransportSign" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак транспортного средства: 0 - при отправлении/прибытии (18); 1 - на границе (21)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Quantity" type="clt_ru:Count5Type">
                  <xs:annotation>
                     <xs:documentation>Общее количество транспортных средств</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="TransportMeans" type="gob:TransportType">
                  <xs:annotation>
                     <xs:documentation>Описание транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TransportType">
      <xs:annotation>
         <xs:documentation>Транспортное средство</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:TransportMeansBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="TransportModeCode" type="clt_ru:TransportModeCodeType">
                  <xs:annotation>
                     <xs:documentation>Код вида транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ContainerSign" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак контейнерных перевозок: 1 - если перевозка товаров (хотя бы одного из них) через там. границу производится (производилась) в контейнере; 0 - в иных случаях (в том числе, если сведения о перевозке неизвестны)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TraditionalName" type="clt_ru:TransportNameType">
                  <xs:annotation>
                     <xs:documentation>Традиционное наименование транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
