Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/InfoDT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:rtdt="urn:customs.ru:Information:CustomsDocuments:InfoDT:5.4.1" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" targetNamespace="urn:customs.ru:Information:CustomsDocuments:InfoDT:5.4.1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.4.1.0">
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Сообщение с информацией из ДТ</xs:documentation>
	</xs:annotation>
	<xs:element name="InfoDT" type="rtdt:InfoDTType"/>
	<xs:complexType name="InfoDTType">
		<xs:annotation>
			<xs:documentation>Информация из ДТ</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="DataVer" type="clt_ru:DateCustType">
						<xs:annotation>
							<xs:documentation>Дата введения в действие версии внутреннего формата эДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FrontierCustomsCode" type="clt_ru:CustomsCodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код приграничного таможенного органа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LNP" type="clt_ru:LNPIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ЛНП должностного лица, принявшего решение по товарам ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType">
						<xs:annotation>
							<xs:documentation>ИМ, ЭК. ТТ. Первый подраздел гр.1 ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ElectronicDocumentSign" type="clt_ru:Code2Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Признак использования ДТ в форме электронного документа</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код особенности декларирования товаров по Классификатору особенностей таможенного декларирования товаров. Гр.7 ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GoodsShipment">
						<xs:annotation>
							<xs:documentation>Сведения о товарной партии</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TotalGoodsNumber" type="clt_ru:Count3Type">
									<xs:annotation>
										<xs:documentation>Всего наименований товаров.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="TotalPackageNumber" type="clt_ru:PakageNumberType" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Общее количество грузовых мест.</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="Consignor" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Сведения об отправителе товаров</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="rtdt:OrganizationInfoType">
												<xs:sequence>
													<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Адрес организации</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="Consignee" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Сведения о получателе товаров</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="rtdt:OrganizationInfoType">
												<xs:sequence>
													<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Адрес организации</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="FinancialAdjustingResponsiblePerson" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Лицо, ответственное за финансовое урегулирование</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="rtdt:OrganizationInfoType">
												<xs:sequence>
													<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Адрес организации</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="Declarant" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Сведения о декларанте товаров</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="rtdt:OrganizationInfoType">
												<xs:sequence>
													<xs:element name="Address" type="cat_ru:AddressType" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Адрес организации</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="DTFilledPerson" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Сведения о лице, заполнившем декларацию. Гр. 54/ гр 50 ТД </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CustomsRepresCertificate" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Документ, свидетельствующий о включении лица  в Реестр таможенных представителей</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="PrDocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Номер документа, свидетельствующего о включении лица  в Реестр таможенных представителей. </xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DTGoodsLocation" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Местонахождение товаров. Гр. 30 ДТ</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="CustomsOffice" type="clt_ru:CustomsCodeType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Код таможенного органа</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="GoodsLocationWarehouse" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Сведения о местонахождении товаров: таможенный склад, склад временного хранения, свободный склад, склад получателя, иные</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="PrDocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Номер документа</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="DocumentModeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Тип документа:1-Лицензия 2-Свидетельство</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DTConsigment" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Сведения о перевозке товаров</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ContainerIndicator" type="clt_ru:IndicatorType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Признак контейнерных перевозок. Гр.19 </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DispatchCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Страна отправления. Буквенный код по  классификатору стран мира .гр 15, подраздел a </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DestinationCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Страна назначения. Буквенный код по классификатору стран мира / 00 (неизвестна). Гр 17, подраздел a</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="BorderCustomsOffice" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Таможенный орган въезда/выезда. Гр.29</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Code" type="clt_ru:CustomsCodeType">
															<xs:annotation>
																<xs:documentation>Код таможенного органа</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DTDepartureArrivalTransport" type="rtdt:DTTransportType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Транспортные средства при прибытии/убытии. Гр. 18, 26</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DTBorderTransport" type="rtdt:DTTransportType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Транспортные средства на границе. Гр. 21, 25  ДТ</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DTMainContractTerms" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Условия сделки</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ContractCurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Трехзначный буквенный в графе 22 код валюты цены договора/ платежа (оценки). По Классификатору валют. </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ContractCurrencyRate" type="clt_ru:CurrencyRateType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Курс валюты цены договора/ платежа (оценки).</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="TotalInvoiceAmount" type="clt_ru:AmountType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Общая стоимость товаров. Гр 22 подраздел 2. </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="TradeCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Буквенный код торгующей страны по классификатору стран мира. Гр.11, 1-й подраздел ДТ</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DealFeatureCode" type="clt_ru:Code2Type" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Код особенности сделки (договора). В соответствии с Классификатором особенности внешнеэкономической сделки, используемым в государствах-членах Таможенного союза. Гр. 24 ДТ</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DealNatureCode" type="cltESAD_cu:DealNatureCodeType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Код характера сделки с декларируемыми товарами в соответствии с Классификатором характера сделки, используемым в государствах-членах Таможенного союза. Гр.24 ДТ</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DTDeliveryTerms" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Условия поставки товаров. Гр. 20 ДТ</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="DeliveryTermsStringCode" type="clt_ru:IncotermsDeliveryStringCodeType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Код условий поставки в соответствии с Классификатором условий поставки.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="DTGoods" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation>Товарная часть Гр. 31-47.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
												<xs:annotation>
													<xs:documentation>Порядковый номер декларируемого  товара / номер товара по списку/ номер корректируемого товара.  Гр.32</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="GoodsDescription" type="clt_ru:Text3MB">
												<xs:annotation>
													<xs:documentation>Наименование (торговое, коммерческое или иное традиционное наименование) товаров/ "Товары согласно прилагаемому Списку". Гр.31 первый подраздел</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Вес товара, брутто (кг). Гр. 35</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Вес товара, нетто (кг). Гр.38</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CustomsCost" type="clt_ru:AmountType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Таможенная стоимость товара. Гр.45 ДТ/ гр 45 КТС левый подраздел </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="StatisticalCost" type="clt_ru:AmountType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Статистическая стоимость товара. Гр. 46 ДТ/КТС</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Код товара по ТН ВЭД ТС. Гр.33 первый раздел</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="GoodsClassificationCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Особенность классификации кода: 1 - общий "О", 2 - товар списка. В остальных случаях не заполняется</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Код страны происхождения по классификатору стран мира / "EU" / 00 (неизвестна)  Гр.34 в ДТ/КТС</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CustomsCostCorrectMethod" type="cltESAD_cu:CustomsCostAppraiseMethodType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Код метода определения таможенной стоимости. В соответствии с Классификатором методов определения таможенной стоимости. Гр. 43 в ДТ/КТС. </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="GoodsAddTNVEDCode" type="clt_ru:GoodsNomenclatuerAddCodeType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Код  товара в соответствии с Классификатором дополнительной таможенной информации для РФ и РК</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="GoodsGroupInformation" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Характеристика товаров в группе</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Manufacturer" type="clt_ru:NameType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сведения о производителе</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="TradeMark" type="clt_ru:NameType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Тов. знак, место происхождения, объект авторского права, смежных прав, патент и т.д.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="GoodsMark" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Марка товара</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="GoodsModel" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Модель товара</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="GoodsMarking" type="cltESAD_cu:GoodsArticulType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Артикул товара</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Preferencii" type="catESAD_cu:CUPreferenciiType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Преференции в соответствии с Классификатором льгот по уплате таможенных платежей. Гр.36</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DTPresentedDocument" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation>Представленные документы. Гр. 44.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="PrDocumentNumber" type="clt_ru:DocumentNumberType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Номер документа.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="PresentedDocumentModeCode" type="clt_ru:CustomsDocumentCodeType">
															<xs:annotation>
																<xs:documentation>Код вида представляемого документа. Заполняется в соответствии с классификатором видов документов, используемых при заявлении сведений в графе 44.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="PrDocumentDate" type="clt_ru:DateCustType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Дата документа.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DTCustomsPaymentCalculation" minOccurs="0" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation> Исчисление таможенных платежей</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="PaymentModeCode" type="clt_ru:CUCustomsPaymentCodeType">
															<xs:annotation>
																<xs:documentation>Код вида платежа  по классификатору видов налогов, сборов и иных платежей, взимание которых возложено на таможенные органы.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="PaymentAmount" type="clt_ru:AmountType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Сумма платежа</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="PaymentCurrencyCode" type="clt_ru:CurrencyN3CodeType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Цифровой код валюты суммы платежа.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="Rate" type="cltESAD_cu:RateType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Ставка / ставка рефинансирования</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="RateTypeCode" type="clt_ru:LetterIndicatorType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Вид ставки (адвалорная -"%",признак сборов для РК - "S", специфическая - "*")</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="PaymentCode" type="clt_ru:Code2Type" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Код в соответствии с Классификатором особенностей уплаты таможенных и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="SupplementaryGoodsQuantity" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Количество товара в дополнительной единице измерения.  Гр.41</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="GoodsQuantity" type="clt_ru:QuantityBasisType">
															<xs:annotation>
																<xs:documentation>Количество товара в единице измерения.</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="GoodsPackaging" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Сведения о грузовых местах, поддонах и упаковке товаров</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="PakageQuantity" type="clt_ru:PakageNumberType" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Общее количество грузовых мест, занятых товаром.</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="PackingCode" type="clt_ru:PackageCodeType" minOccurs="0" maxOccurs="unbounded"/>
														<xs:element name="PalleteCode" type="clt_ru:PackageCodeType" minOccurs="0" maxOccurs="unbounded"/>
														<xs:element name="UnitPackCode" type="clt_ru:PackageCodeType" minOccurs="0" maxOccurs="unbounded"/>
														<xs:element name="CargoInfoCode" type="clt_ru:PackageCodeType" minOccurs="0" maxOccurs="unbounded"/>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DTContainer" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Сведения о контейнерах.элемент 3 Гр 31</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ContainerNumber" minOccurs="0" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Номер контейнера</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="ContainerIdentificator" type="clt_ru:ContainerIdentityType">
																		<xs:annotation>
																			<xs:documentation>Номер (идентификатор) контейнера</xs:documentation>
																		</xs:annotation>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="DTCustomsProcedure" type="catESAD_cu:ESADCustomsProcedureType" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Процедура.Гр 37</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="DTNumber" type="cat_ru:GTDIDType">
						<xs:annotation>
							<xs:documentation>Регистрационный номер ДТ</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="R101000E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа (код документа в Альбоме форматов для РФ)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="OrganizationInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об отправителе/получателе/лице, отв. за фин. рег/декларанте</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrganizationName" type="clt_ru:NameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации / ФИО физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRN" type="clt_ru:OGRNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОГРН/ОГРНИП. Основной государственный регистрационный номер.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INN" type="clt_ru:INNIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИНН - Индивидуальный номер налогоплательщика.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KPP" type="clt_ru:KPPCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>КПП - Код причины постановки на учет.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ITN" type="clt_ru:ITNType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ИТН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKATO" type="clt_ru:OKATOCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код ОКАТО (формируется автоматически в соответствии с приказом ФТС России от 10.10.2007 г. № 1246)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsLocationWarehouseType">
		<xs:sequence>
			<xs:element name="рпрр"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DTTransportType">
		<xs:annotation>
			<xs:documentation>Информация о транспортном средстве</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код вида транспортного средства по классификатору видов транспорта и транспортировки товаров.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportMeans" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Описание транспортного средства</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransportIdentifier" type="clt_ru:TransportMeansIDType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Идентификатор. Номер транспортного средства, название судна, номер авиарейса...</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TransportMeansNationalityCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Буквенный код страны принадлежности транспортного средства по классификатору стран мира.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
