Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/KTDin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:KTDin:5.4.1" version="5.4.1.0" xmlns:KTDin="urn:customs.ru:Information:CustomsDocuments:KTDin:5.4.1" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" xmlns:catESAD_ru="urn:customs.ru:RUCommonAggregateTypes:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:RUCommonAggregateTypes:5.4.0" schemaLocation="RUESADCommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Корректировка декларации на товары.Внутренний формат</xs:documentation>
   </xs:annotation>
   <xs:element name="KTDin" type="KTDin:KTDinType"/>
   <xs:complexType name="KTDinType">
      <xs:annotation>
         <xs:documentation>Корректировка декларации на товары.Внутренний формат</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DeclarationKind" type="cltESAD_cu:CustomsDeclarationKindType">
                  <xs:annotation>
                     <xs:documentation>Вид таможенной декларации по Классификатору видов таможенных деклараций.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="COMPLECTBL" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Резерв. Признак использования для ДТ комплектов бланков. 1 -КДТ1, 2 - КДТ2</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="G0131" type="clt_ru:CodeVariable3Type">
                  <xs:annotation>
                     <xs:documentation>Резерв. Дополнительный признак.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="KTDNumber" type="clt_ru:Count2Type">
                  <xs:annotation>
                     <xs:documentation>Номер КДТ по порядку</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsModeCode" type="clt_ru:Count2Type">
                  <xs:annotation>
                     <xs:documentation>Код таможенной процедуры в соответствии с Классификатором видов таможенных процедур.  гр. 1. второй подраздел ДТ. Первый элемент первого подраздела гр. 37./ "00" - для припасов</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ElectronicDocumentSign" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Признак использования КДТ в форме электронного документа "ЭД". </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegNumberDoc" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Исходящий номер регистрации документов в соответствии с системой (регламентом) учета исходящих документов декларанта или таможенного представителя  в Республике Беларусь</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ExecutionDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата составления (представления)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SecurityLabelCode" type="clt_ru:Code6Type">
                  <xs:annotation>
                     <xs:documentation>Код защитной наклейки для РК</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType">
                  <xs:annotation>
                     <xs:documentation>ИМ, ЭК. Левый подраздел гр.1 КДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Reason" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Резерв. Основание для внесения изменений: мотивированное обращение декларанта (таможенного представителя)/решение начальника таможенного поста/решение начальника таможни или лица, им уполномоченного/решение начальник структурного подразделения таможни/решение вышестоящего таможенного органа (РТУ, ФТС России)/ решение начальник структурного  подразделения РТУ, ФТС России</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="KTDinGoodsShipment" type="KTDin:KTDinGoodsShipmentType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Сведения о товарной партии</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="KTDinCommonOfficialMark" type="KTDin:KTDinCommonOfficialMarkType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Служебные отметки по КДТ.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GTDNumber" type="cat_ru:GTDIDType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер ДТ.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="FilledPerson" type="catESAD_cu:ESADFilledPersonType">
                  <xs:annotation>
                     <xs:documentation>Сведения о лице, заполнившем документ (ДТ)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsRepresentative" type="catESAD_cu:CUESADCustomsRepresentativeType">
                  <xs:annotation>
                     <xs:documentation>Таможенный представитель</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ChangeCode" type="KTDin:ChangeCodeType">
                  <xs:annotation>
                     <xs:documentation>Код изменений гр 45а при отсутствии изменений и (или) дополнении сведений в отношении товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KDTFilledInfo" type="KTDin:KDTFilledInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о заполнении КДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006067E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CUWarehousePlaceType">
      <xs:annotation>
         <xs:documentation>Сведения о документе свидетельствующем о включении в реестры уполномоченных экономических операторов либо реестры владельцев складов хранения собственных товаров, владельцев складов временного хранения, владельцев таможенных складов либо свободных складов, разрешение на временное хранение на складе получателя.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DocumentModeCode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип документа:1-Лицензия 2-Свидетельство</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ChangeCodeType">
      <xs:annotation>
         <xs:documentation>Код изменений</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PhaseChanges" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Графа 45а. Элемент 1. Этап внесения изменений и (или) дополнений в сведения, указанных в ДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BasisCompilation" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Графа 45а. Элемент 2. Обстоятельства, послужившие основанием для  внесения изменений и (или) дополнений в сведения, указанных в ДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="QuantityChanges" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Графа 45а. Элемент 3. Изменение и (или) дополнение сведений, указанных в ДТ, в отношении количества (веса) товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CountryChanges" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Графа 45а. Элемент 4. Изменение и (или) дополнение сведений , указанных в ДТ, о стране происхождения товаров и (или) тарифных преференциях</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TNVEDChanges" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Графа 45а. Элемент 5. Изменение сведений, указанных в ДТ,  в отношении классификационного кода товара по ТН ВЭД ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustCostChanges" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Графа 45а. Элемент 6. Изменение и (или) дополнение сведений, указанных в ДТ, в отношении таможенной стоимости товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomsPaymentChanges" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Графа 45а. Элемент 7. Изменение и (или) дополнение сведений, указанных в ДТ, в отношении исчисленных (уплаченных) таможенных, иных платежей</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="OtherChanges" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Графа 45а. Элемент 8. Изменение и (или) дополнение иных сведений, указанных в ДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="KDTFilledInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о заполнении КДТ</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="FilledPerson" type="catESAD_cu:ESADFilledPersonType">
            <xs:annotation>
               <xs:documentation>Сведения о лице, заполнившем КДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsRepresentative" type="catESAD_cu:CUESADCustomsRepresentativeType">
            <xs:annotation>
               <xs:documentation>Таможенный представитель</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="KDTSectionBCustomsPaymentType">
      <xs:annotation>
         <xs:documentation>Уплата таможенных платежей. Гр. В</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:ESADout_CUCustomsPaymentType">
            <xs:sequence>
               <xs:element minOccurs="0" name="PaymentPrevious" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Предыдущая сумма платежа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RateCurrencyCodePrevious" type="clt_ru:CurrencyN3CodeType">
                  <xs:annotation>
                     <xs:documentation>Цифровой код валюты предыдущей суммы платежа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ChangeAmount" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Изменение</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PaymentDocument" type="KTDin:PaymentDocumentType">
                  <xs:annotation>
                     <xs:documentation>Платежный документ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KDTinGoodsOrganizationType">
      <xs:annotation>
         <xs:documentation>Сведения об организации в товарной части ДТ</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ContractorIndicator" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Особенность указанных сведений: 1 - КОНТРАГЕНТ; 2 - РАЗНЫЕ ПО СПИСКУ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinBorderTransportType">
      <xs:annotation>
         <xs:documentation>Транспортные средства на границе.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUTransportMeansType">
            <xs:sequence>
               <xs:element minOccurs="0" name="TransportMeansQuantity" type="clt_ru:Count5Type">
                  <xs:annotation>
                     <xs:documentation>Количество транспортных средств</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="MethodTransport" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Способ транспортировки товаров при перемещении по линиям электропередачи или трубопроводным транспортом : 1- газопровод, 2 -нефтепровод, 3- нефтепродуктопровод, 4- линия электропередачи.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="NameObject" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Наименование объекта, на котором установлены приборы учета товаров, перемещаемых по линиям электропередачи или трубопроводным транспортом.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="TransportMeans" type="cat_ru:TransportMeansBaseType">
                  <xs:annotation>
                     <xs:documentation>Описание транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinCommonOfficialMarkType">
      <xs:annotation>
         <xs:documentation>Служебные отметки по КТД</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_ru:RUESADCommonOfficialMarkType">
            <xs:sequence>
               <xs:element minOccurs="0" name="TechnologicalMarkTypeCode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип проставленной технологической отметки (1-внешняя, информация по которой может быть передана во внешнюю АИС, 2-внутренняя, информация которой доступна только в рамках ЕАИС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RecordSerialNumber" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Порядковый номер записи по идентификатору проставленной технологической отметки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SolutionNumber" type="catESAD_ru:SolutionNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер решения</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinConsigmentType">
      <xs:annotation>
         <xs:documentation>Сведения о перевозке товаров гр. 15, 15а, 17,17а, 18, 19, 21, 25, 26, 29, 53, </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:CUConsigmentType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DigitDispatchCountryCode" type="clt_ru:CountryN3CodeType">
                  <xs:annotation>
                     <xs:documentation>Страна отправления (цифровой код).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DigitDestinationCountryCode" type="clt_ru:CountryN3CodeType">
                  <xs:annotation>
                     <xs:documentation>Страна назначения  (цифровой код)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KTDinDepartureArrivalTransport" type="KTDin:KTDinDepartureArrivalTransportType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Транспортные средства при прибытии/убытии. Гр. 18, 26 ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KTDinBorderTransportMeans" type="KTDin:KTDinBorderTransportType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Транспортные средства на границе. Гр. 21, 25 ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinConsigneeType">
      <xs:annotation>
         <xs:documentation>Сведения о получателе товаров</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_ru:ESADOrganizationInType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ContractorIndicator" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ; 2 - РАЗНЫЕ ПО СПИСКУ.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Contact" type="cat_ru:ContactType">
                  <xs:annotation>
                     <xs:documentation>Контактная информация</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinConsignorType">
      <xs:annotation>
         <xs:documentation>Сведения об отправителе товаров</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_ru:ESADOrganizationInType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ContractorIndicator" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Особенность указанных сведений:1-КОНТРАГЕНТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Contact" type="cat_ru:ContactType">
                  <xs:annotation>
                     <xs:documentation>Контактная информация</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinDeclarantType">
      <xs:annotation>
         <xs:documentation>Сведения о декларанте/представителе.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_ru:ESADOrganizationInType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Contact" type="cat_ru:ContactType">
                  <xs:annotation>
                     <xs:documentation>Контактная информация</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinDepartureArrivalTransportType">
      <xs:annotation>
         <xs:documentation>Транспортные средства при прибытии/убытии. Гр. 18, 26 КДТ</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUTransportMeansType">
            <xs:sequence>
               <xs:element minOccurs="0" name="TransportMeansQuantity" type="clt_ru:Count5Type">
                  <xs:annotation>
                     <xs:documentation>Количество транспортных средств</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="MethodTransport" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Способ транспортировки товаров при перемещении по линиям электропередачи или трубопроводным транспортом : 1- газопровод, 2 -нефтепровод, 3- нефтепродуктопровод, 4- линия электропередачи.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="NameObject" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Наименование объекта, на котором установлены приборы учета товаров, перемещаемых по линиям электропередачи или трубопроводным транспортом.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="TransportMeans" type="cat_ru:TransportMeansBaseType">
                  <xs:annotation>
                     <xs:documentation>Описание транспортного средства</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinFinancialAdjustingResponsiblePersonType">
      <xs:annotation>
         <xs:documentation>Лицо ответственное за финансовое урегулирование.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_ru:ESADOrganizationInType">
            <xs:sequence>
               <xs:element minOccurs="0" name="EntityForm" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Организационно-правовая форма</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обособленном подразделении.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Contact" type="cat_ru:ContactType">
                  <xs:annotation>
                     <xs:documentation>Контактная информация</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinGoodsLocationType">
      <xs:annotation>
         <xs:documentation>Местонахождение товаров. Гр. 30</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ITN" type="clt_ru:ITNType">
            <xs:annotation>
               <xs:documentation>ИТН субъекта ВЭД</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InformationTypeCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код места нахождения товаров в соответствии c Классификатором мест нахождения товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsOffice" type="clt_ru:CustomsCodeType">
            <xs:annotation>
               <xs:documentation>Код таможенного органа в соответствии с Классификаторами таможенных органов, применяемыми в государствах - членах Таможенного союза</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код страны таможенного органа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="LocationName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Наименование железнодорожной станции/морского (речного) порта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Transport" type="catESAD_cu:CUTransportType">
            <xs:annotation>
               <xs:documentation>Сведения о местонахождении товаров - транспортное средство</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsLocationWarehouse" type="KTDin:CUWarehousePlaceType">
            <xs:annotation>
               <xs:documentation>Сведения о местонахождении товаров: разрешение таможенного органа на временное хранение товаров, склад временного хранения, таможенный склад, свободный склад, магазин беспошлинной торговли, помещение, открытые площадки и иные территории уполномоченного экономического оператора, склад хранения собственных товаров, склад получателя товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsLocationPlace" type="catESAD_cu:CUGoodsLocationPlaceType">
            <xs:annotation>
               <xs:documentation>Сведения о местонахождении товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
            <xs:annotation>
               <xs:documentation>Адрес местонахождения товаров</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="KTDinGoodsOfficialMarkType">
      <xs:annotation>
         <xs:documentation>Служебные отметки по товару</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:ESADGoodsOfficialMarkType">
            <xs:sequence>
               <xs:element name="TechnologicalMarkTypeCode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип проставленной технологической отметки (1-внешняя, информация по которой может быть передана во внешнюю АИС, 2-внутренняя, информация которой доступна только в рамках ЕАИС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RecordNumber" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Порядковый номер записи по идентификатору проставленной технологической отметки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Code" type="clt_ru:CodeVariable3Type">
                  <xs:annotation>
                     <xs:documentation>Код основания продления срока выпуска товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SolutionNumber" type="catESAD_ru:SolutionNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер решения</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinGoodsShipmentType">
      <xs:annotation>
         <xs:documentation>Сведения о товарной партии.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:CUESADGoodsShipmentType">
            <xs:sequence>
               <xs:element minOccurs="0" name="PreviousTotalCustomsAmount" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Предыдущее значение общей таможенной стоимости</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KTDinConsignor" type="KTDin:KTDinConsignorType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Сведения об отправителе товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KTDinConsignee" type="KTDin:KTDinConsigneeType">
                  <xs:annotation>
                     <xs:documentation>КТД. Внутренний формат. Сведения о получателе товаров.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KTDinFinancialAdjustingResponsiblePerson" type="KTDin:KTDinFinancialAdjustingResponsiblePersonType">
                  <xs:annotation>
                     <xs:documentation>КТД. Внутренний формат. Лицо ответственное за финансовое урегулирование.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KTDinDeclarant" type="KTDin:KTDinDeclarantType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Сведения о декларанте товаров.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="KTDinGoodsLocation" type="KTDin:KTDinGoodsLocationType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Местонахождение товаров. Гр. 30</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KTDinMainContractTerms" type="KTDin:KTDinMainContractTermsType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Условия сделки. Гр. 11, 20, 22, 23,  24</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KTDinConsigment" type="KTDin:KTDinConsigmentType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Сведения о перевозке товаров гр. 15, 15а, 17,17а, 18, 19, 21, 25, 26, 29, 53.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="KTDinGoods" type="KTDin:KTDinGoodsType">
                  <xs:annotation>
                     <xs:documentation>Товарная часть КДТ. Гр. 31-47</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Guarantee" type="catESAD_cu:CUGuaranteeType">
                  <xs:annotation>
                     <xs:documentation>Гарантия.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KDTinPayments" type="KTDin:KTDinPaymentsType">
                  <xs:annotation>
                     <xs:documentation>Сведения об уплачиваемых платежах, платежных поручениях, отсрочке платежей. Гр. 48, В.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinGoodsType">
      <xs:annotation>
         <xs:documentation>Товарная часть КДТ. Гр. 31-47</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:CUESADGoodsItemType">
            <xs:sequence>
               <xs:element minOccurs="0" name="OriginDigitCountryCode" type="clt_ru:CountryN3CodeType">
                  <xs:annotation>
                     <xs:documentation>Цифровой код страны происхождения.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DestinationDigitCountryCode" type="clt_ru:CountryN3CodeType">
                  <xs:annotation>
                     <xs:documentation>Цифровой код страны назначения.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsCostMethodCode" type="cltESAD_cu:CustomsCostAppraiseMethodType">
                  <xs:annotation>
                     <xs:documentation>Номер метода определения таможенной стоимости  Заполняется в соответствии с классификатором методов определения таможенной стоимости товаров, помещаемых под таможенные режимы, применимые к ввозимым товарам</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LanguageGoods" type="clt_ru:LanguageCodeType">
                  <xs:annotation>
                     <xs:documentation>Код языка  описания товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PreviousCustomsCost" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Предыдущее значение таможенной стоимости, гр.45 второй подраздел</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KDTGoodsNumeric" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Порядковый номер товара по КДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="KTDinPresentedDocument" type="KTDin:KTDinPresentedDocumentType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Представленные документы гр. 44</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="KTDinPrecedingDocument" type="KTDin:KTDinPrecedingDocumentType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Предшествующие документы.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="KTDinCustomsPaymentCalculation" type="catESAD_cu:CUCustomsPaymentCalculationType">
                  <xs:annotation>
                     <xs:documentation>КТД. Внутренний формат. Исчисление таможенных платежей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="KTDinAutomobile" type="catESAD_cu:AutomobileType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Сведения  об автомобилях. Гр. 31</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="KTDinGoodsOfficialMark" type="KTDin:KTDinGoodsOfficialMarkType">
                  <xs:annotation>
                     <xs:documentation>КДТ. Внутренний формат. Служебные отметки по товару.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ESADExcise" type="catESAD_cu:ESADExciseType">
                  <xs:annotation>
                     <xs:documentation>Сведения об акцизных марках</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KDTinCustomsConditions" type="catESAD_cu:ProcessingGoodsDeclarationType">
                  <xs:annotation>
                     <xs:documentation>Сведения, указываемые в случае, если ДТ используется в качестве заявления на получение разрешения на переработку товаровэлемент 6 гр 31, гр 44</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KDTinGoodsOrganization" type="KTDin:KDTinGoodsOrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения об организации в товарной части ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADGoodsPackaging" type="catESAD_cu:ESADGoodsPackagingType">
                  <xs:annotation>
                     <xs:documentation>Сведения о грузовых местах, поддонах и упаковке товаров.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADGoodsQuota" type="catESAD_cu:ESADGoodsQuotaType">
                  <xs:annotation>
                     <xs:documentation>Квота.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ESADContainer" type="catESAD_cu:ESADContainerType">
                  <xs:annotation>
                     <xs:documentation>Сведения о контейнерах.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="KTDinCustomsProcedure" type="catESAD_cu:ESADCustomsProcedureType">
                  <xs:annotation>
                     <xs:documentation>Процедура.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ElectricalEnergReceived" type="catESAD_cu:CU_ElectricalEnergyType">
                  <xs:annotation>
                     <xs:documentation>Сведения о количестве принятой электроэнергии за отчетный период. элемент 9 Гр 31</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ElectricalEnergGiven" type="catESAD_cu:CU_ElectricalEnergyType">
                  <xs:annotation>
                     <xs:documentation>Сведения о количестве переданной электроэнергии за отчетный период. элемент 9 Гр 31</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="3" minOccurs="0" name="SupplementaryGoodsQuantity1" type="cat_ru:SupplementaryQuantityType">
                  <xs:annotation>
                     <xs:documentation>Количество товара в единице измерения, отличной от основной и дополнительной элемент 1 Гр.31</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SupplementaryGoodsQuantity" type="cat_ru:SupplementaryQuantityType">
                  <xs:annotation>
                     <xs:documentation>Количество товара в дополнительной единице измерения.  Гр.41</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ChangeCode" type="KTDin:ChangeCodeType">
                  <xs:annotation>
                     <xs:documentation>Код изменений гр 45а при наличии изменений и (или) дополнении сведений в отношении товара</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinMainContractTermsType">
      <xs:annotation>
         <xs:documentation>Условия сделки КДТ.Гр. 11, 20, 22, 23,  24</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:CUESADMainContractTermsType">
            <xs:sequence>
               <xs:element minOccurs="0" name="TradeDigitCountryCode" type="clt_ru:CountryN3CodeType">
                  <xs:annotation>
                     <xs:documentation>Цифровой код торгующей страны</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ContractDigitCurrencyCode" type="clt_ru:CurrencyN3CodeType">
                  <xs:annotation>
                     <xs:documentation>Цифровой код валюты цены договора.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinPaymentsType">
      <xs:annotation>
         <xs:documentation>Сведения об уплачиваемых платежах, платежных поручениях, отсрочке платежей. Гр. 48, В.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="CUDelayPayments" type="catESAD_cu:CUDelayPaymentsType">
            <xs:annotation>
               <xs:documentation>Отсрочка платежей гр.48</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="KDTinCustomsPayment" type="KTDin:KDTSectionBCustomsPaymentType">
            <xs:annotation>
               <xs:documentation>Уплата таможенных платежей. Гр. В</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="KTDinPrecedingDocumentType">
      <xs:annotation>
         <xs:documentation>Предшествующие документы</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:CUPrecedingDocumentType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="KTDinPresentedDocumentType">
      <xs:annotation>
         <xs:documentation>Представленные документы гр. 44.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catESAD_cu:CUESADPresentedDocumentsType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PaymentDocumentType">
      <xs:annotation>
         <xs:documentation>Платежный документ</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="PaymentDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата уплаты</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PaymentWayCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Способ уплаты в соответствии с классификатором способов уплаты таможенных и иных платежей, взимание которых возложено на таможенные органы</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DocPaymentAmount" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Сумма уплаты или возврата денежных средств</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice minOccurs="0">
                  <xs:element name="RFOrganizationFeatures" type="cat_ru:RFOrganizationFeaturesType">
                     <xs:annotation>
                        <xs:documentation>Сведения об организации. Особенности Российской Федерации</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="RKOrganizationFeatures" type="cat_ru:RKOrganizationFeaturesType">
                     <xs:annotation>
                        <xs:documentation>Сведения об организации. Особенности Республики Казахстан</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="RBOrganizationFeatures" type="cat_ru:RBOrganizationFeaturesType">
                     <xs:annotation>
                        <xs:documentation>Сведения об организации. Особенности Республики Беларусь</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
