Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/MPO_Declaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:mpod="urn:customs.ru:Information:CustomsDocuments:MPO_Declaration:5.4.5" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:customs.ru:Information:CustomsDocuments:MPO_Declaration:5.4.5" elementFormDefault="qualified" version="5.4.5.0">
	<xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
	<xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
	<xs:annotation>
		<xs:documentation>Таможенная декларация товаров, пересылаемых в МПО</xs:documentation>
	</xs:annotation>
	<xs:element name="MPO_Declaration" type="mpod:MPO_DeclarationType"/>
	<xs:complexType name="MPO_DeclarationType">
		<xs:annotation>
			<xs:documentation>Таможенная декларация товаров, пересылаемых в МПО</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:BaseDocType">
				<xs:sequence>
					<xs:element name="FeedBillAgency" type="clt_ru:NameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Учреждение  подачи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FeedBillDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата подачи</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MPO_Number" type="clt_ru:Code13Type">
						<xs:annotation>
							<xs:documentation>Номер МПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocSign" type="clt_ru:DigitalIndicatorType">
						<xs:annotation>
							<xs:documentation>Тип информации: 0 - основная, 1-предварительная</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PI_RegID" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Регистрационный номер предварительной информации об МПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ConsignmentCategory" type="clt_ru:CodeVariable3Type" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Категория отправления в соответствии с классификатором</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Explication" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Пояснение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PostalFees" type="clt_ru:AmountType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сумма почтовых сборов/расходов</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalCost" type="clt_ru:AmountType">
						<xs:annotation>
							<xs:documentation>Общая стоимость товаров</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код валюты</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DepartureCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Страна отправления товара</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DestinationCountry" type="clt_ru:CountryA2CodeType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Страна назначения товара</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalGrossWeight" type="clt_ru:QuantityBasisType">
						<xs:annotation>
							<xs:documentation>Общий вес товара, брутто (кг)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MPOFactWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Фактический вес МПО (кг)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Comment" type="clt_ru:FreeText250Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Примечания</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DesignatedOperator" type="clt_ru:NameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Назначенный оператор</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MMPOName" type="clt_ru:NameType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Наименование ММПО</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignee" type="mpod:ConsigneeType">
						<xs:annotation>
							<xs:documentation>Получатель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Importer" type="mpod:ImporterType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Импортер</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Consignor" type="mpod:ConsignorType">
						<xs:annotation>
							<xs:documentation>Отправитель</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentInfo" type="mpod:DocumentInfoType" minOccurs="0" maxOccurs="9">
						<xs:annotation>
							<xs:documentation>Сведения о документе</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Goods" type="mpod:GoodsType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Сведения о товарах</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Information" type="mpod:InformationType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительная информация</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required" fixed="1006177E">
					<xs:annotation>
						<xs:documentation>Идентификатор вида документа</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Локальные прикладные типы</xs:documentation>
	</xs:annotation>
	<xs:complexType name="ConsigneeType">
		<xs:annotation>
			<xs:documentation>Получатель</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUOrganizationType">
				<xs:sequence>
					<xs:element name="CardNumber" type="clt_ru:DocumentIDType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер универсальной электронной карты</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConsignorType">
		<xs:annotation>
			<xs:documentation>Сведения об отправителе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:CUOrganizationType">
				<xs:sequence>
					<xs:element name="IssueDate" type="clt_ru:DateCustType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дата подписания</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocumentInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о документе</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:DocumentBaseType">
				<xs:sequence>
					<xs:element name="DocumentCode" type="clt_ru:CodeVariable3Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Код документа (EDIFACT и UPU)</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GoodsType">
		<xs:annotation>
			<xs:documentation>Сведения о товарах</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ListNumeric" type="clt_ru:Count3Type">
				<xs:annotation>
					<xs:documentation>Номер товара по порядку</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodDescription" type="clt_ru:FreeText250Type" maxOccurs="4">
				<xs:annotation>
					<xs:documentation>Наименование товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара, нетто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrossWeight" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Вес товара, брутто (кг)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код товара по ТН ВЭД</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cost" type="clt_ru:AmountType">
				<xs:annotation>
					<xs:documentation>Стоимость товара</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
				<xs:annotation>
					<xs:documentation>Код валюты</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginCountryCode" type="clt_ru:CountryA2CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Код страны происхождения по классификатору стран мира</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodsQuantity" type="cat_ru:SupplementaryQuantityType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Количество товара</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImporterType">
		<xs:annotation>
			<xs:documentation>Импортер</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cat_ru:OrganizationType">
				<xs:sequence>
					<xs:element name="ImporterIndex" type="clt_ru:Text50Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Индекс импортера</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="VAT_Number" type="clt_ru:CodeVariable18Type" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер НДС</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InformationType">
		<xs:annotation>
			<xs:documentation>Дополнительная информация</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="WeightDifference" type="clt_ru:QuantityBasisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Разница в весе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackingState" type="mpod:PackingStateType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сведения о целостности упаковки</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PackingStateType">
		<xs:annotation>
			<xs:documentation>Сведения о целостности упаковки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Value" type="clt_ru:IndicatorType">
				<xs:annotation>
					<xs:documentation>Значение: 0 или false - нарушена, 1 или true - целостна</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Remark" type="clt_ru:FreeText250Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Пояснение</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
