Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/PermitCustProcessing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TreatmentDocuments:PermitCustProcessing:5.4.0" version="5.4.0.0" xmlns:catTreat_ru="urn:customs.ru:Information:TreatmentDocuments:TreatmentCommonAggregateTypes:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:percp="urn:customs.ru:Information:TreatmentDocuments:PermitCustProcessing:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:Information:TreatmentDocuments:TreatmentCommonAggregateTypes:5.4.0" schemaLocation="TreatmentCommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Разрешение на переработку товаров на таможенной территории</xs:documentation>
   </xs:annotation>
   <xs:element name="PermitCustProcessing" type="percp:PermitCustProcessingType"/>
   <xs:complexType name="PermitCustProcessingType">
      <xs:annotation>
         <xs:documentation>Разрешение на переработку товаров на таможенной территории</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="PermitNumber" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер разрешения на переработку на таможенной территории</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SendDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата направления</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Comments" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Особые отметки таможни</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BasicPermitNumber" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер основного разрешения на переработку на таможенной территории (в случае подачи дополнения к разрешению)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TreatmentProcedureCode" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Код режима переработки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PermitPeriodDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата действия разрешения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SupplyStatus" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Опережающая поставка продуктов переработки.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="CustProcedureWaste" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Отходы подлежат помещению под таможенную процедуру</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Customs" type="cat_ru:CustomsType">
                  <xs:annotation>
                     <xs:documentation>Таможенный орган</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
                  <xs:annotation>
                     <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PermitProperties" type="percp:PermitPropertiesType">
                  <xs:annotation>
                     <xs:documentation>Реквизиты разрешения таможни на передачу разрешения на переработку иному лицу</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Declarant" type="catTreat_ru:TreatmentOrganizationType">
                  <xs:annotation>
                     <xs:documentation>Организация, получившая разрешение на переработку</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Treatment" type="catTreat_ru:TreatmentType">
                  <xs:annotation>
                     <xs:documentation>Описание переработки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GoodsInCustoms" type="cat_ru:CustomsType">
                  <xs:annotation>
                     <xs:documentation>Таможня ввоза товаров для переработки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GoodsOutCustoms" type="cat_ru:CustomsType">
                  <xs:annotation>
                     <xs:documentation>Таможня вывоза  готовой продукции</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="Contract" type="catTreat_ru:BaseTreatmentDocsType">
                  <xs:annotation>
                     <xs:documentation>Контракт или иной документ на переработку</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DecisionTransfer" type="percp:DecisionTransferType">
                  <xs:annotation>
                     <xs:documentation>Решение о передаче  разрешения на переработку товаров.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1007011E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="DecisionTransferType">
      <xs:annotation>
         <xs:documentation>Решение о передаче  разрешения на переработку товаров.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="NumberDecision" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Номер решения о передаче</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DateDecision" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OrganizationInfType">
      <xs:annotation>
         <xs:documentation>Информация об организации-переработчике</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catTreat_ru:TreatmentOrganizationType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="PermitPropertiesType">
      <xs:annotation>
         <xs:documentation>Разрешение таможни на передачу разрешения на переработку иному лицу</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catTreat_ru:TreatmentOrganizationType">
            <xs:sequence>
               <xs:element name="PermitNumber" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер разрешения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Date" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата разрешения</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TreatmentInfType">
      <xs:annotation>
         <xs:documentation>Переработка</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="YieldNorm" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Нормы выхода</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="IdentificationMethod" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Способы идентификации товаров в продуктах переработки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DateLimit" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Срок переработки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="ProcessProductionDes" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Краткое описание производственного процесса</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="SpecialCustomMarks" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Специальные отметки таможни</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="BaseTreatmentDocs" type="catTreat_ru:BaseTreatmentDocsType">
            <xs:annotation>
               <xs:documentation>Контракт или иные документы, в соответствии с которыми вывозятся на переработку товары</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="TreatmentOrganization" type="percp:OrganizationInfType">
            <xs:annotation>
               <xs:documentation>Описание организации-переработчика</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TreatmentOperations" type="catTreat_ru:TreatmentOperationsType">
            <xs:annotation>
               <xs:documentation>Операции по переработке товаров и способы их совершения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
