Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/RailwayBill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TransportDocuments:Railway:RailwayBill:5.4.3" version="5.4.3.0" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.4.3" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.4.3" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:rwb="urn:customs.ru:Information:TransportDocuments:Railway:RailwayBill:5.4.3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.4.3" schemaLocation="TransportCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.4.3" schemaLocation="TransportCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Международная железнодорожная накладная по форме СМГС</xs:documentation>
   </xs:annotation>
   <xs:element name="RailwayBill" type="rwb:RailwayBillType"/>
   <xs:complexType name="RailwayBillType">
      <xs:annotation>
         <xs:documentation>Международная железнодорожная накладная по форме СМГС </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="Number" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер СМГС</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ConsignorNotice" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Особые заявления отправителя</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ConsignorOptionNotice" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Отметки отправителя, необязательные для железной дороги</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PlacesQuantity" type="clt_ru:Quantity11Type">
                  <xs:annotation>
                     <xs:documentation>Общее количество грузовых мест отправки товаров накладной.  В случае транспортировке "Навалом" или "Налив"  не заполняется.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
                  <xs:annotation>
                     <xs:documentation>Общий вес товаров, определенный отправителем, брутто (кг)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DepartureModeDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание рода отправки </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LoaderModeDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание кем погружено</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AdditionalSheetQuantity" type="clt_ru:Count5Type">
                  <xs:annotation>
                     <xs:documentation>Количество приложенных дополнительных листов к накладной</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CargoValue" type="clt_ru:AmountType">
                  <xs:annotation>
                     <xs:documentation>Объявленная ценность груза, руб.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsNotice" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Отметки таможенных органов</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="WeightDefinitionModeDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Cпособ определения веса</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RegistrationDocument" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Информация о регистрации СМГС (графа 25 СМГС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Consignor" type="rwb:RBOrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения о грузоотправителе (графа 1 СМГС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Consignee" type="rwb:RBOrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения о грузополучателе (Графа 5 СМГС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DepartureStation" type="rwb:StationType">
                  <xs:annotation>
                     <xs:documentation>Ж/д станция и дорога отправления (графа 3 СМГС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DestinationStation" type="rwb:RailwayType">
                  <xs:annotation>
                     <xs:documentation>Ж/д станция и дорога назначения (графа 8 СМГС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="BorderStation" type="rwb:StationType">
                  <xs:annotation>
                     <xs:documentation>Пограничные ж/д станция и дорога назначения (графа 7 СМГС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Contract" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Реквизиты договора на поставку, заключенного между экспортером и импортером</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="RWBGoods" type="rwb:RWBGoodsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о товарах накладной</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ExchangePallet" type="rwb:ExchangePalletType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обменных поддонах (графа 17 СМГС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="WorkTool" type="rwb:WorkToolType">
                  <xs:annotation>
                     <xs:documentation>Описание перевозочных приспособлений</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Container" type="rwb:ContainerType">
                  <xs:annotation>
                     <xs:documentation>Сведения о контейнере</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ConsignorDocument" type="rwb:RWDocumentType">
                  <xs:annotation>
                     <xs:documentation>Документы, приложенные отправителем (графа 23 СМГС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Carriage" type="rwb:CarriageType">
                  <xs:annotation>
                     <xs:documentation>Данные об используемых вагонах </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Seal" type="rwb:SealType">
                  <xs:annotation>
                     <xs:documentation>Количество и знаки пломб,  наложенных на вагон или контейнер (графа 45 СМГС)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PaidRailwayCodeName" type="rwb:PaidRailwayCodeNameType">
                  <xs:annotation>
                     <xs:documentation>Наименования и коды транзитных железнодорожных дорог, за перевозку по которым отправитель принимает на себя платежи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Mark" type="rwb:MarkType">
                  <xs:annotation>
                     <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1003401E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CarriageType">
      <xs:annotation>
         <xs:documentation>Данные об используемых вагонах </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CarriageID" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
               <xs:documentation>Номер вагона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Power" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Подъемная сила вагона в тоннах</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AxisQuantity" type="clt_ru:Quantity11Type">
            <xs:annotation>
               <xs:documentation>Количество осей вагона</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Tare" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес тары в кг.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsWeight" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес груза после перегрузки</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ContainerType">
      <xs:annotation>
         <xs:documentation>Сведения о контейнере</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="RailwayCode" type="cltTrans_ru:RailwayCodeType">
            <xs:annotation>
               <xs:documentation>Код железнодорожной дороги - владельца контейнера. Не указывается, если контейнер не принадлежит железным дорогам</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ContainerID" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
               <xs:documentation>Номер контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ContainerModeDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание вида контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ContainerCapacity" type="clt_ru:Quantity11Type">
            <xs:annotation>
               <xs:documentation>Емкость контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ContainerCapacityUnitQualifierCode" type="clt_ru:MeasureUnitQualifierNameType">
            <xs:annotation>
               <xs:documentation>Название единицы измерения емкости контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DTInfoType">
      <xs:annotation>
         <xs:documentation>Сведения из декларации на товары</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsNumeric" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Номер товара по ДТ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DTNumber" type="cat_ru:GTDIDType">
            <xs:annotation>
               <xs:documentation>Регистрационный номер декларации на товары</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ExchangePalletType">
      <xs:annotation>
         <xs:documentation>Сведения об обменных поддонах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="FlatPalletQuantity" type="clt_ru:Quantity11Type">
            <xs:annotation>
               <xs:documentation>Количество плоских поддонов </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BoxPalletQuantity" type="clt_ru:Quantity11Type">
            <xs:annotation>
               <xs:documentation>Количество поддонов ящичного типа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ExchangeMode" type="cltTrans_ru:ExchangeModeCodeType">
            <xs:annotation>
               <xs:documentation>Код режим обмена поддонов. </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InfoPayerType">
      <xs:annotation>
         <xs:documentation>Сведения о плательщике</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PayerName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование плательщика</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PayerCode" type="clt_ru:Code2Type">
            <xs:annotation>
               <xs:documentation>Код плательщика</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MarkType">
      <xs:annotation>
         <xs:documentation>Отметки о прохождении товарами таможенного и иных видов государственного контроля.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MarkSing" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак наличия отметки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="MarkKind" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Тип отметки</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ResultControl" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Результат прохождения контроля</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PaidRailwayCodeNameType">
      <xs:annotation>
         <xs:documentation>Наименования и коды транзитных железнодорожных дорог, за перевозку по которым отправитель принимает на себя платежи </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="PaidRailwayCode" type="cltTrans_ru:RailwayCodeType">
            <xs:annotation>
               <xs:documentation>Коды транзитных железнодорожных дорог</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PaidRailwayName" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Наименования транзитных железнодорожных дорог</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PaidRailwayShortName" type="clt_ru:ShortNameType">
            <xs:annotation>
               <xs:documentation>Сокращенное наименование транзитных железнодорожных дорог</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InfoPayer" type="rwb:InfoPayerType">
            <xs:annotation>
               <xs:documentation>Сведения о плательщике</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RBOrganizationType">
      <xs:annotation>
         <xs:documentation>Сведения о грузополучателе/грузоотправителе </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="RBCode" type="clt_ru:Code4Type">
                  <xs:annotation>
                     <xs:documentation>Код грузополучателя/грузоотправителя</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RWBGoodsType">
      <xs:annotation>
         <xs:documentation>Сведения о товарах накладной</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catTrans_ru:TransportGoodsType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ContainerIndicator" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Отметка перевозки грузов в контейнерах </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="WorkToolDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>В случае осуществления перевозки с применением перевозочных приспособлений указывается наименование применяемых перевозочных приспособлений</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ConductorDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Заполняется при перевозках грузов с проводниками. Указываются сведения о проводниках и в соответствующих случаях — название пограничной станции, на которой производится замена проводников. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PlaceGoodsQuantity" type="clt_ru:QuantityBasisType">
                  <xs:annotation>
                     <xs:documentation>Количество товара в грузовом месте</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PlacesQuantity" type="clt_ru:QuantityBasisType">
                  <xs:annotation>
                     <xs:documentation>Общее количество грузовых мест товара, если "навал" или налив" то не заполняется</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GrossWeightQuantity" type="clt_ru:QuantityBasisType">
                  <xs:annotation>
                     <xs:documentation>Вес товара определенный отправителем, брутто (кг)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PlacesDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание грузовых мест (коробок, упаковок, паллет и т.д.)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="HarmonizedRangeGoods" type="clt_ru:Count8Type">
                  <xs:annotation>
                     <xs:documentation>Код товара по ГНГ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Packing" type="clt_ru:Text50Type">
                  <xs:annotation>
                     <xs:documentation>Упаковка</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Marking" type="clt_ru:Text50Type">
                  <xs:annotation>
                     <xs:documentation>Маркировка</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CarriageNumber" type="clt_ru:TransportMeansIDType">
                  <xs:annotation>
                     <xs:documentation>Номер вагона</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ContainerNumber" type="clt_ru:TransportMeansIDType">
                  <xs:annotation>
                     <xs:documentation>Номер контейнера</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DTInfo" type="rwb:DTInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения из декларации на товары</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RWDocumentType">
      <xs:annotation>
         <xs:documentation>Документы, приложенные отправителем</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catTrans_ru:DocumentType">
            <xs:sequence>
               <xs:element minOccurs="0" name="ExpirationDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата окончания действия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ReleaseCustoms" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Таможенный орган выдавший документ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RailwayType">
      <xs:annotation>
         <xs:documentation>Сведения о железной дороге</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="RailwayCode" type="cltTrans_ru:RailwayCodeType">
            <xs:annotation>
               <xs:documentation>Код железнодорожной дороги </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="StationCode" type="clt_ru:Count10Type">
            <xs:annotation>
               <xs:documentation>Код железнодорожной станции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RailwayAndStationName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование дороги и станции назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SealType">
      <xs:annotation>
         <xs:documentation>Количество и знаки пломб,  наложенных на вагон или контейнер</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="SealID" type="cltTrans_ru:SealIDType">
            <xs:annotation>
               <xs:documentation>Номер пломбы</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SealQuantity" type="clt_ru:Quantity11Type">
            <xs:annotation>
               <xs:documentation>Количество пломб,  наложенных на вагон или контейнер</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IdentKind" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Вид средств идентификации: 1 - пломба, 2 - печать, 3 - иное</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="IdentDesc" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Примечание по средству идентификации</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="StationType">
      <xs:annotation>
         <xs:documentation>Сведения о железнодорожной станции и дороги</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="StationCode" type="clt_ru:RailwayStationCodeType">
            <xs:annotation>
               <xs:documentation>Код железнодорожной станции, указывается при перевозке  грузов из/в КНДР </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="StationName" type="clt_ru:PlaceNameType">
            <xs:annotation>
               <xs:documentation>Тарифное наименование станции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RailwayCode" type="cltTrans_ru:RailwayCodeType">
            <xs:annotation>
               <xs:documentation>Код железнодорожной дороги </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="WorkToolType">
      <xs:annotation>
         <xs:documentation>Описание перевозочных приспособлений</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="RailwayCode" type="cltTrans_ru:RailwayCodeType">
            <xs:annotation>
               <xs:documentation>Код железнодорожной дороги - владельца перевозочного приспособления. Не указывается, если приспособление не принадлежит железным дорогам</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="WorkToolID" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
               <xs:documentation>Знак и номер перевозочного приспособления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ContainerModeDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание вида контейнера</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
