Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/Result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:ExchangeDocuments:Result:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltExch_ru="urn:customs.ru:Information:ExchangeDocuments:ExchangeCommonLeafTypes:5.0.8" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:rslt="urn:customs.ru:Information:ExchangeDocuments:Result:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:ExchangeDocuments:ExchangeCommonLeafTypes:5.0.8" schemaLocation="ExchangeCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Результат обработки сообщения / выполнения операции.</xs:documentation>
   </xs:annotation>
   <xs:element name="Result" type="rslt:ResultType"/>
   <xs:complexType name="ResultType">
      <xs:annotation>
         <xs:documentation>Уведомление о результате проверки / обработке сообщения</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" name="Response" type="rslt:ResponseType">
                  <xs:annotation>
                     <xs:documentation>Результат выполнения операции</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1004054E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="DocumentResultType">
      <xs:annotation>
         <xs:documentation>Результат обработки документа</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ResultCode" type="cltExch_ru:ResultCodeType">
            <xs:annotation>
               <xs:documentation>Код обработки сообщения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор документа - результата обработки.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EADInfoType">
      <xs:annotation>
         <xs:documentation>Информация о документах в архиве декларанта</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ArchDeclID" type="clt_ru:ArchiveDeclarantIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор декларанта а ЭАД</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ArchID" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Идентификатор архива</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ArchDocID" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Идентификатор документа в архиве декларанта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ArchDocStatus" type="clt_ru:ArchStatusCodeType">
            <xs:annotation>
               <xs:documentation>Статус документа в архиве.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EventListType">
      <xs:annotation>
         <xs:documentation>Информация о событиях / сообщениях</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MessageCode" type="cltExch_ru:MessageCodeType">
            <xs:annotation>
               <xs:documentation>Код сообщения согласно спецификации обмена.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MessageDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание сообщения (справочник сообщений).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ProcState" type="clt_ru:ArchStatusCodeType">
            <xs:annotation>
               <xs:documentation>Статус процесса после обработки сообщения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RecvDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата и время приема сообщения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SendDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата/время отправки сообщения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DocumentCode" type="clt_ru:DocumentModeIDType">
            <xs:annotation>
               <xs:documentation>Код вида документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DocumentDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание вида документа (справочник)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MessageID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор обработанного сообщения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MsgInitialEnvelopeID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Ссылочный идентификатор сообщения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MsgPreparationDateTime" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата/время  создания сообщения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MsgDocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MsgRefDocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Ссылочный идентификатор документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="DocumentResult" type="rslt:DocumentResultType">
            <xs:annotation>
               <xs:documentation>Результат обработки документа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ItemInfoType">
      <xs:annotation>
         <xs:documentation>Описание элемента документа, в котором допущена ошибка</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RefItem" type="cltExch_ru:ReferenceItemType">
            <xs:annotation>
               <xs:documentation>Ссылка на элемент с ошибкой.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RecommendValue" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Рекомендуемое значение.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProcInformationType">
      <xs:annotation>
         <xs:documentation>Информация о процессе для которого запрашивается статус/история</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ProcState" type="clt_ru:ArchStatusCodeType">
            <xs:annotation>
               <xs:documentation>Текущий статус процесса</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ProcessID" type="cltExch_ru:ProcessIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор процесса, для которого запрашивается статус / история</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="StateDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Описание статусного состояния</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="EventList" type="rslt:EventListType">
            <xs:annotation>
               <xs:documentation>Информация о событиях / сообщениях</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ResponseType">
      <xs:annotation>
         <xs:documentation>Элемент, содержащий результат выполнения операции (положительный или отрицательный)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="RefDocumentID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор документа, в котором была допущена ошибка.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CreateDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата создания документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CreateTime" type="clt_ru:TimeCustType">
            <xs:annotation>
               <xs:documentation>Время создания документа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="ResultInformation" type="rslt:ResultInformationType">
            <xs:annotation>
               <xs:documentation>Код возврата при обработке сообщения, результат выполнения операции (запрос к ЭАД, запрос статуса/истории процесса)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ResultInformationType">
      <xs:annotation>
         <xs:documentation>Информация  о  результате обработки документа</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ResultSource" type="cltExch_ru:ResultSourceType">
            <xs:annotation>
               <xs:documentation>Источник ошибки. Код подсистемы, вернувшей ошибку.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ResultCode" type="cltExch_ru:ResultCodeType">
            <xs:annotation>
               <xs:documentation>Код ошибки.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="ResultDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Текстовое описание ошибки.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ResultCategory" type="cltExch_ru:ResultCategoryType">
            <xs:annotation>
               <xs:documentation>Степень критичности ошибки. Код или мнемоническое описание.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RefLineID" type="clt_ru:DocumentIDType">
            <xs:annotation>
               <xs:documentation>Идентификатор строки запроса к электронному архиву</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ItemInfo" type="rslt:ItemInfoType">
            <xs:annotation>
               <xs:documentation>Ссылка на элемент с ошибкой.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="EADInfo" type="rslt:EADInfoType">
            <xs:annotation>
               <xs:documentation>Информация о документах в архиве декларанта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ProcInformation" type="rslt:ProcInformationType">
            <xs:annotation>
               <xs:documentation>Информация о процессе, для которого запрашивается статус/история</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
