Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_5/StaticForm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:StaticForm:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:statf="urn:customs.ru:Information:CustomsDocuments:StaticForm:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Статистическая форма учета перемещения товара</xs:documentation>
   </xs:annotation>
   <xs:element name="StaticForm" type="statf:StaticFormType"/>
   <xs:complexType name="StaticFormType">
      <xs:annotation>
         <xs:documentation>Статистическая форма учета перемещения товара</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="CustomsProcedure" type="clt_ru:CUCustomsProcedureType">
                  <xs:annotation>
                     <xs:documentation>Направление перемещения: ИМ/ЭК</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TransportModeCode" type="clt_ru:TransportModeCodeType">
                  <xs:annotation>
                     <xs:documentation>Код вида транспортного средства на границе в соответствии с классификатором.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ReportingDate" type="clt_ru:MonthYearType">
                  <xs:annotation>
                     <xs:documentation>Отчетный месяц перемещения товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="NSF" type="clt_ru:CodeVariable20Type">
                  <xs:annotation>
                     <xs:documentation>Системный номер статистической формы</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Consignor" type="cat_ru:CUOrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения об отправителе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Consignee" type="cat_ru:CUOrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения о получателе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="FinancialAdjustingResponsiblePerson" type="statf:FinancialAdjustingResponsiblePersonType">
                  <xs:annotation>
                     <xs:documentation>Лицо ответственное за финансовое урегулирование.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TradeCountry" type="statf:CountryInfoType">
                  <xs:annotation>
                     <xs:documentation>Торгующая страна</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DispatchCountry" type="statf:CountryInfoType">
                  <xs:annotation>
                     <xs:documentation>Страна отправления</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DestinationCountry" type="statf:CountryInfoType">
                  <xs:annotation>
                     <xs:documentation>Страна назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Documents" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Документы</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="GoodsInfo" type="statf:GoodsInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о товарах</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ProvidePerson" type="statf:ProvidePersonType">
                  <xs:annotation>
                     <xs:documentation>Сведения о лице, ответственное за предоставление статистической формы (лицо, уполномоченное предоставлять статистическую форму от имени юридического лица)</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006124E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CountryInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о стране</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
               <xs:documentation>Наименование страны</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код страны в соответствии с классификатором</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FinancialAdjustingResponsiblePersonType">
      <xs:annotation>
         <xs:documentation>Лицо ответственное за финансовое урегулирование.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BranchDescription" type="cat_ru:CUBranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обособленном подразделении</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GoodsInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о товарах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CustCostCurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Код валюты цены товара в соответствии с Классификатором валют.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GoodsTNVEDCode" type="clt_ru:CUGoodsNomenclatuerCodeType">
            <xs:annotation>
               <xs:documentation>Код товара по ТН ВЭД ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование (торговое, коммерческое или иное традиционное наименование) товаров.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NetWeightQuantity" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Вес товара, нетто (кг).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="InvoicedCost" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Цена товара.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="StatisticalCostRUB" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Статистическая стоимость (в рублях)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="StatisticalCostUSD" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Статистическая стоимость (в долларах США)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="OriginCountry" type="statf:CountryInfoType">
            <xs:annotation>
               <xs:documentation>Страна происхождения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SupplementaryQuantity" type="cat_ru:SupplementaryQuantityType">
            <xs:annotation>
               <xs:documentation>Количество в дополнительной единице измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProvidePersonType">
      <xs:annotation>
         <xs:documentation>Сведения о лице, ответственное за предоставление статистической формы (лицо, уполномоченное предоставлять статистическую форму от имени юридического лица)</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:PersonBaseType">
            <xs:sequence>
               <xs:element name="ExecutionDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата заполнения документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ContactPhone" type="clt_ru:PhoneNumberType">
                  <xs:annotation>
                     <xs:documentation>Номер телефона (код, номер телефона).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Email" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Адрес электронной почты</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OrganizationName" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Наименование организации заявителя</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Address" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Почтовый адрес</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
