Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_1/ApplicationStore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:ApplicationStore:5.4.0" version="5.4.0.0" xmlns:apps="urn:customs.ru:Information:CustomsDocuments:ApplicationStore:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Заявление на припасы</xs:documentation>
   </xs:annotation>
   <xs:element name="ApplicationStore" type="apps:ApplicationStoreType"/>
   <xs:complexType name="ApplicationStoreType">
      <xs:annotation>
         <xs:documentation>Заявление на припасы</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="DocumentDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата составления документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="MoveDirection" type="cltESAD_ru:CustomsProcedureType">
                  <xs:annotation>
                     <xs:documentation>Направление перемещения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsModeCode" type="cltESAD_cu:CustomsModeCodeType">
                  <xs:annotation>
                     <xs:documentation>Код таможенного режима</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GoalAction" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Цель перемещения припасов: "1" - ввоз, "2" - вывоз, "3" - выгрузка, "4" - передача.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="EthnicityFlag" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Национальная принадлежность припасов: 0 - иностранное; 1 - российское</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Declarant" type="cat_ru:OrganizationBaseType">
                  <xs:annotation>
                     <xs:documentation>Сведения о декларанте</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Carrier" type="cat_ru:OrganizationBaseType">
                  <xs:annotation>
                     <xs:documentation>Сведения о перевозчике</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TransportInfom" type="apps:TransportInformType">
                  <xs:annotation>
                     <xs:documentation>Сведения о транспорте</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="StoreInform" type="apps:StoreInfromType">
                  <xs:annotation>
                     <xs:documentation>Сведения о припасах</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Person" type="cat_ru:PersonBaseType">
                  <xs:annotation>
                     <xs:documentation>Подпись лица составившего заявление.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Comments" type="apps:CommentsType">
                  <xs:annotation>
                     <xs:documentation>Комментарии</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PresentedDoc" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Дополнительные документы</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ConsigneeInfo" type="cat_ru:OrganizationBaseType">
                  <xs:annotation>
                     <xs:documentation>Сведения о лице, которому передаются припасы</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GTDID" type="cat_ru:GTDIDType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер таможенной декларации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegNumer" type="cat_ru:GTDIDType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер заявления</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006029E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CommentsType">
      <xs:annotation>
         <xs:documentation>Комментарии</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="OtherInform" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Иные сведения</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PlaceInformType">
      <xs:annotation>
         <xs:documentation>Сведения о месте назначения</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="PlaceName" type="clt_ru:PlaceNameType">
            <xs:annotation>
               <xs:documentation>Наименование порта/аэропорта/станции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
               <xs:documentation>Страна назначения (название) </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Страна назначения (код)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SoldType">
      <xs:annotation>
         <xs:documentation>Продаваемые припасы</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="TotalCost" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Общая стоимость продаваемых припасов.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Currency" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Валюта </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsTotalCostGoods" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Общая таможенная стоимость</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="SoldGoodsList" type="apps:StrListGoodsType">
            <xs:annotation>
               <xs:documentation>Список продаваемых припасов</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="StoreInfromType">
      <xs:annotation>
         <xs:documentation>Сведения о припасах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="DateMove" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата перемещения припасов</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TimeMove" type="clt_ru:TimeCustType">
            <xs:annotation>
               <xs:documentation>Время перемещения припасов</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="StoreActions" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Предполагаемые действия с припасами</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PlaceMove" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Место перемещения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Operating" type="apps:StrListGoodsType">
            <xs:annotation>
               <xs:documentation>Эксплуатационные припасы</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Sold" type="apps:SoldType">
            <xs:annotation>
               <xs:documentation>Продаваемые припасы</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Consumer" type="apps:StrListGoodsType">
            <xs:annotation>
               <xs:documentation>Потребительские припасы</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="StrListGoodsType">
      <xs:annotation>
         <xs:documentation>Строка списка товаров</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="NameGoods" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование припасов</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NumberGoods" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Количество припасов</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PriceUnit" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Стоимость за единицу товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TotalCostGoods" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Стоимость товара.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Currency" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Валюта </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="UnitName" type="clt_ru:MeasureUnitQualifierNameType">
            <xs:annotation>
               <xs:documentation>Наименование единицы измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="UnitCode" type="clt_ru:MeasureUnitQualifierCodeType">
            <xs:annotation>
               <xs:documentation>Код единицы измерения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsNomenclatureCode" type="clt_ru:GoodsNomenclatureCodeType">
            <xs:annotation>
               <xs:documentation>Код ТН ВЭД ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CustomsCostGoods" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Таможенная стоимость товара</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Norm" type="clt_ru:Count5Type">
            <xs:annotation>
               <xs:documentation>Норма припасов</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TransportInformType">
      <xs:annotation>
         <xs:documentation>Сведения о транспорте</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="apps:TransportMeansType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Place" type="apps:PlaceInformType">
                  <xs:annotation>
                     <xs:documentation>Сведения о месте назначения</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TransportMeansType">
      <xs:annotation>
         <xs:documentation>Сведения о транспортном средстве</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TransportName" type="clt_ru:TransportNameType">
            <xs:annotation>
               <xs:documentation>Название морского судна/бортовой номер воздушного судна/номер поезда.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FlightNumber" type="clt_ru:CodeVariable7Type">
            <xs:annotation>
               <xs:documentation>Номер рейса воздушного судна</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CountryRegTrans" type="clt_ru:CountryNameType">
            <xs:annotation>
               <xs:documentation>Страна  регистрации  транспортного средства</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CodeCountryRegTrans" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код страны, где регистрировано  транспортного средства</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TransportType" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Тип транспортного средства, на котором перемещается товар. "1"- воздушное судно; "2" - морское судно; "3" - ЖД транспорт.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
