Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_1/DTSout_CU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:DTSout_CU:5.4.0" version="5.4.0.0" xmlns:DTSout_CU="urn:customs.ru:Information:CustomsDocuments:DTSout_CU:5.4.0" xmlns:catESAD_cu="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" xmlns:cat_EDTS_cu="urn:customs.ru:CUESADDTSCommonAggregateTypes:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonAggregateTypesCust:5.4.0" schemaLocation="CUESADCommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADDTSCommonAggregateTypes:5.4.0" schemaLocation="CUESADDTSCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Электронная копия ДТС</xs:documentation>
   </xs:annotation>
   <xs:element name="DTSout_CU" type="DTSout_CU:DTSout_CUType"/>
   <xs:complexType name="DTSout_CUType">
      <xs:annotation>
         <xs:documentation>Электронная копия ДТС</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="AdditionalSheetNumber" type="clt_ru:Count3Type">
                  <xs:annotation>
                     <xs:documentation>Количество дополнительных листов</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GTDDocumentID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор ДТ.  Используется для привязки к ДТ при представлении ДТС</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CurrencyDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата применения курса валюты</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
                  <xs:annotation>
                     <xs:documentation>Буквенный код национальной валюты в соответствии с классификатором валют</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CurrencyRate" type="clt_ru:CurrencyRateType">
                  <xs:annotation>
                     <xs:documentation>Курс доллара США к национальной валюте</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ElectronicDocumentSign" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Признак использования ДТС в форме электронного документа. ЭД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CurrencyQuantity" type="clt_ru:Count6Type">
                  <xs:annotation>
                     <xs:documentation>Количество единиц валюты, для которой указан курс для РБ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="FormDTS" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Форма ДТС: 1 - ДТС-1; 2 - ДТС-2</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CustomsCostMethodCode" type="cltESAD_cu:CustomsCostAppraiseMethodType">
                  <xs:annotation>
                     <xs:documentation>Номер метода (заполняется в соответствии с классификатором методов определения таможенной стоимости товаров, помещаемых под таможенные режимы, применяемые к ввозимым и вывозимым товарам. В случае применения разных методов, указывается "*"-разные)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BaseMethodCode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Номер базового метода  (заполняется при определении таможенной стоимости по методам 6)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DTSoutSeller" type="cat_ru:CUOrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения о продавце.гр 1</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DTSoutBuyer" type="cat_ru:CUOrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения о покупателе. Гр 2а</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="DTSInvoiceDocuments" type="cat_EDTS_cu:DTSPresentedDocumentsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о документах. ДТС-1, гр. 4,5.6; ДТС-2, гр. 4,5,8</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DTSBuyerSellerDependence" type="cat_EDTS_cu:DTSBuyerSellerDependenceType">
                  <xs:annotation>
                     <xs:documentation>Взаимосвязь между покупателем и продавцом. ДТС-1, гр.7</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DTSSellingLimitation" type="cat_EDTS_cu:DTSSellingLimitationType">
                  <xs:annotation>
                     <xs:documentation>Ограничения на пользование товарами  и обязательства при продаже товаров. ДТС-1, гр.8</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DTSAdditionalPayments" type="cat_EDTS_cu:DTSAdditionalPaymentsType">
                  <xs:annotation>
                     <xs:documentation>Платежи за использование интеллектуальной собственности и условия передачи части дохода продавцу. ДТС-1,  гр.9</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="DTSout_CUGoodsCustomsCost" type="DTSout_CU:GoodsCustomsCostType">
                  <xs:annotation>
                     <xs:documentation>Составляющие таможенной стоимости по товару</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="GTDNumber" type="cat_ru:GTDIDType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер ДТ. Используется при предоставлении ДТС отдельно от ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DTSout_CUFilledPerson" type="DTSout_CU:DTSout_CUFilledPersonType">
                  <xs:annotation>
                     <xs:documentation>Дата заполнения и лицо, заполнившее ДТС</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DTSoutDeclarant" type="cat_ru:CUOrganizationType">
                  <xs:annotation>
                     <xs:documentation>Сведения о декларанте. Гр 2б</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="DeliveryTerms" type="cat_ru:DeliveryTermsType">
                  <xs:annotation>
                     <xs:documentation>Условия поставки товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ReasonApplyMethod" type="cat_EDTS_cu:ReasonApplyMethodType">
                  <xs:annotation>
                     <xs:documentation>Причина, по которой предшествующие методы определения стоимости не применимы. ДТС-2 гр. 7</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006112E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа (код документа по Альбому форматов)</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="DTSout_CUFilledPersonType">
      <xs:annotation>
         <xs:documentation>Сведения о лице, заполнившем ДТС</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_EDTS_cu:DTSFilledPersonType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="GoodsCustomsCostType">
      <xs:annotation>
         <xs:documentation>Таможенная стоимость по товару</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="SheetNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Номер листа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsSerialNumberRB" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер товара в ДТС для РБ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SheetGoodsSerialNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Порядковый номер товара на листе для РФ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GTDGoodsNumber" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Номер товара по ДТ/списку </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GoodsTNVEDCode" type="clt_ru:Code10Type">
            <xs:annotation>
               <xs:documentation>Код товара по ТН ВЭД ТС</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NationalDeclaredCustomsCost" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Заявленная таможенная стоимость в национальной валюте </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DollarDeclaredCustomsCost" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Заявленная таможенная стоимость в долларах США </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="GoodsAddTNVEDCode" type="clt_ru:CodeVariable4Type">
            <xs:annotation>
               <xs:documentation>Код товара по классификатору дополнительной таможенной информации для РФ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MethodNumberCode" type="cltESAD_cu:CustomsCostAppraiseMethodType">
            <xs:annotation>
               <xs:documentation>Номер метода (Заполняется в соответствии с классификатором методов определения таможенной стоимости товаров, помещаемых под таможенные режимы, применимые к ввозимым товарам.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BaseMethodNumberCode" type="clt_ru:LetterIndicatorType">
            <xs:annotation>
               <xs:documentation>Номер базового метода</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AdditionalData" type="cat_EDTS_cu:AdditionalDataType">
            <xs:annotation>
               <xs:documentation>Дополнительная информация </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="DTSCurrencyPayment" type="cat_EDTS_cu:DTSCurrencyPaymentType">
            <xs:annotation>
               <xs:documentation>Информация  по сумме оплаты в валюте. Гр. (*)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DTS_CUCustomsCostCalculation" type="cat_EDTS_cu:DTS_CUCustomsCostCalculationType">
            <xs:annotation>
               <xs:documentation>Расчет таможенной стоимости</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
