Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_1/GeneralDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TransportDocuments:Sea:GeneralDeclaration:5.4.0" version="5.4.0.0" xmlns:catTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.4.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.0.5" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:gd="urn:customs.ru:Information:TransportDocuments:Sea:GeneralDeclaration:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.0.5" schemaLocation="TransportCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonAgregateTypesCust:5.4.0" schemaLocation="TransportCommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Общая декларация</xs:documentation>
   </xs:annotation>
   <xs:element name="GeneralDeclaration" type="gd:GeneralDeclarationType"/>
   <xs:complexType name="GeneralDeclarationType">
      <xs:annotation>
         <xs:documentation>Общая (генеральная) декларация</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Notice" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Примечание </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="LanguageCode" type="clt_ru:LanguageCodeType">
                  <xs:annotation>
                     <xs:documentation>Код языка документа </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Carrier" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Наименование судовладельца</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ArrivalIndicator" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак прибытия судна относительно Российской стороны</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="VoyageDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Краткие сведения о рейсе (предыдущие и последующие порты захода; подчеркнуть, где будет выгружен остающийся на борту груз)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="GoodsDescription" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Краткое описание груза</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="MembershipNumber" type="clt_ru:Quantity3Type">
                  <xs:annotation>
                     <xs:documentation>Количество членов экипажа судна, включая капитана</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PassengerNumber" type="clt_ru:Quantity4Type">
                  <xs:annotation>
                     <xs:documentation>Количество пассажиров </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DeparturePort" type="cltTrans_ru:PortNameType">
                  <xs:annotation>
                     <xs:documentation>Название порта отправления судна</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DestinationPort" type="cltTrans_ru:PortNameType">
                  <xs:annotation>
                     <xs:documentation>Название порта назначения судна</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Mooring" type="clt_ru:PlaceNameType">
                  <xs:annotation>
                     <xs:documentation>Место стоянки судна в порту</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="VesselRegistration" type="gd:VesselRegistrationType">
                  <xs:annotation>
                     <xs:documentation>Реквизиты и характеристики судна, сведения о регистрации судна</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DocumentSignature" type="cat_ru:PersonSignatureType">
                  <xs:annotation>
                     <xs:documentation>Подпись документа капитаном, морским агентом или каким-либо другим лицом, надлежащим образом уполномоченным на то капитаном</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="ShipAgent" type="gd:AgentType">
                  <xs:annotation>
                     <xs:documentation>Судовой агент</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice>
                  <xs:annotation>
                     <xs:documentation>Сведения о прибытии или убытии судна </xs:documentation>
                  </xs:annotation>
                  <xs:element name="Arrival" type="gd:GDPortType">
                     <xs:annotation>
                        <xs:documentation>Сведения о прибытии</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="Sailing" type="gd:GDPortType">
                     <xs:annotation>
                        <xs:documentation>Сведения об убытии</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
               <xs:element name="EnclosedDocument" type="gd:EnclosedDocumentType">
                  <xs:annotation>
                     <xs:documentation>Информация о прилагаемых документах</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Customs" type="cat_ru:CustomsType">
                  <xs:annotation>
                     <xs:documentation>Код и наименование таможенного органа</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1003201E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AgentType">
      <xs:annotation>
         <xs:documentation>Информация об агенте</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Name" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Наименование организации или фамилия физического лица</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Phone" type="clt_ru:PhoneNumberType">
            <xs:annotation>
               <xs:documentation>Номер телефона.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PostalAddress" type="cat_ru:AddressType">
            <xs:annotation>
               <xs:documentation>Описание адреса участника (адрес доставки почтовой корреспонденции)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EnclosedDocumentType">
      <xs:annotation>
         <xs:documentation>Информация о прилагаемых документах</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ShipStoresDeclarationCopyNumber" type="clt_ru:Quantity2Type">
            <xs:annotation>
               <xs:documentation>Число копий Декларации о судовых припасах</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SailingCargoDeclarationCopyNumber" type="clt_ru:Quantity2Type">
            <xs:annotation>
               <xs:documentation>Число копий Декларации о грузе при отходе судна</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ArrivalCargoDeclarationCopyNumber" type="clt_ru:Quantity2Type">
            <xs:annotation>
               <xs:documentation>Число копий Декларации о грузе при приходе судна</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CrewListCopyNumber" type="clt_ru:Quantity2Type">
            <xs:annotation>
               <xs:documentation>Число копий Судовой роли</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PassengerListCopyNumber" type="clt_ru:Quantity2Type">
            <xs:annotation>
               <xs:documentation>Число копий Списка пассажиров</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BaggageDeclarationCopyNumber" type="clt_ru:Quantity2Type">
            <xs:annotation>
               <xs:documentation>Число копий Декларации о личных вещах экипажа </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SeaMedicalDeclarationCopyNumber" type="clt_ru:Quantity2Type">
            <xs:annotation>
               <xs:documentation>Число копий Морской санитарной декларации </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GDPortType">
      <xs:annotation>
         <xs:documentation>Сведения о прибытии/убытии судна</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="DateTimeInf" type="clt_ru:DateTimeCustType">
            <xs:annotation>
               <xs:documentation>Дата и время</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PortName" type="cltTrans_ru:PortNameType">
            <xs:annotation>
               <xs:documentation>Название порта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CountyName" type="clt_ru:CountryNameType">
            <xs:annotation>
               <xs:documentation>Наименование страны</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код страны</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="VesselRegistrationType">
      <xs:annotation>
         <xs:documentation>Реквизиты и характеристики судна, сведения о регистрации судна</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="catTrans_ru:VesselType">
            <xs:sequence>
               <xs:element minOccurs="0" name="RegistrationDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата регистрации судна</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RegistrationID" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Номер регистрации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RegistrationPort" type="cltTrans_ru:PortNameType">
                  <xs:annotation>
                     <xs:documentation>Порт регистрации судна</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GrossTonnage" type="clt_ru:Quantity8Type">
                  <xs:annotation>
                     <xs:documentation>Валовая вместимость (тоннаж)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="NetTonnage" type="clt_ru:Quantity8Type">
                  <xs:annotation>
                     <xs:documentation>Чистая вместимость (тоннаж)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="IMO" type="cltTrans_ru:IMOSeaType">
                  <xs:annotation>
                     <xs:documentation>ИМО судна</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Flag" type="clt_ru:CountryNameType">
                  <xs:annotation>
                     <xs:documentation>Флаг судна</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="VesselType" type="clt_ru:Text50Type">
                  <xs:annotation>
                     <xs:documentation>Тип судна</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
