Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_1/GoodsDecision.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:TransportDocuments:GoodsDecision:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltTrans_ru="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.0.5" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:pigd="urn:customs.ru:Information:TransportDocuments:GoodsDecision:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:TransportDocuments:TransportCommonLeafTypesCust:5.0.5" schemaLocation="TransportCommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Предварительное/окончательное решение в отношении товаров при перевозке морским/воздушным/ЖД транспортном</xs:documentation>
   </xs:annotation>
   <xs:element name="GoodsDecision" type="pigd:GoodsDecisionType"/>
   <xs:complexType name="GoodsDecisionType">
      <xs:annotation>
         <xs:documentation>Предварительное/окончательное решение в отношении товаров при перевозке морским/воздушным/ЖД транспортном</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="PI_URN" type="clt_ru:DocumentIDType">
                  <xs:annotation>
                     <xs:documentation>Уникальный идентификатор товарной партии. Формат - URN</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DecisionKind" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Тип решения. 1- предварительное 2 - окончательное</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="TransportKind" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Тип транспорта. 1 - воздушный, 2 - водный, 3- ЖД</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="EstimatedArrival" type="clt_ru:DateTimeCustType">
                  <xs:annotation>
                     <xs:documentation>Расчетные дата и время прибытия в порт</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DecisionDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата принятия решения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DecisionTime" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время принятия решения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustomsOperationPlace" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Место совершения таможенных операций</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CustomsCode" type="clt_ru:CustomsCodeType">
                  <xs:annotation>
                     <xs:documentation>Код таможенного поста</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TSControlDecision" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Принятое решение по ТС</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
                  <xs:annotation>
                     <xs:documentation>Должностное лицо, принимающее решение</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Consignments" type="pigd:ConsignmentsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о товарных партиях</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice>
                  <xs:element name="FlightInfo" type="pigd:FlightInfoType">
                     <xs:annotation>
                        <xs:documentation>Сведения о рейсе</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="Railway" type="pigd:RailwayType">
                     <xs:annotation>
                        <xs:documentation>Сведения о железной дороге</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ShipInfo" type="pigd:ShipInfoType">
                     <xs:annotation>
                        <xs:documentation>Сведения о судне</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:sequence>
            <xs:attribute fixed="1003002E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="AirportInfoType">
      <xs:annotation>
         <xs:documentation>Сведение об аэропорте</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="AirportName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Название аэропорта</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IATACode" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>Код ИАТА</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsignmentsType">
      <xs:annotation>
         <xs:documentation>Сведения о товарных партиях</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ConsignmentNum" type="clt_ru:Count3Type">
            <xs:annotation>
               <xs:documentation>Номер товарной партии</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="BillSerialNumber" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Серийный номер накладной</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="Goods" type="pigd:GoodsType">
            <xs:annotation>
               <xs:documentation>Сведения о товарах</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FlightInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о рейсе</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="FlightNumber" type="clt_ru:Count6Type">
            <xs:annotation>
               <xs:documentation>Номер рейса</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Mark" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Марка воздушного судна</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="AirPlaneRegNum" type="clt_ru:Text10Type">
            <xs:annotation>
               <xs:documentation>Регистрационный номер воздушного судна</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FlightDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата рейса</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FlightTime" type="clt_ru:TimeCustType">
            <xs:annotation>
               <xs:documentation>Время вылета рейса</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DepatureAirport" type="pigd:AirportInfoType">
            <xs:annotation>
               <xs:documentation>Аэропорт вылета</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ArrivalAirport" type="pigd:AirportInfoType">
            <xs:annotation>
               <xs:documentation>Аэропорт прилета</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GoodsType">
      <xs:annotation>
         <xs:documentation>Сведения о товарах</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:GoodsBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="CustControlForm" type="clt_ru:Text50Type">
                  <xs:annotation>
                     <xs:documentation>Форма таможенного контроля</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CustControlResult" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Результат таможенного контроля</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CustControlDecision" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Принятое решение</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="WagonNumber" type="clt_ru:TransportMeansIDType">
                  <xs:annotation>
                     <xs:documentation>Номер вагона</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ContainerNumber" type="clt_ru:TransportMeansIDType">
                  <xs:annotation>
                     <xs:documentation>Номер контейнера</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RailwayType">
      <xs:annotation>
         <xs:documentation>Сведения о железной дороге</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="RailwayCode" type="cltTrans_ru:RailwayCodeType">
            <xs:annotation>
               <xs:documentation>Код железнодорожной дороги </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="StationCode" type="clt_ru:RailwayStationCodeType">
            <xs:annotation>
               <xs:documentation>Код железнодорожной станции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RailwayAndStationName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование дороги и станции назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TrainIndex" type="clt_ru:Code15Type">
            <xs:annotation>
               <xs:documentation>Индекс поезда</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TrainNumber" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
               <xs:documentation>Номер поезда</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ShipInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о судне</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ShipIMO" type="cltTrans_ru:IMOSeaType">
            <xs:annotation>
               <xs:documentation>ИМО номер судна</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ShipName" type="clt_ru:Text50Type">
            <xs:annotation>
               <xs:documentation>Наименование судна</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
