Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_1/LegalEntityInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:SQDocuments:LegalEntityInfo:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:le="urn:customs.ru:Information:SQDocuments:LegalEntityInfo:5.4.0" xmlns:sq_clt="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:Information:SQDocuments:SQCommonLeafTypesCust:5.0.10" schemaLocation="SQCommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Краткие сведения по юр. лицу/Сведения об учете организации в налоговом органе по месту нахождения ее обособленного подразделения/Выписка о юр. лице</xs:documentation>
   </xs:annotation>
   <xs:element name="LegalEntityInfo" type="le:LegalEntityInfoType"/>
   <xs:complexType name="LegalEntityInfoType">
      <xs:annotation>
         <xs:documentation>Краткие сведения по юр. лицу/Сведения об учете организации в налоговом органе по месту нахождения ее обособленного подразделения/Выписка о юр. лице</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element name="DocSign" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Признак документа: 1 - Краткие сведения по юр. лицу; 2 - Сведения об учете организации в налоговом органе по месту нахождения ее обособленного подразделения; 3 - выписка о юр. лице</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ResultCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Код обработки</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="FormDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата формирования сведений из ЕГРЮЛ в отношении юридического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="BaseDetails" type="le:BaseDetailsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о  юридическом лице</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="AuthorizedOrg" type="le:AuthorizedOrgType">
                  <xs:annotation>
                     <xs:documentation>Сведения о лице, имеющем право без доверенности действовать от имени юридического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="TaxRegInfo" type="le:RegInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения об учете в налоговом органе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PensionServiceReg" type="le:RegInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о регистрации юридического лица в качестве страхователя в территориальном органе Пенсионного фонда РФ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="InsuranceServiceReg" type="le:RegInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о регистрации юридического лица в качестве страхователя в исполнительном органе Фонда социального страхования РФ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="License" type="le:LicenseType">
                  <xs:annotation>
                     <xs:documentation>Сведения о лицензии</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="RecordDescription" type="le:RecordDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Сведения о записях, внесенных в ЕГРЮЛ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1009066E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="ActivityType">
      <xs:annotation>
         <xs:documentation>Сведения о кодах по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ActivityCode" type="clt_ru:CodeVariable8Type">
            <xs:annotation>
               <xs:documentation>Код по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ActivitySign" type="clt_ru:DigitalIndicatorType">
            <xs:annotation>
               <xs:documentation>Признак: 0 - основной; 1 - дополнительный</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RecordData" type="le:RecordDataType">
            <xs:annotation>
               <xs:documentation>Сведения о записи</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AuthorizedOrgType">
      <xs:annotation>
         <xs:documentation>Сведения о лице, имеющем право без доверенности действовать от имени юридического лица</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationType">
            <xs:sequence>
               <xs:element name="OrgSign" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Признак: 1 - физ. лицо; 2 -  российское юр. лицо; 3 - иностранное юр. лицо</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PersonPost" type="clt_ru:PostType">
                  <xs:annotation>
                     <xs:documentation>Должность</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PersonKindCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Вид должностного лица по справочнику СКФЛЮЛ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PersonKindName" type="clt_ru:Code15Type">
                  <xs:annotation>
                     <xs:documentation>Наименование вида должностного лица по справочнику СКФЛЮЛ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OriginCountryCode" type="clt_ru:CountryN3CodeType">
                  <xs:annotation>
                     <xs:documentation>Код страны происхождения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OriginCountryName" type="clt_ru:CountryNameType">
                  <xs:annotation>
                     <xs:documentation>Наименование страны происхождения</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BaseDetailsType">
      <xs:annotation>
         <xs:documentation>Сведения о  юридическом лице</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="OGRNDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата присвоения ОГРН</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BrandName" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Фирменное наименование юридического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OrgStatusInfo" type="le:OrgStatusInfoType">
                  <xs:annotation>
                     <xs:documentation>Сведения о правоспособности (статусе) юридического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OrgAddress" type="le:OrgAddressType">
                  <xs:annotation>
                     <xs:documentation>Сведения об адресе (месте нахождения) постоянно действующего исполнительного органа юр. лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="BranchDescription" type="le:BranchDescriptionType">
                  <xs:annotation>
                     <xs:documentation>Сведения об обособленном подразделении</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OrganizationForm" type="le:OrganizationFormType">
                  <xs:annotation>
                     <xs:documentation>Сведения об организационно-правовой форме</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RecordData" type="le:RecordDataType">
                  <xs:annotation>
                     <xs:documentation>Сведения о записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LegalEntityFormation" type="le:LegalEntityFormationType">
                  <xs:annotation>
                     <xs:documentation>Сведения об образовании юридического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SuccessionData" type="le:SuccessionDataType">
                  <xs:annotation>
                     <xs:documentation>Сведения о правопреемстве</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OrgCapital" type="le:OrgCapitalType">
                  <xs:annotation>
                     <xs:documentation>Сведения о размере указанного в учредительных документах коммерческой организации уставного капитала (складочного капитала, уставного фонда, паевого фонда)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="CapitalReduction" type="le:OrgCapitalType">
                  <xs:annotation>
                     <xs:documentation>Сведения о нахождении хозяйственного общества в процессе уменьшения уставного капитала</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Founder" type="le:FounderType">
                  <xs:annotation>
                     <xs:documentation>Сведения об учредителе юридического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LLCShare" type="le:ShareType">
                  <xs:annotation>
                     <xs:documentation>Сведения о доле, принадлежащей обществу с ограниченной ответственностью</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Holder" type="le:ParticipantType">
                  <xs:annotation>
                     <xs:documentation>Сведения о держателе реестра акционеров акционерного общества</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="PermitPerson" type="le:ParticipantType">
                  <xs:annotation>
                     <xs:documentation>Сведения о лице, имеющем право без доверенности действовать от имени юридического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ForeignPermitPerson" type="le:FounderType">
                  <xs:annotation>
                     <xs:documentation>Сведения об управляющей организации - иностранном юридическом лице</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Activity" type="le:ActivityType">
                  <xs:annotation>
                     <xs:documentation>Сведения о кодах по Общероссийскому классификатору видов экономической деятельности</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="BranchDescriptionType">
      <xs:annotation>
         <xs:documentation>Сведения об обособленном подразделении</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUBranchDescriptionType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BranchKind" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Вид подразделения: 0 - филиал; 1 - представительство</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ForeignAddress" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес места расположения за пределами территории РФ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RecordData" type="le:RecordDataType">
                  <xs:annotation>
                     <xs:documentation>Сведения о записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DisqualificationType">
      <xs:annotation>
         <xs:documentation>Сведения о дисквалификации</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DisqualifTerm" type="clt_ru:Count2Type">
            <xs:annotation>
               <xs:documentation>Срок дисквалификации (в месяцах)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DisqualifStartDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата начала дисквалификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DisqualifEndDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата окончания дисквалификации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RecordData" type="le:RecordDataType">
            <xs:annotation>
               <xs:documentation>Сведения о записи</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FounderType">
      <xs:annotation>
         <xs:documentation>Сведения об учредителе юридического лица</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType">
            <xs:sequence>
               <xs:element name="OrgSign" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Признак: 1 - физ. лицо; 2 - российское юр. лицо; 3 - орган государственной власти или орган местного самоуправления; 4 - иностранное юр. лицо; 5 - паевой инвестиционный фонд</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OriginCountryCode" type="clt_ru:CountryN3CodeType">
                  <xs:annotation>
                     <xs:documentation>Код страны происхождения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OriginCountryName" type="clt_ru:CountryNameType">
                  <xs:annotation>
                     <xs:documentation>Наименование страны происхождения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата регистрации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegNum" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="InheritanceOpenDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата открытия наследства (дата смерти участника)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="FounderKindCode" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Код вида учредителя: 1 - доля принадлежит РФ; 2 - доля принадлежит субъекту РФ; 3 - доля принадлежит муниципальному образованию</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RFSubjectCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Код субъекта Российской Федерации которому принадлежит доля или на территории которого находится муниципальное образование, которому принадлежит доля</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RFSubjectName" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Наименование субъекта Российской Федерации / Наименование муниципального образования</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Share" type="le:ShareType">
                  <xs:annotation>
                     <xs:documentation>Доля в уставном капитале</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RecordData" type="le:RecordDataType">
                  <xs:annotation>
                     <xs:documentation>Сведения о записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegOrgan" type="le:RegOrganType">
                  <xs:annotation>
                     <xs:documentation>Сведения о регистрирующем органе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ForeignAddress" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес места жительства (места пребывания) за пределами территории РФ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ShareManager" type="le:ShareManagerType">
                  <xs:annotation>
                     <xs:documentation>Сведения о лице, осуществляющем управление долей, переходящей в порядке наследования / Сведения об управляющей компании, осуществляющей доверительное управление</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="LegalEntityFormationType">
      <xs:annotation>
         <xs:documentation>Сведения об образовании юридического лица</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="le:ReferenceInfoType">
            <xs:sequence>
               <xs:element name="RegDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата регистрации юридического лица при образовании</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegNum" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер, присвоенный юридическому лицу при образовании</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RecordData" type="le:RecordDataType">
                  <xs:annotation>
                     <xs:documentation>Сведения о записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegOrgan" type="le:RegOrganType">
                  <xs:annotation>
                     <xs:documentation>Орган, зарегистрировавший создание ЮЛ</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="LegalEntityTerminationType">
      <xs:annotation>
         <xs:documentation>Сведения о прекращении юридического лица</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="le:ReferenceInfoType">
            <xs:sequence>
               <xs:element name="EndDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата прекращения юридического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RegOrgan" type="le:RegOrganType">
                  <xs:annotation>
                     <xs:documentation>Сведения о регистрирующем (налоговом) органе, зарегистрировавшем прекращение деятельности юридического лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RecordData" type="le:RecordDataType">
                  <xs:annotation>
                     <xs:documentation>Сведения о записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="LicenseType">
      <xs:annotation>
         <xs:documentation>Сведения о лицензии</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="BeginDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата начала действия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ExpirationDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата окончания действия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LicenseSeries" type="clt_ru:Text10Type">
                  <xs:annotation>
                     <xs:documentation>Серия документа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LicenseKind" type="clt_ru:CodeVariable10Type">
                  <xs:annotation>
                     <xs:documentation>Вид лицензии</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LicensedServiceName" type="sq_clt:FreeText4000Type">
                  <xs:annotation>
                     <xs:documentation>Наименование лицензируемого вида деятельности</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RecordData" type="le:RecordDataType">
                  <xs:annotation>
                     <xs:documentation>Сведения о записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="LicensedServicePlace" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Сведения об месте осуществления лицензируемого вида деятельности</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="LicenseOrg" type="le:RegOrganType">
                  <xs:annotation>
                     <xs:documentation>Наименование лицензирующего органа, выдавшего или переоформившего лицензию</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Suspension" type="le:SuspensionType">
                  <xs:annotation>
                     <xs:documentation>Сведения о приостановлении действия лицензии</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="OrgAddressType">
      <xs:annotation>
         <xs:documentation>Сведения об адресе (месте нахождения) постоянно действующего исполнительного органа юр. лица</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:AddressType">
            <xs:sequence>
               <xs:element minOccurs="0" name="KLADRCode" type="clt_ru:Count19Type">
                  <xs:annotation>
                     <xs:documentation>Код адреса по КЛАДР</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="SubjectCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Код субъекта РФ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ImpossibleContact" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак невозможности взаимодействия с юридическим лицом по содержащемуся в ЕГРЮЛ адресу: 0 - если юр. лицо не располагается по адресу, указанному при государственной регистрации; 1 - если адрес, указанный юр. лицом при государственной регистрации, не существует</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RecordData" type="le:RecordDataType">
                  <xs:annotation>
                     <xs:documentation>Сведения о записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="OrgCapitalType">
      <xs:annotation>
         <xs:documentation>Сведения о размере указанного в учредительных документах коммерческой организации уставного капитала (складочного капитала, уставного фонда, паевого фонда)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="OrgCapitalAmount" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Размер уставного капитала / Величина, на которую уменьшается уставный капитал</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OrgCapitalName" type="clt_ru:CodeVariable20Type">
            <xs:annotation>
               <xs:documentation>Наименование вида капитала</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ReduceWay" type="clt_ru:Numeric1Type">
            <xs:annotation>
               <xs:documentation>Способ уменьшения уставного капитала общества: 0 - путем уменьшения номинальной стоимости акций; 1 - путем сокращения общего количества акций</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CurrencyCode" type="clt_ru:CurrencyA3CodeType">
            <xs:annotation>
               <xs:documentation>Код валюты</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DecisionDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата принятия решения об уменьшении уставного капитала</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RecordData" type="le:RecordDataType">
            <xs:annotation>
               <xs:documentation>Сведения о записи</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OrgStatusInfoType">
      <xs:annotation>
         <xs:documentation>Сведения о правоспособности (статусе) юридического лица</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="StartDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата начала действия указанных сведений</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="StatusCode" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>Код статуса юридического лица по справочнику СЮЛСТ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="StatusName" type="clt_ru:FreeText500Type">
            <xs:annotation>
               <xs:documentation>Наименование статуса юридического лица по справочнику СЮЛСТ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RegOrgan" type="le:RegOrganType">
            <xs:annotation>
               <xs:documentation>Сведения о регистрирующем (налоговом) органе по месту нахождения юр. лица</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RecordData" type="le:RecordDataType">
            <xs:annotation>
               <xs:documentation>Сведения о записи</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OrganizationFormType">
      <xs:annotation>
         <xs:documentation>Сведения об организационно-правовой форме</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="ClassifierName" type="clt_ru:CodeVariable5Type">
            <xs:annotation>
               <xs:documentation>Наименование классификатора по которому введены сведения об организационно-правовой форме: ОКОПФ, КОПФ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ClassifierCode" type="clt_ru:CodeVariable5Type">
            <xs:annotation>
               <xs:documentation>Код по выбранному классификатору</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FormName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Полное наименование организационно-правовой формы</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ParticipantType">
      <xs:annotation>
         <xs:documentation>Сведения о лице</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUOrganizationType">
            <xs:sequence>
               <xs:element name="OrgSign" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Признак: 1 - физ. лицо; 2 - российское юр. лицо; 3 - иностранное юр. лицо</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="PersonPost" type="clt_ru:PostType">
                  <xs:annotation>
                     <xs:documentation>Должность</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OriginCountryCode" type="clt_ru:CountryN3CodeType">
                  <xs:annotation>
                     <xs:documentation>Код страны происхождения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="OriginCountryName" type="clt_ru:CountryNameType">
                  <xs:annotation>
                     <xs:documentation>Наименование страны происхождения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата регистрации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegNum" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BranchDescription" type="sq_clt:FreeText4000Type">
                  <xs:annotation>
                     <xs:documentation>Полное наименование представительства или филиала в РФ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RecordData" type="le:RecordDataType">
                  <xs:annotation>
                     <xs:documentation>Сведения о записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ForeignAddress" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес места жительства (места пребывания) за пределами территории РФ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="Disqualification" type="le:DisqualificationType">
                  <xs:annotation>
                     <xs:documentation>Сведения о дисквалификации</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AuthorizedPerson" type="le:ReferenceInfoType">
                  <xs:annotation>
                     <xs:documentation>Вид должностного лица</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RegOrgan" type="le:RegOrganType">
                  <xs:annotation>
                     <xs:documentation>Сведения о регистрирующем органе</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RecordDataType">
      <xs:annotation>
         <xs:documentation>Сведения о записи</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RecordDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата внесения сведений в ЕГРЮЛ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RecordRegNum" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Государственный регистрационный номер записи, на основании которой сведения внесены в ЕГРЮЛ</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RecordDescriptionType">
      <xs:annotation>
         <xs:documentation>Сведения о записях, внесенных в ЕГРЮЛ</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="le:ReferenceInfoType">
            <xs:sequence>
               <xs:element name="RecordSign" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак того, что запись действующая</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="InputDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата внесения сведений о выданном свидетельстве в ЕГРЮЛ / Дата внесения сведений в ЕГРЮЛ о признании записи недействительной</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="RecordRegNum" type="clt_ru:DocumentNumberType">
                  <xs:annotation>
                     <xs:documentation>Государственный регистрационный номер записи, на основании которой внесены сведения о выданном свидетельстве / Государственный регистрационный номер записи, на основании которой внесены сведения о признании данной записи недействительной</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BlankSeries" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Серия бланка свидетельства</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="BlankNum" type="clt_ru:CodeVariable10Type">
                  <xs:annotation>
                     <xs:documentation>Номер бланка свидетельства</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RegOrgan" type="le:RegOrganType">
                  <xs:annotation>
                     <xs:documentation>Сведения о регистрирующем органе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RecordData" type="le:RecordDataType">
                  <xs:annotation>
                     <xs:documentation>Сведения о записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ReferenceInfoType">
      <xs:annotation>
         <xs:documentation>Справочная информация</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Code" type="clt_ru:CodeVariable5Type">
            <xs:annotation>
               <xs:documentation>Код по справочнику</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Name" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RegInfoType">
      <xs:annotation>
         <xs:documentation>Сведения об учете в органе</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="RegDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата постановки на учет в налоговом органе / Дата регистрации юридического лица в качестве страхователя</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TaxRegDateEnd" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата снятия с учета в налоговом органе</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RegNum" type="clt_ru:DocumentNumberType">
            <xs:annotation>
               <xs:documentation>Регистрационный номер в органе</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RegData" type="cat_ru:RFOrganizationFeaturesType">
            <xs:annotation>
               <xs:documentation>Регистрационные данные</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="TaxOrgan" type="le:RegOrganType">
            <xs:annotation>
               <xs:documentation>Сведения о налоговом органе, осуществившем постановку на учет юридического лица</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RecordData" type="le:RecordDataType">
            <xs:annotation>
               <xs:documentation>Сведения о записи</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RegOrganType">
      <xs:annotation>
         <xs:documentation>Сведения о регистрирующем (налоговом) органе по месту нахождения юр. лица</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="OrganCode" type="clt_ru:CodeVariable6Type">
            <xs:annotation>
               <xs:documentation>Код органа по справочнику</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OrganName" type="clt_ru:NameType">
            <xs:annotation>
               <xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RegOrganAddress" type="cat_ru:AddressType">
            <xs:annotation>
               <xs:documentation>Адрес налогового органа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ShareManagerType">
      <xs:annotation>
         <xs:documentation>Сведения о лице, осуществляющем управление долей, переходящей в порядке наследования / Сведения об управляющей компании, осуществляющей доверительное управление / представитель управляющей организации - иностранного юридического лица</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="le:ParticipantType"/>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="ShareType">
      <xs:annotation>
         <xs:documentation>Доля в уставном капитале</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Numerator" type="clt_ru:Count19Type">
            <xs:annotation>
               <xs:documentation>Размер доли в простых дробях. Числитель</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Denumerator" type="clt_ru:Count19Type">
            <xs:annotation>
               <xs:documentation>Размер доли в простых дробях. Знаменатель</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Percent" type="clt_ru:ProcentNumericType">
            <xs:annotation>
               <xs:documentation>Размер доли в процентах, %</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DecimalFraction" type="clt_ru:QuantityBasisType">
            <xs:annotation>
               <xs:documentation>Размер доли в десятичных дробях</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="NominalCost" type="clt_ru:AmountType">
            <xs:annotation>
               <xs:documentation>Номинальная стоимость в рублях</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PledgeSign" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак нахождения доли в залоге или в ином обременении</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RecordData" type="le:RecordDataType">
            <xs:annotation>
               <xs:documentation>Сведения о записи</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SuccessionDataType">
      <xs:annotation>
         <xs:documentation>Сведения о правопреемстве</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="SuccessionCode" type="clt_ru:Code3Type">
            <xs:annotation>
               <xs:documentation>код преемства по справочнику СВПРЮЛ</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="OGRNIP" type="clt_ru:OGRNIDType">
            <xs:annotation>
               <xs:documentation>Основной государственный регистрационный номер индивидуального предпринимателя (ОГРНИП)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="INN" type="clt_ru:INNIDType">
            <xs:annotation>
               <xs:documentation>ИНН физического лица</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="SelfSuccessor" type="le:SuccessionDetailsType">
            <xs:annotation>
               <xs:documentation>Сведения о юридическом лице, правопреемником которого являлось юридическое лицо при создании путем реорганизации или при реорганизации в форме присоединения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="OwnSuccessor" type="le:SuccessionDetailsType">
            <xs:annotation>
               <xs:documentation>Сведения о юридическом лице - правопреемнике  при прекращении деятельности в результате реорганизации или при реорганизации в форме выделения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Farm" type="cat_ru:CUOrganizationType">
            <xs:annotation>
               <xs:documentation>Сведения о крестьянском (фермерском) хозяйстве (КФХ), на базе имущества которого создано юридическое лицо, или о КФХ, сведения о котором внесены в ЕГРИП, при приведении статуса КФХ в соответствие с действующим законодательством</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RecordData" type="le:RecordDataType">
            <xs:annotation>
               <xs:documentation>Сведения о записи</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SuccessionDetailsType">
      <xs:annotation>
         <xs:documentation>Описание правопреемства</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="le:ReferenceInfoType">
            <xs:sequence>
               <xs:element name="RecordData" type="le:RecordDataType">
                  <xs:annotation>
                     <xs:documentation>Сведения о записи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="OrgInfo" type="cat_ru:OrganizationBaseType">
                  <xs:annotation>
                     <xs:documentation>Сведения о юридическом лице</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SuspensionType">
      <xs:annotation>
         <xs:documentation>Сведения о приостановлении действия лицензии</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="EndDate" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата приостановления</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RegOrgan" type="le:RegOrganType">
            <xs:annotation>
               <xs:documentation>Наименование лицензирующего органа, приостановившего действие лицензии</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
