Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_1/NotifInspectionReqGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:NotifInspectionReqGoods:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:ntfin="urn:customs.ru:Information:CustomsDocuments:NotifInspectionReqGoods:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Уведомление о проведении таможенного досмотра/ Требование о предъявлении товаров </xs:documentation>
   </xs:annotation>
   <xs:element name="NotifInspectionReqGoods" type="ntfin:NotifInspectionReqGoodsType"/>
   <xs:complexType name="NotifInspectionReqGoodsType">
      <xs:annotation>
         <xs:documentation>Уведомление о проведении таможенного досмотра/ Требование о предъявлении товаров </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Otherwise" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Иные случаи</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="NotifReqDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата уведомления/требования</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="InspDate" type="clt_ru:DateCustType">
                  <xs:annotation>
                     <xs:documentation>Дата проведения досмотра</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="InspTime" type="clt_ru:TimeCustType">
                  <xs:annotation>
                     <xs:documentation>Время проведения досмотра</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="IdentificationGoods" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Информация, идентифицирующая товары</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Presence" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак того, что требуется присутствие при таможенном досмотре</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DocumentKind" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Тип документа: 0- уведомление о проведении таможенного досмотра, 1 - требование о предъявлении товаров</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Customs" type="cat_ru:CUCustomsType">
                  <xs:annotation>
                     <xs:documentation>Сведения о таможенном органе</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GTDID" type="cat_ru:GTDIDType">
                  <xs:annotation>
                     <xs:documentation>Регистрационный номер ДТ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="InspectionPlace" type="ntfin:InspectionPlaceType">
                  <xs:annotation>
                     <xs:documentation>Место проведения таможенного досмотра (осмотра)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
                  <xs:annotation>
                     <xs:documentation>Должностное лицо таможенного органа</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="DirectionNotifReq" type="ntfin:DirectionNotifReqType">
                  <xs:annotation>
                     <xs:documentation>При направлении уведомления/требования по почте или иным способом</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Declarant" type="ntfin:DeclarantType">
                  <xs:annotation>
                     <xs:documentation>Сведения о декларанте, ином лице, обладающем полномочиями в отношении товаров и (или) транспортных средств, и их представителей.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006137E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы.</xs:documentation>
   </xs:annotation>
   <xs:complexType name="DeclarantType">
      <xs:annotation>
         <xs:documentation>Сведения о декларанте, ином лице, обладающем полномочиями в отношении товаров и (или) транспортных средств, и их представителей.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Representative" type="cat_ru:OrganizationBaseType">
                  <xs:annotation>
                     <xs:documentation>Представитель</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DirectionNotifReqType">
      <xs:annotation>
         <xs:documentation>При направлении уведомления/требования по почте или иным способом</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="MethodDirection" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Способ направления </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DateDirection" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата направления </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Address" type="cat_ru:AddressType">
            <xs:annotation>
               <xs:documentation>Адрес </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Person" type="cat_ru:PersonBaseType">
            <xs:annotation>
               <xs:documentation>Лицо, принявшее уведомление</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CustomsPerson" type="cat_ru:CustomsPersonType">
            <xs:annotation>
               <xs:documentation>Должностное лицо, направившее уведомление</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InspectionPlaceType">
      <xs:annotation>
         <xs:documentation>Описание места проведения досмотра. </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:CUCustomsType">
            <xs:sequence>
               <xs:element name="InformationTypeCode" type="clt_ru:Code2Type">
                  <xs:annotation>
                     <xs:documentation>Тип информации: 11- СВХ;  21- ТС; 25 - Свободный склад; 31- Склад получателя; 41 - Склад хранения собственных товаров (для РК); 52 - Транспортное средство (для РК); 60 - Помещение (площадки) УЭО; 72 - ЗТК (для РБ); 91 - Адрес места хранения  (для РБ); 99 - Иное место ВХ, 80- ОЭЗ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="InspPlaceName" type="clt_ru:PlaceNameType">
                  <xs:annotation>
                     <xs:documentation>Наименование места досмотра, СВХ, ж/д станции</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="InspPlaceDesc" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Описание места проведения досмотра. Иная информация о месте досмотра</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="WarehousePlace" type="ntfin:WarehousePlaceType">
                  <xs:annotation>
                     <xs:documentation>Сведения о СВХ</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="InspAddress" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Адрес места досмотра (заполняется, в случае досмотра вне СВХ)</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="WarehousePlaceType">
      <xs:annotation>
         <xs:documentation>Место погрузки/разгрузки. Сведения о лицензии/ свидетельстве склада.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DocumentModeCode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип документа:1-Лицензия 2-Свидетельство</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
