Router/schemas-src/eps-fts-schemas/src/main/schemas/album_5_4_1/TransportDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:customs.ru:Information:CustomsDocuments:TransportDeclaration:5.4.0" version="5.4.0.0" xmlns:cat_ru="urn:customs.ru:CommonAggregateTypes:5.4.0" xmlns:cltESAD_cu="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" xmlns:cltESAD_ru="urn:customs.ru:RUCommonLeafTypes:5.4.0" xmlns:clt_ru="urn:customs.ru:CommonLeafTypes:5.4.0" xmlns:trdecl="urn:customs.ru:Information:CustomsDocuments:TransportDeclaration:5.4.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:import namespace="urn:customs.ru:CommonLeafTypes:5.4.0" schemaLocation="CommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CommonAggregateTypes:5.4.0" schemaLocation="CommonAggregateTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:RUCommonLeafTypes:5.4.0" schemaLocation="RUESADCommonLeafTypesCust.xsd"/>
   <xs:import namespace="urn:customs.ru:CUESADCommonLeafTypes:5.4.0" schemaLocation="CUESADCommonLeafTypesCust.xsd"/>
   <xs:annotation>
      <xs:documentation>Таможенная декларация на транспортное средство</xs:documentation>
   </xs:annotation>
   <xs:element name="TransportDeclaration" type="trdecl:TransportDeclarationType"/>
   <xs:complexType name="TransportDeclarationType">
      <xs:annotation>
         <xs:documentation>Таможенная декларация на транспортное средство</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:BaseDocType">
            <xs:sequence>
               <xs:element minOccurs="0" name="Status" type="clt_ru:DigitalIndicatorType">
                  <xs:annotation>
                     <xs:documentation>0 - Ввоз; 1 - Вывоз</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="StoreInfo" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак наличия припасов в ТСМП</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="GoodsInfo" type="clt_ru:IndicatorType">
                  <xs:annotation>
                     <xs:documentation>Признак наличия товаров в ТСМП</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Purpose" type="clt_ru:Numeric1Type">
                  <xs:annotation>
                     <xs:documentation>Цель ввоза/вывоза (1 - для начала международной перевозки грузов, пассажиров и (или) багажа на таможенной территории; 2 - для начала международной перевозки грузов, пассажиров и (или) багажа за пределы таможенной территории; 3 - для завершения международной перевозки грузов, пассажиров и (или) багажа на таможенной территории; 4 - для завершения международной перевозки грузов, пассажиров и (или) багажа за пределами таможенной территории)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="AdditionalInfo" type="clt_ru:FreeText250Type">
                  <xs:annotation>
                     <xs:documentation>Дополнительные сведения</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" name="TSInfo" type="trdecl:TSInfoType">
                  <xs:annotation>
                     <xs:documentation>Транспортное средство</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:choice>
                  <xs:element name="Carrier" type="trdecl:CarrierType">
                     <xs:annotation>
                        <xs:documentation>Лицо, осуществляющее перевозку товаров</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element maxOccurs="unbounded" name="DateStamp" type="trdecl:DateStampType">
                     <xs:annotation>
                        <xs:documentation>Сведения, указанные на календарном штемпеле</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
               <xs:element name="Route" type="trdecl:RouteType">
                  <xs:annotation>
                     <xs:documentation>Маршрут</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CrewInfo" type="trdecl:CrewInfoType">
                  <xs:annotation>
                     <xs:documentation>Экипаж</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Passengers" type="trdecl:PassengersType">
                  <xs:annotation>
                     <xs:documentation>Пассажиры</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="OperatingEquipment" type="trdecl:OperatingEquipmentType">
                  <xs:annotation>
                     <xs:documentation>Запасные части и оборудование</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Signer" type="trdecl:SignerType">
                  <xs:annotation>
                     <xs:documentation>Подпись лица, заявляющего сведения</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute fixed="1006159E" name="DocumentModeID" type="clt_ru:DocumentModeIDType" use="required">
               <xs:annotation>
                  <xs:documentation>Идентификатор вида документа</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Локальные прикладные типы</xs:documentation>
   </xs:annotation>
   <xs:complexType name="CarrierType">
      <xs:annotation>
         <xs:documentation>Лицо, осуществляющее перевозку товаров</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:OrganizationBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="CarrierAddress" type="cat_ru:AddressType">
                  <xs:annotation>
                     <xs:documentation>Место нахождения перевозчика в соответствии с транспортными (перевозочными) документами</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Representative" type="cat_ru:PersonBaseType">
                  <xs:annotation>
                     <xs:documentation>Представитель перевозчика</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="CrewInfoType">
      <xs:annotation>
         <xs:documentation>Экипаж</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CrewDescription" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Экипаж (команда судна, поездная бригада и т.п.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TotalMemberCount" type="clt_ru:CodeVariable4Type">
            <xs:annotation>
               <xs:documentation>Общее количество членов экипажа</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CustomsRepresCertificateType">
      <xs:annotation>
         <xs:documentation>Свидетельство о включении лица в Реестр таможенных представителей</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:DocumentBaseType">
            <xs:sequence>
               <xs:element minOccurs="0" name="DocumentModeCode" type="clt_ru:LetterIndicatorType">
                  <xs:annotation>
                     <xs:documentation>Тип документа:2 - свидетельство таможенного  представителя (брокера ); 3 - свидетельство таможенного представителя.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DateStampType">
      <xs:annotation>
         <xs:documentation>Сведения, указанные на календарном штемпеле</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Date" type="clt_ru:DateCustType">
            <xs:annotation>
               <xs:documentation>Дата проставления штемпеля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RWStation" type="trdecl:RWStationType">
            <xs:annotation>
               <xs:documentation>ЖД станция проставления штемпеля</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Customs" type="cat_ru:CustomsType">
            <xs:annotation>
               <xs:documentation>Таможенный орган</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Officer" type="cat_ru:PersonSignatureType">
            <xs:annotation>
               <xs:documentation>Ответственный работник станции</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OperatingEquipmentType">
      <xs:annotation>
         <xs:documentation>Запасные части и оборудование</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="GoodsSign" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Наличие запасных частей и оборудования, предназначенных для ремонта и эксплуатации ТСМП</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="4" minOccurs="0" name="EquipmentName" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Наименование запасных частей и оборудования</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="EquipmentDescription" type="cat_ru:SupplementaryQuantityType">
            <xs:annotation>
               <xs:documentation>Краткое описание и количество запасных частей и оборудования</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PassengersType">
      <xs:annotation>
         <xs:documentation>Пассажиры</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TSMPPassenger" type="clt_ru:IndicatorType">
            <xs:annotation>
               <xs:documentation>Признак наличия пассажиров, перевозимых в ТСМП</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MemberCount" type="clt_ru:CodeVariable4Type">
            <xs:annotation>
               <xs:documentation>Количество пассажиров, перевозимых в ТСМП</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RWStationType">
      <xs:annotation>
         <xs:documentation>ЖД станция</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="StationCode" type="clt_ru:RailwayStationCodeType">
            <xs:annotation>
               <xs:documentation>Код станции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="StationName" type="clt_ru:PlaceNameType">
            <xs:annotation>
               <xs:documentation>Наименование станции</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="RailwayCode" type="clt_ru:CodeVariable4Type">
            <xs:annotation>
               <xs:documentation>Код железнодорожной дороги </xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RouteType">
      <xs:annotation>
         <xs:documentation>Маршрут</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="DestinationCountry" type="clt_ru:CountryNameType">
            <xs:annotation>
               <xs:documentation>Страна назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="DestinationCountryCode" type="clt_ru:CountryA2CodeType">
            <xs:annotation>
               <xs:documentation>Код страны назначения</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DestinationPlace" type="clt_ru:FreeText250Type">
            <xs:annotation>
               <xs:documentation>Пункт назначения (номер рейса)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SignerType">
      <xs:annotation>
         <xs:documentation>Подпись лица, заявляющего сведения</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="cat_ru:PersonSignatureType">
            <xs:sequence>
               <xs:element minOccurs="0" name="RepresentativeName" type="clt_ru:NameType">
                  <xs:annotation>
                     <xs:documentation>Наименование таможенного представителя</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="Sertificate" type="trdecl:CustomsRepresCertificateType">
                  <xs:annotation>
                     <xs:documentation>Свидетельство о включении лица в реестр таможенных представителей</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element minOccurs="0" name="ServiceContract" type="cat_ru:DocumentBaseType">
                  <xs:annotation>
                     <xs:documentation>Договор на оказание услуг по совершению таможенных операций в отношении временно ввозимых (вывозимых) ТСМП</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="TSInfoType">
      <xs:annotation>
         <xs:documentation>Транспортное средство</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Mark" type="cltESAD_cu:GoodsArticulType">
            <xs:annotation>
               <xs:documentation>Марка</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Model" type="cltESAD_cu:GoodsArticulType">
            <xs:annotation>
               <xs:documentation>Модель</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Kind" type="cltESAD_cu:TransportKindCodeType">
            <xs:annotation>
               <xs:documentation>Тип транспортного средства</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RegNumber" type="clt_ru:TransportMeansIDType">
            <xs:annotation>
               <xs:documentation>Номер регистрации</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CountryName" type="clt_ru:CountryNameType">
            <xs:annotation>
               <xs:documentation>Страна регистрации транспортного средства. Если страна, в которой зарегистрировано ТС, на момент декларирования неизвестна, то указываются два нуля "00"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="VINID" type="clt_ru:VINIDType">
            <xs:annotation>
               <xs:documentation>Идентификационный номер (VIN)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
